footer#widgets-and-credits {
    background-color: #222222;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 23.5vw;
    color: #ffffff;
    font-size: .8em;
    padding: 5em 2.5em 21vw;
    position: relative;
}

footer#widgets-and-credits aside.footer_widget {
    display: inline-grid;
    overflow: hidden;
    margin: 2em 2em 4em;
    width: calc( 100% - 4em);
    text-align: left;
}

footer#widgets-and-credits  > a {
    font-size: .9em;
    left: 1em;
    position: absolute;
    top: 1em;
}

footer#widgets-and-credits  > a:focus {
    color: #ffffff;
}

footer#widgets-and-credits aside.footer_widget a {
    color: #aaaaaa;
}

footer#widgets-and-credits aside.footer_widget h1 a,
footer#widgets-and-credits aside.footer_widget h2 a,
footer#widgets-and-credits aside.footer_widget h3 a,
footer#widgets-and-credits aside.footer_widget h4 a,
footer#widgets-and-credits aside.footer_widget h5 a,
footer#widgets-and-credits aside.footer_widget h6 a {
    color: #ffffff;
}

footer#widgets-and-credits aside.footer_widget a:focus,
footer#widgets-and-credits aside.footer_widget a:hover {
    color: #c52b30;
}

footer#widgets-and-credits aside.footer_widget h4 {
    border-top: #ffffff solid .3em;
    font-size: 2em;
    line-height: 2em;
}

footer#widgets-and-credits aside.footer_widget ul {
    list-style: none;
}

footer#widgets-and-credits aside.footer_widget ul li {
    padding-left: .125em;
}


footer#widgets-and-credits section#credit-to-schwarttzy {
    border-top: #555555 solid .04em;
    clear: both;
    color: #777777;
    font-size: .8em;
    margin: 0 auto;
    max-width: 70em;
    min-width: 68vw;
    padding: 3.125em 0;
}

footer#widgets-and-credits section#credit-to-schwarttzy a {
    font-weight: normal;
}

footer#widgets-and-credits section#credit-to-schwarttzy p {
    text-align: center;
}

footer#widgets-and-credits .screen-reader-text {
    display: none;
}

@media all and (min-width:60em) {
    
    footer#widgets-and-credits aside.footer_widget {
        width: 20vw;
    }
    
    footer#widgets-and-credits aside .video-container,
    footer#widgets-and-credits aside .embed-vimeo,
    footer#widgets-and-credits aside .embed-youtube {
        max-width: 100%;
        padding: 0 0 10.125vw;
        width: 18vw;
    }
    
}