/*About theme*/
#wpwrap{
	background: #fff;
	letter-spacing: 1px;
}
.col-left{
	width: 65%;
	float: left;
	padding: 0 10px;
}
.col-right{
	width: 33%;
	float: right;
}
.wrapper-info img{
	width: 100%;
}
.wrapper-info h3 {
    text-transform: uppercase;
}
.col-right img {
    border: solid 1px #ccc;
}
.wrapper-info h4 {
    margin: 0;
    color: #333;
    font-size: 14px;
    border-bottom: double 3px;
    display: table;
    padding-bottom: 10px;
}
#wpcontent, #wpfooter {
    margin-right: 20px;
}
.centerbold a {
    border: solid #000 1px;
    color: #000;
    padding: 9px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
}
.centerbold a:hover {
    color: #fff;
    background: #54bfed;
    box-shadow: 4px 4px 0 0 #bbb;
    border: none;
}
.centerbold {
    text-align: center;
}
.secondhr{
    margin-top: 20px;
}
.firsthr{
    margin-bottom:20px;
}
.col-left p {
    color: #6b6969;
    font-size: 14px;
}
