/* accent color*/

.intro-image h3:after { background-color: #00afa4; }
.slick-dots li.slick-active button:before { background-color: #00afa4; }
.page-numbers .current { background-color: #00afa4; border-color: #00afa4; }
.comment-reply-link, .comment-reply-login { color: #00afa4; }
/* hover color */

.btn:hover, .wpcf7-submit:hover, .wpcf7-submit:focus, .wpcf7-submit:active, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn { background-color: #fbcc3f; border-color: #fbcc3f; }

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl { background-color: #fbcc3f; border-color: #fbcc3f; }

.navbar-default .nav li a:after { border-color: #fbcc3f; }

#back-top a:hover { background-color: #fbcc3f; }

.page-numbers li a:hover { background-color: #fbcc3f; border-color: #fbcc3f; }

.blog-post .blog-post-body a:hover { color: #fbcc3f; }

a:hover, a:focus, a:active, a.active { color: #fbcc3f; }

.post-navigation .nav-links a:hover { color: #fbcc3f; }

.mz-sidebar .widget ul li a:hover { color: #fbcc3f; }