/*
 * Theme Customizer CSS
 *
 */

.customize-control-checkbox {
    margin-bottom: 4px;
}

#customize-control-rubine_theme_options-header_tagline {
	margin-bottom: 16px;
}

#customize-control-rubine_theme_options-default_fonts,
#customize-control-rubine_theme_options-header_content,
#customize-control-rubine_theme_options-footer_content,
#customize-control-rubine_theme_options-postmeta_headline,
#customize-control-rubine_theme_options-post_footer_headline,
#customize-control-rubine_theme_options-excerpt_text_headline{
	margin: 16px 0 0;
}

#customize-control-rubine_theme_options-post_images {
	margin-bottom: 0;
}

#customize-control-rubine_theme_options-upgrade div {
	margin: 4px 0 32px;
}
#customize-control-rubine_theme_options-upgrade div .customize-control-title {
	margin-bottom: 4px;
}

#customize-theme-controls [id$=accordion-panel-rubine_options_panel] .customize-info .customize-help-toggle {
	top: 24px;
	right: 4px;
}

#customize-theme-controls [id$=accordion-panel-rubine_options_panel] .customize-info .customize-help-toggle::before {
	content: "\f333";
	color: #a0a5aa;
	font-size: 28px;
	padding: 0;
	left: 0;
	top: 0;
}

#customize-theme-controls [id$=accordion-panel-rubine_options_panel] .customize-info .customize-help-toggle[aria-expanded="true"]::before {
	content: "\f335";
}

#customize-theme-controls [id$=accordion-panel-rubine_options_panel] .customize-info .customize-help-toggle:hover::before {
	color: #72777c;
}

#customize-theme-controls [id$=accordion-panel-rubine_options_panel] .customize-info .customize-help-toggle:focus::before {
	box-shadow: none;
}
