table caption {
	color: #1AACE7;
}

a:hover,
a:focus,
a:active {
	color: #34495e;
}

.wp-caption {
	border: 1px solid #D6E6EA;
}

body {
	color: #34495e;
}

h1, h2, h3, h4, h5, h6, 
h1 a, p.fn, h1 a:visited {
	color: #34495e;
}

a, a:hover, h1 a:hover {
	color: #1AACE7;
}

h1.site-title a {
	color: #34495E;
}

.site-title a:hover {
	color: #1AACE7;
}

.site-description {
	color: #585858;
}

/*Navigation */
.nav-container {
	background-color: #34495e;
}

.main-navigation ul ul {
	background-color: #1f2329;
}

ul.nav-menu > li > a:hover,
ul.nav-menu > li.current_page_item > a,
ul.nav-menu > li.current_page_ancestor > a,
ul.nav-menu > li.current_page_parent > a {
	background: #1AACE7;	
}

ul.nav-menu li a {
	color: #fff;
}

ul.nav-menu ul li a {
	color:#fff;
	background-color: #34495E;
}

ul.nav-menu li:hover > a {
	color: #fff;
}

ul.nav-menu ul li:hover > a {
	color: #fff;
	background-color: #1AACE7;	
}

ul.nav-menu ul.children li.current_page_item > a {
	background-color: #1AACE7;
}

ul.nav-menu ul li:hover > a {
	border-color: #006289;
}

/* Navigation Ends */

.btn-submit input, 
.form-submit input#submit,
.wpcf7-submit,
.post-password-form input[type="submit"] {
	color: #fff;
	background: #1AACE7;
}

a.btn-more:hover, 
.form-submit input#submit:hover,
.wpcf7-submit:hover,
.post-password-form input[type="submit"]:hover {
	color: #fff;	
	background: #34495E;
	border-color: #9b2901;
}

/* Footer Style Starts */

.footer-top {
	background: #34495e;
	border-bottom: 1px solid #263340;
}

.site-footer {
	background: #304458;
}

.site-footer .widget li a,
.site-footer a {
	color: #fff;
}

.site-footer .widget li a:hover,
.site-footer a:hover,
#wp-calendar td a:hover {
	color: #1AACE7;
}

.site-footer .footer-bottom a {
	color: #1AACE7;
}

.site-footer .footer-bottom p {
	color: #fff;
}

.site-footer .footer-bottom a:hover {
	color: #fff;
}

.site-footer h1, 
.site-footer h2, 
.site-footer h3, 
.site-footer h4, 
.site-footer h5, 
.site-footer h6,
#wp-calendar td a {
	color: #1AACE7;
}

.site-footer .widget li,
.footer-top p,
.footer-top td,
.footer-top th,
#wp-calendar td a:hover {
	color: #fff;
}

.footer-bottom {
	border-top: 1px solid #4D647B;
}

.site-footer .widget ul li {
	border-bottom: 1px solid #7C8893;
}

.site-footer th, .site-footer td, .site-footer table {
	border-color: #7C8893; 
}

.site-footer select {
	background-color: #fff;
}
/* Footer Style Ends */


/* Breadcrumb */
#breadcrumb {
	background-color: #1AACE7;
}

#breadcrumb a {
	color: #34495e;
}

#breadcrumb span.current,
#breadcrumb a:hover {
	color: #fff;
}
/* Breadcrumb */


input.btn-search {
	background: #1f2329;
}

.widget_search input[type="submit"] { 
	background-color: #1AACE7;
}

.widget_search .search-submit:hover {
	background-color: #34495E;
}

.page-navigation ol {
	background-color: #1AACE7;
}

.pagination a {
	color: #1AACE7;
}

.page-links a:hover,
.pagination a.active, 
.pagination a.active:hover {
	color: #fff;	
	background: #1AACE7;	
}

.pagination a:hover {
	color: #1AACE7;
}

a.more-link,
.navigation a,
.site-main .search-form input.search-submit,
.comment-list a.comment-reply-link:hover {
	color: #fff;
	background: #1AACE7;	
}

.flaton_page_navi li a {
	color: #fff;
}

.navigation a:hover, 
a.more-link:hover,
.nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.site-main .search-form input.search-submit:hover,
.comment-list .comment-reply-link {
	color: #fff;
	background-color: #34495E;
}

.comment-navigation .nav-next a,
.comment-navigation .nav-previous a {
	background-color: #1AACE7;
	color: #fff;
}

.comment-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover {
	background-color: #34495E;
}

.page-links a {
	color: #1f2329;
}

.flaton_page_navi li a:hover {
	background-color: #fff;
	color: #34495e;
}

.flaton_page_navi li.bpn-prev-link a,
.flaton_page_navi li.bpn-next-link a {
	color: #34495e;
}

ol.flaton_page_navi li.bpn-current {
	color: #34495e;
	background-color: #fff;
}

.page-links a {
	background: #34495E;
	color: #fff;
}

.entry-meta a {
	color: #7F8C8D;	
}

.entry-meta a:hover {
	color: #1AACE7;
}

.entry-meta i {
	color: #7F8C8D;
}

.entry-meta {
	border-bottom: 1px solid #D6E6EA;
	border-top: 1px solid #D6E6EA;
}

.entry-meta .entry-meta {
	border-bottom: 1px solid #D6E6EA;
}

/* Comments Starts */

ol.comment-list li article {
	border: 2px solid #ECF0F1;
}

ol.comment-list > li.even ul.children .odd,
ol.comment-list ul.children {
	background-color: #fff;
	
}

ol.comment-list li.bypostauthor > article,
ol.comment-list li.byuser > article {
	background-color: #E3F3FF;
	border: 1px solid #1AACE7;	
}

ol.comment-list li.bypostauthor .comment-reply-link,
ol.comment-list li.byuser .comment-reply-link {
	background-color: #34495E;
}

ol.comment-list li.bypostauthor .comment-reply-link:hover,
ol.comment-list li.byuser .comment-reply-link:hover {
	background-color: #1AACE7;
	color: #fff;
}

ol.comment-list li.bypostauthor p,
ol.comment-list li.byuser p,
li.bypostauthor .comment-metadata a, 
li.byuser .comment-metadata a, 
li.bypostauthor cite.fn a,
li.byuser cite.fn a,
li.bypostauthor cite.fn,
li.byuser cite.fn {
	color: #34495E;
} 

li.bypostauthor .comment-metadata a:hover, 
li.byuser .comment-metadata a:hover {
	color: #1AACE7;
}

/* Comments Ends */

select.menu option {
	background-color: #1F2329;
}

.widget ul li {
	border-bottom: 1px solid #D6E6EA;
}

.widget li a {
	color: #34495e;
}

.widget li a:hover {
	color: #1AACE7;
}

.comment-list .comment-reply-link:hover,
.comment-list .comment-reply-link:focus {
  color: #fff;
  background-color: #34495E;
}

.comment-metadata a,
cite.fn a {
	color: #34495e;
}

.comment-metadata a:hover,
cite.fn a:hover {
	color: #1AACE7;
}

ol.comment-list li.pingback .comment-body a:hover {
	color: #34495e;
}

#secondary td {
	color: #34495e;
}

#wp-calendar td#today {
	background-color: #1AACE7;
	color: #fff;
}

#wp-calendar td#today a {
	color: #fff;
}

#secondary tfoot td a {
	color: #34495e;
}

#secondary tfoot td a:hover {
	color: #1AACE7;
}

.sticky {
	background: #E3F3FF;
	border: 1px solid #1AACE7;
}

.sticky .entry-meta {
	border-top-color: #B1E9FF;
	border-bottom-color: #B1E9FF;
}

.sticky h1 a {
	color: #1AACE7;
}

.sticky h1 a:hover {
	color: #34495E;
}

p.readmore a {
	background-color: #1F2329;
	color: #fff;
}

p.readmore a:hover,
p.btn-slider a {
	background-color: #1AACE7;
}

.widget select {
	border: 1px solid #D6E6EA;
}

h3.widget-title {
	color: #1AACE7;
}

h3.widget-title a {
	color: #34495e;
}

.widget_categories select,
.widget_archive select {
    background: url('images/dropdown-arrow-blue.gif')  no-repeat right top;
}

blockquote {
  border-left: 4px solid #1AACE7 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(52, 152, 219, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 152, 219, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 152, 219, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 152, 219, 0.6);
}

p.btn-slider a,
p.btn-more a {
	background-color: #34495E;
	color: #fff;
}

p.btn-slider a:hover,
p.btn-more a:hover {
	background-color: #1AACE7;
}

.team-col h5 {
	color: #3498DB;
}

#service-tabs ul li a {
	background-color: #34495e;
}

#service-tabs ul li a:hover,
#service-tabs ul li.ui-tabs-active a {
	background-color: #3498db;
}

.flex-direction-nav a:hover { 
	background: #3498db; 
}