/* Degradation non CSS3
-------------------------------------------------------------- */
#topNav .tabs .page_item{background-image:url('../img/blkgrad-blu.jpg');}
#topNav .tabs .page_item{background-image:url('../img/blkgrad-grn.jpg');/* background-color:hsla(130,46.3%,45.5%,.4);green */}
#topNav .tabs .page_item + li{background-image:url('../img/blkgrad-org.jpg');/* background-color:hsla(33,78.4%,56.1%,.4);orange */}
#leftCol div.menu{background-color:#0082be;/* hsla(199,74.5%,37.3%,.78);blue */}
#leftCol div.menu + div.menu{background-color:#39af4c;/* hsla(130,46.3%,45.5%,.78);green */}
#rightCol div.menu{background-color:#f39a2b;/* hsla(33,78.4%,56.1%,.78);orange */}
div.menu.opacity{filter:alpha(opacity=73);-moz-opacity:.73;opacity:.73;}
#doubleCol{background-color:#333;/* hsla(0,0%,20%,.85);gray */}
#footer{background-color:#333;/* hsl(0,0%,20%);gray */
color:#666;/* hsl(0,0%,66%);gray */}
#footer p a{color:#666;/* hsl(0,0%,66%);gray */}
#footerCol-1 ul li a,#footerCol-2 ul li a,#footerCol-3 ul li a,#footerCol-4 ul li a{color:#333;/* hsl(0,0%,33%);*/}
