.wp-block-button .wp-block-button__link{

    border-radius: 0;
    background: #00c2b9;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    font-size: 14px;

}

.wp-block-button .wp-block-button__link:hover{

    background: #212020;

}