
@media only screen and (min-width: 768px) and (max-width: 959px) {

}	

@media only screen and (min-width: 480px) and (max-width: 767px) {
/*---slider-caption-----*/
.slider-caption h2 {font-size:22px !important;margin:10px 0;}
.slider-caption p {font-size:14px !important;margin:8px 0;}
.slider-caption p span {padding:5px !important;}
.btn-theme {font-size:14px !important;}
.btn-min-block {min-width:100px;}
.navbar-default .navbar-nav > li > a {
    padding:15px 16px !important;
}
} 

@media only screen and (min-width: 200px) and (max-width: 480px) {
/*----Top social----*/
ul.top-social {float:left !important;}
/*--Home Single-Post----*/
#comments .comments-list li ul {padding-left:0px;}
/*---slider-caption-----*/
.slider-caption h2 {font-size:18px !important;margin:8px 0;}
.slider-caption p {font-size:12px !important;margin:6px 0;}
.slider-caption p span {padding:5px !important;}
.btn-theme {font-size:14px !important;}
.btn-min-block {min-width:80px;}
.navbar-default .navbar-nav > li > a {
    padding:15px 16px !important;
}	
}
