@media (max-width:1200px) {
	.customize-container{
		width:auto;
	}
}
@media (max-width:991px) {
	.customize-container{
		width:auto;
	}
	.left_section,
	.side_bar{
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	.logo,
	.header_right{
		width:100%;
		position:relative;
	}
}
@media screen and (max-width: 767px) {
		/* nav-wrap */
		.menu-wrap {
			position: relative;
		}
		.menu-wrap * {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		/* menu icon */
		#menu-trigger {
			cursor: pointer;
			display: block;
			height: auto;
			margin-top:0px;
			margin-bottom:0px;
		}
		/* main nav */
		.customize-menu  {
			margin: 0px auto;
			padding: 10px;
			position: absolute;
			top: 50px;
			width: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.8);
			display: none;
			width:100%;
			max-height:none;
			border-radius:7px;
		}
		.customize-menu:after {
			content: '';
			position: absolute;
			right: 30px;
			top: -8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid rgba(0,0,0,0.7);
		}		
		.customize-menu > ul li > ul{
			position:relative;
			background:none;
			border:none;
			padding: 0 0 0 20px !important;
			left: 0;
			top: 0;
		}
		.customize-menu > ul li > ul ul{
			position:relative;
			left: 0;
			top: 0;
		}
		.customize-menu ul {
			position: static;
			visibility: visible;
			opacity: 1;
			margin: 0;
			background: none;
			border: none;
			padding: 4px 3px 2px 4px;
		}
		.customize-menu li {
			position: static;
			display: block;
			float: none;
			border: 0;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			text-align: left;
			width:100%;
		}
		.customize-menu > ul li > ul {
			display:block;
		}
		.customize-menu ul li a {
			width:100%;			
		}
		.customize-menu ul li a:hover{
			border:1px solid rgba(0,0,0,0);
		}
	}

	@media screen and (min-width: 767px) {
		.customize-menu {
			display: block !important;
		}
	}
@media (max-width:690px) {
	.logo{
		text-align:center;
	}
	.search_box{
		display: table;
		float: none;		
		margin: 0 auto;
		width: 92%;
	}
	.subscribe{
		text-align:center;
		padding-bottom:30px;
	}
	.subscribe p{
		width:100%;
	}
	.subscribe h3{
		width:100%;
		margin-bottom:30px;
	}
	.subscribe a{
		clear:both;
		float:none;		
	}
	.footer-widget ul{
		margin: 0px 0px 20px 0px;
	}
	.bottom_footer p{
		text-align:center;
		width:100%;
	}
	.bottom_footer ul{
		width:100%;
		text-align:center;
		margin:10px 0px;
	}
	.bottom_footer ul li{
		float:none;
		display:inline;		
	}
}