/*--------------------------------------------------------------
## Header menu
--------------------------------------------------------------*/
.main-navigation {
	font-weight: 400;
	font-size: 13px;
	margin: 0;
	background-color: #fff;
	border-top: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7;
	z-index: 9;
	text-align: center;
}

.main-navigation ul {	
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.main-navigation li {
	position: relative;
	float: left;
	margin: 0;
	text-align: center;
}

.main-navigation:not(.toggled) div > ul > li:first-of-type,
.main-navigation:not(.toggled) > ul > li:first-of-type {
	padding-left: 0;
}

.main-navigation a {
	text-decoration: none;
	transition: all 1.1s ease;
	display: inline-block;
	width: auto;
	color: #6f6f6f;
	padding: 15px 30px;
	text-transform: uppercase;
}

.main-navigation a:focus,
.main-navigation a:hover {
	text-decoration: underline;
}

/*first sub-menu*/
.main-navigation ul ul {
	position: absolute;
	left: 0;
	display: block;
	clip: rect(1px, 1px, 1px, 1px);
	z-index: 999;
	background: #fafafa;
}

.main-navigation ul ul li {
	display: inline-block;
	width: 100%;
	min-width: 220px;
	border: 1px solid rgba(0,0,0, 0.1);
	box-sizing: border-box;
	padding: 0.8em 1em;
	background: #ffffff;
	border-top: 1px solid #333333;
	text-align:left;
	padding: 1em;
}

.main-navigation ul ul li a {
	padding: 0 0.5em;
}

.main-navigation ul ul li:hover {
	transition: all 1.1s ease;
}

.main-navigation ul ul ul {
	position: absolute;
	left: 100%;
	top: -1px;
	margin: 0;
	display: block;
	clip: rect(1px, 1px, 1px, 1px);
	z-index: 999; 
	border-left: none;
}

.main-navigation ul ul li:not(:first-child) {
	border-top: none;
}

.main-navigation li:focus > ul,
.main-navigation li:hover > ul,
.keyboard-dropdown {
	clip: auto !important;
}

#main-menu {
	display: inline-block;
}

.main-navigation li.menu-item-has-children>a {
	padding-right: 15px;
}

.main-navigation li.menu-item-has-children>a:before {
	position: absolute;
	content: '\f107';
	right: 0;
	line-height: 24px;
	font-size: 12px;
	font-family: 'FontAwesome';
}

.main-navigation .sub-menu li.menu-item-has-children>a:before {
	position: absolute;
	content: '';
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
#mobile-menu-toggle {
	display: none;
}

@media screen and (max-width: 768px) {
	#mobile-menu-toggle {
		cursor: pointer; 
		display: inline-block;
		padding: 6px 9px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		text-align: center;
		font-size: 13px;
		line-height: 1.6;
		vertical-align: top;
		margin: 12px;
		border-radius: 2px;
		text-transform: uppercase;
	}

	#mobile-menu-toggle:hover,
	#mobile-menu-toggle:focus {
		transition: all 1.1s ease;
		outline: none;
		box-shadow: none;
	}

	.main-navigation #main-menu {
		display: none;
	}
	
	.main-navigation.toggled #main-menu {
		display: block;
	}

	.main-navigation ul {
		display: inline-block;
		margin-left: 1em !important;
	}
	
	.main-navigation:not(.toggled) .children,
	.main-navigation:not(.toggled) .sub-menu,
	.main-navigation ul li:nth-child(n+5),
	#site-navigation nav.social-menu{
		display: none;
	}

	.main-navigation.toggled ul {
		margin-left: 0 !important;
		margin-top: 0;
		display: block;
		background:#ffffff;
		padding: 18px;
	}

	.main-navigation.toggled ul.sub-menu {
		padding-top: 0;
	}

	.main-navigation.toggled li {
		display: inline-block;
		width: 100%;
		background:#ffffff;
		box-sizing: border-box;
	}

	.main-navigation li.menu-item-has-children>a {
		padding: 0 0.5em;
	}

	.main-navigation li.menu-item-has-children>a:before {
		position: absolute;
		content: '';
	}

	.main-navigation.toggled ul li:hover {
		transition: all 1.1s ease;
	}

	.toggled .nav-menu li:last-child {
		margin-bottom: 3em;
	}

	.toggled .nav-menu ul li:last-child,
	.toggled .nav-menu ul ul li:last-child,
	.toggled .nav-menu ul ul ul li:last-child {
		margin-bottom: 0;
	}
	
	.main-navigation.toggled ul ul li {
		border: none;
		padding-top: 7px;
		padding-bottom: 7px;
		text-align: center;
	}

	.main-navigation.toggled ul ul ul,
	.main-navigation.toggled ul ul {
		display: block;
		position: relative;
		float: none;
		clear: both;
		left: 0;
	}

	.main-navigation .menu-item-has-children a {
		margin-left: 0;
	}
}