.avik-class-dismiss-notice{
    text-align: center;
}

.avik-class-dismiss-notice p{
    font-size: 28px;
}

.avik-class-dismiss-notice a{
    color:#82B541;
    text-decoration: none;
}

.avik-class-dismiss-notice a:hover{
    text-decoration: underline;
}

ul.avik-ul-update{
    list-style-type: disc;
    margin-left: 2em;
}

a.avik-detail-update-a{
    text-decoration: none;
    color:#82B541;
    font-weight: bold;
    font-size: 16px;
}

a.avik-detail-update-a:hover{
    text-decoration: underline;
}


.df-logo{
    background-color: #323232;
    max-width: 100%;
    margin-top: 1em;
    border-radius: 4px;
    padding: 1em;
}

.df-logo img{
    height: auto;
    transition: all .5s ease-in-out;
    width: 65px;
    border: 2px solid #82B541;
    border-radius: 50%;
    padding: 5px;
}

.df-logo span{
   color: #fff;
   font-size: 15px;
   font-family: 'Inconsolata';
   letter-spacing: 1px;
}

.df-logo img:hover{
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
}

.df-logo a{
    text-decoration: none;
}

.df-logo h2{
    text-align:center;
    font-weight:bold;
    font-size:22px;
    color: #fff;
    margin-top: -1.5em;
    letter-spacing: 2px;
    font-family: 'Inconsolata';
}


@media(max-width:724px){
    .df-logo h2{
       margin-top: 1em!important;
    }
    
}
