/*
    Document   : old-ie
    Created on : 13-mag-2012, 18.57.55
    Author     : Aurelio De Rosa <aurelioderosa@gmail.com>
    Version    : 1.1.0
    Description:
        Stylesheet for the old versions of IE
*/

nav.main-menu,
#left-sidebar,
#right-sidebar
{
   display: none;
}