/*
RTL Support
*/

body {
	direction: rtl;
	unicode-bidi: embed;
	word-break: break-all;
}

caption,
th,
td {
	text-align: right;
}
#singlecontent,
#pagecont{
	margin-right: 0 !important;		
}
#navigation  ul li,
#pronav  ul li,
#singlecontent,
h1.entry-title,
.pagepost h1.entry-title,
form#searchform input#s,
p.form-submit,
#header #logo,
ol.commentlist li div.vcard img.avatar,
#pagecont{
	float: right !important;
}
#header-inner, #page-inner, #bottom-menu-inner, #footer-inner, #ltpost, .nav, #pronav-inner,
.entry,
h2.entry-title,
#sidebar,
#commentform > p.comment-form-comment > label,
#crumbs{
	    text-align: right;
}

#sidebar h4, #sidebar h4 a{
	    padding: 15px 12px 15px 13px;
}

#pagenavi span.pages {
    display: none;
}
#TopMenuSocial,
.readmore,
#banner-top{
	float: left !important;
	clear: both; 
}
#navigation  ul li:hover ul ul{
	    margin-top: 0 !important;
}
li.menu-item-has-children:hover > ul.sub-menu{
		display:block;
	}
	ul.sub-menu{
		
    display: none;
	}
