@font-face {
    font-family: 'segoe_ui';
    src: url('fonts/segoeui-webfont.eot');
    src: url('fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoeui-webfont.woff') format('woff'),
         url('fonts/segoeui-webfont.ttf') format('truetype'),
         url('fonts/segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe_uibold';
    src: url('fonts/segoeuib-webfont.eot');
    src: url('fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoeuib-webfont.woff') format('woff'),
         url('fonts/segoeuib-webfont.ttf') format('truetype'),
         url('fonts/segoeuib-webfont.svg#segoe_uibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe_uilight';
    src: url('fonts/segoeuil-webfont.eot');
    src: url('fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoeuil-webfont.woff') format('woff'),
         url('fonts/segoeuil-webfont.ttf') format('truetype'),
         url('fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: normal;
    font-style: normal;

}