/*** ESSENTIAL STYLES ***/
#menu-header ul
{
   position: absolute;
   top:	-999em;
   width: 10em; /* left offset of submenus need to match (see below) */
}

#menu-header ul li
{
   width: 100%;
}

#menu-header li
{
   float: left;
   position: relative;
}

#menu-header li:hover ul,
#menu-header li.sfHover ul
{
   left: 0;
   top:	2.5em; /* match top ul list item height */
   z-index: 99;
}

ul#menu-header li:hover li ul,
ul#menu-header li.sfHover li ul
{
   top:	-999em;
}

ul#menu-header li li:hover ul,
ul#menu-header li li.sfHover ul
{
   left: 10em; /* match ul width */
   top:	0;
}
ul#menu-header li li:hover li ul,
ul#menu-header li li.sfHover li ul
{
   top:	-999em;
}

ul#menu-header li li li:hover ul,
ul#menu-header li li li.sfHover ul
{
   left: 10em; /* match ul width */
   top:	0;
}

/*** DEMO SKIN ***/
#menu-header a
{
   padding: .75em 1em;
}

/*** arrows **/
#menu-header a.sf-with-ul
{
   padding-right: 	2.25em;
   min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator
{
   position: absolute;
   display: block;
   right: .75em;
   top:	1.05em; /* IE6 only */
   width: 10px;
   height: 10px;
   text-indent: -999em;
   overflow: hidden;
   background: url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

a > .sf-sub-indicator
{
   /* give all except IE6 the correct values */
   top: .8em;
   background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator
{
   background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#menu-header ul .sf-sub-indicator
{
   background-position: -10px 0px;
}

#menu-header ul a > .sf-sub-indicator
{
   background-position:  0 0;
}

/* apply hovers to modern browsers */
#menu-header ul a:focus > .sf-sub-indicator,
#menu-header ul a:hover > .sf-sub-indicator,
#menu-header ul a:active > .sf-sub-indicator,
#menu-header ul li:hover > a > .sf-sub-indicator,
#menu-header ul li.sfHover > a > .sf-sub-indicator
{
   background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul
{
   background:	url('../images/shadow.png') no-repeat bottom right;
   padding: 0px 8px 9px 0px;
   border-bottom-left-radius: 17px;
   border-bottom-right-radius: 17px;
}

.sf-shadow ul.sf-shadow-off
{
   background: transparent;
}