/*--------------------------------------------------------------
Wp.com styles
--------------------------------------------------------------*/
img#wpstats,
img[id*="botd"] {
	position: absolute;
	top: -9999px;
}
h3#reply-title {
	color: #333;
}
div.sharedaddy h3.sd-title:before {
	border: none!important;
}