#customize-controls .control-section-agama-pro .accordion-section-title {
    background-color: #0085ba;
    border-left-color: #0085ba;
    color: #fff;
}

#customize-controls .control-section-agama-pro .accordion-section-title:before {
    font-family: FontAwesome;
    content: '\f005';
}

#customize-controls .control-section-agama-pro .accordion-section-title:hover,
#customize-controls .control-section-agama-pro .accordion-section-title:focus {
	background-color: #0073aa;
    border-left-color: #0073aa !important;
    color: #fff !important;
}

.control-section-agama-pro .accordion-section-title .button {
    text-transform: uppercase;
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-agama-pro .accordion-section-title .button {
    margin-left:  0;
    margin-right: 8px;
}
