aside#video-tab {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23em;
    overflow: hidden;
    padding: 4em 5% 8em;
    position: relative;
}

/* iOS Safari / iPhones don't display background-size: cover; correctly when used with background-attachment: fixed; I hate you Apple */
@media (orientation: portrait) { _::-webkit-full-page-media, _:future, :root aside#video-tab { background-attachment: scroll !important; background-size: 200vh !important; } }
@media (orientation: landscape) { _::-webkit-full-page-media, _:future, :root aside#video-tab { background-attachment: scroll !important; background-size: 200vw !important; } }

aside#video-tab .customizer {
    left: 4em;
    position: absolute;
    top: 4em;
    z-index: 10;
}