aside#video-tab {
    background: url(images/Redcliffe-Skydive-Australia-Preformance-Designs-Velocity-103-Velo-Proskydiving.jpg);
    background-attachment: fixed !important;
    background-color: #ffffff;
    background-position: center center !important;
    background-size: cover !important;
    min-height: 22em;
    padding: 4em 5% 8em;
    position: relative;
}

aside#video-tab hgroup {
    text-align: left;
}

aside#video-tab hgroup h3 {
    color: #ffffff;
    font-family: 'Vollkorn', serif;
    text-align: left;
    text-shadow: .025em .025em .005em rgb(44, 46, 50);
    text-transform: none;
}