@font-face {
  font-family: "schwarttzy";
  src:url("schwarttzy.eot");
  src:url("schwarttzy.eot?#iefix") format("embedded-opentype"),
    url("schwarttzy.woff") format("woff"),
    url("schwarttzy.ttf") format("truetype"),
    url("schwarttzy.svg#schwarttzy") format("svg");
  font-weight: normal;
  font-style: normal;}