.post-container .link:hover,
.wpcf7-form input[type=submit] ,
.woocommerce-product-search input[type=submit],
.contact-form input[type=submit] ,
.searchform input[type=submit] ,
.comment-form input[type=submit],
.post-container .quote:hover,
.post-container .link a:hover,
.button,
.wp-pagenavi a:hover,
.wp-pagenavi span.current,
.wip-pagination span,
.wip-pagination a span:hover,
.skills .views.active,
.skills .views:hover,
.filter li:hover,
.filter li.active,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce input.button#place_order,
.woocommerce .wc-proceed-to-checkout input,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.header-cart a span {
    background-color: #48c2ae;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.star-rating span,
.woocommerce p.stars,
.woocommerce p.stars a,
.woocommerce p.stars:hover a,
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a,
nav#mainmenu ul li.current_page_item > a,
nav#mainmenu ul li.current-menu-parent > a,
nav#mainmenu ul li.current_page_ancestor > a,
nav#mainmenu ul li.current-menu-ancestor > a {
    color: #48c2ae;
}
::-moz-selection {
    background-color: #48c2ae;
}
::selection {
    background-color: #48c2ae;
}
nav#mainmenu ul ul,
.header-cart-widget{
    border-top-color: #48c2ae;
}
nav#mainmenu ul ul:before,
.header-cart-widget:before {
    border-bottom-color: #48c2ae;
}
nav#mainmenu ul ul li ul {
    border-top-color: #48c2ae;
}
nav#mainmenu ul ul li a:hover,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current-menu-ancestor > a,
#sidebar .tagcloud a,
#footer .tagcloud a {
    background: #48c2ae;
}
nav#mainmenu ul ul li a:hover,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current-menu-ancestor > a {
    border-top-color: #48c2ae;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.add_to_cart_button:hover,
.woocommerce .woocommerce-message a.button:hover ,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce .wc-proceed-to-checkout input:hover,
.wpcf7-form input[type=submit]:hover ,
.woocommerce-product-search input[type=submit]:hover,
.contact-form input[type=submit]:hover ,
.searchform input[type=submit]:hover ,
.comment-form input[type=submit]:hover,
.button:hover,
#sidebar .tagcloud a:hover,
#footer .tagcloud a:hover,
.theme-default .nivo-directionNav a:hover,
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover,
#back-to-top i.open,
#back-to-top i:hover {
    background-color: #3aa694;
}
#back-to-top i.open,
#back-to-top i:hover {
    border-color: #3aa694;
}
body.archive.woocommerce .product-category h3:hover,
body.archive.woocommerce .product-category h3:active,
body.archive.woocommerce .product-category h3:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active ,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
a:hover,
a:active,
a:focus,
#footer a:hover,
#footer ul.widget-category li:hover,
#footer ul.widget-category li a:hover,
.post-container .title a:hover,
#logo a:hover {
    color: #3aa694;
}
#footer,
#footer .widget,
.post-article blockquote {
    border-color: #48c2ae;
}
#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget,
#footer a,
#footer ul,
#footer p,
#footer .copyright p,
#footer .copyright a {
    color: #ffffff;
}

body.minimal_layout nav.woocommerce-pagination ul li span.current,
body.minimal_layout nav.woocommerce-pagination ul li a:focus, 
body.minimal_layout nav.woocommerce-pagination ul li a:hover,
body.minimal_layout span.button,
body.minimal_layout #back-to-top i.open,
body.minimal_layout #back-to-top i:hover,
body.minimal_layout .wpcf7-form input[type=submit] ,
body.minimal_layout .woocommerce-product-search input[type=submit],
body.minimal_layout .contact-form input[type=submit] ,
body.minimal_layout .searchform input[type=submit] ,
body.minimal_layout .comment-form input[type=submit],
body.minimal_layout.woocommerce #respond input#submit.alt, 
body.minimal_layout.woocommerce a.button.alt, 
body.minimal_layout.woocommerce button.button.alt, 
body.minimal_layout.woocommerce input.button.alt,
body.minimal_layout.woocommerce a.button,
body.minimal_layout.woocommerce #respond input#submit, 
body.minimal_layout.woocommerce button.button, 
body.minimal_layout.woocommerce input.button,
body.minimal_layout.woocommerce input.button#place_order,
body.minimal_layout.woocommerce .wc-proceed-to-checkout input,
body.minimal_layout .woocommerce #respond input#submit.alt, 
body.minimal_layout .woocommerce a.button.alt, 
body.minimal_layout .woocommerce button.button.alt, 
body.minimal_layout .woocommerce input.button.alt,
body.minimal_layout .woocommerce a.button,
body.minimal_layout .woocommerce #respond input#submit, 
body.minimal_layout .woocommerce button.button, 
body.minimal_layout .woocommerce input.button,
body.minimal_layout .woocommerce input.button#place_order,
body.minimal_layout .woocommerce .wc-proceed-to-checkout input,
body.minimal_layout #sidebar .tagcloud a, 
body.minimal_layout #footer .tagcloud a , 
body.minimal_layout nav#mainmenu ul li a:hover,
body.minimal_layout nav#mainmenu li:hover > a,
body.minimal_layout nav#mainmenu ul li.current-menu-item > a, 
body.minimal_layout nav#mainmenu ul li.current_page_item > a, 
body.minimal_layout nav#mainmenu ul li.current-menu-parent > a, 
body.minimal_layout nav#mainmenu ul li.current_page_ancestor > a, 
body.minimal_layout nav#mainmenu ul li.current-menu-ancestor > a,
body.minimal_layout nav#mainmenu ul ul,
body.minimal_layout #footer .socials a ,
body.minimal_layout .wp-pagenavi a:hover, 
body.minimal_layout .wip-pagination span,
body.minimal_layout .wip-pagination a span:hover,
body.minimal_layout .wp-pagenavi span.current,
body.minimal_layout .post-container .link a,
body.minimal_layout .post-container .quote,
body.minimal_layout #back-to-top i ,
body.minimal_layout .header-cart a span,
body.minimal_layout .header-cart-widget,
body.minimal_layout span.button {
    background-color: #48c2ae;
}

body.minimal_layout nav#mainmenu.sneak ul ul li a,
body.minimal_layout .header-cart,
body.minimal_layout .header-cart a.cart-contents,
body.minimal_layout .star-rating span,
body.minimal_layout.woocommerce p.stars,
body.minimal_layout.woocommerce p.stars a,
body.minimal_layout.woocommerce p.stars:hover a {
	color: #48c2ae;
}

body.minimal_layout.sneak_button .wpcf7-form input[type=submit],
body.minimal_layout .contact-form input.sneak[type=submit],
body.minimal_layout .button.sneak,
body.minimal_layout .post-article span.button.sneak,
body.minimal_layout article blockquote,
body.minimal_layout.sneak_button .wpcf7-form input[type=submit],
body.minimal_layout .contact-form input.sneak[type=submit],
body.minimal_layout .button.sneak,
body.minimal_layout .post-article span.button.sneak,
body.minimal_layout #back-to-top i.open,
body.minimal_layout #back-to-top i:hover {
    border-color: #48c2ae;
}

body.minimal_layout ::-moz-selection {
    background-color: #3aa694;
}
body.minimal_layout ::selection {
    background-color: #3aa694;
}

a:hover,
#logo a:hover,
#footer a:hover,
body.minimal_layout a:hover,
body.minimal_layout #logo a:hover,
body.minimal_layout #footer a:hover,
body.minimal_layout .entry-info a:hover,
body.minimal_layout .post-article .title a:hover,
body.archive.woocommerce .product-category h3:hover,
body.archive.woocommerce .product-category h3:active,
body.archive.woocommerce .product-category h3:focus,
body.minimal_layout.sneak_button .wpcf7-form input[type=submit],
body.minimal_layout .contact-form input.sneak[type=submit],
body.minimal_layout .button.sneak,
body.minimal_layout .post-article span.button.sneak,
body.minimal_layout.woocommerce div.product .woocommerce-tabs ul.tabs li.active ,
body.minimal_layout.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
body.minimal_layout #footer a:hover { 
    color: #3aa694;
}

body.minimal_layout .tipsy-inner { 
	background-color: #3aa694 ; 
}
body.minimal_layout .tipsy-arrow-n { 
	border-bottom-color: #3aa694 ; 
}
body.minimal_layout .tipsy-arrow-s { 
	border-top-color: #3aa694 ; 
}
body.minimal_layout .tipsy-arrow-e { 
	border-left-color: #3aa694 ; 
}
body.minimal_layout .tipsy-arrow-w { 
	border-right-color: #3aa694 ; 
}

body.minimal_layout span.button:hover,
body.minimal_layout.sneak_button .wpcf7-form input[type=submit]:hover,
body.minimal_layout .button.sneak:hover,
body.minimal_layout .post-article span.button.sneak:hover,
body.minimal_layout .contact-form input.sneak[type=submit]:hover,
body.minimal_layout .wpcf7-form input[type=submit]:hover ,
body.minimal_layout .woocommerce-product-search input[type=submit]:hover,
body.minimal_layout .contact-form input[type=submit]:hover ,
body.minimal_layout .searchform input[type=submit]:hover ,
body.minimal_layout .comment-form input[type=submit]:hover,
body.minimal_layout.woocommerce #respond input#submit.alt:hover, 
body.minimal_layout.woocommerce a.button.alt:hover, 
body.minimal_layout.woocommerce button.button.alt:hover, 
body.minimal_layout.woocommerce input.button.alt:hover,
body.minimal_layout.woocommerce a.button:hover,
body.minimal_layout.woocommerce a.add_to_cart_button:hover,
body.minimal_layout.woocommerce .woocommerce-message a.button:hover ,
body.minimal_layout.woocommerce #respond input#submit:hover, 
body.minimal_layout.woocommerce a.button:hover, 
body.minimal_layout.woocommerce button.button:hover, 
body.minimal_layout.woocommerce input.button:hover,
body.minimal_layout.woocommerce input.button#place_order:hover,
body.minimal_layout.woocommerce .wc-proceed-to-checkout input:hover,
body.minimal_layout .woocommerce #respond input#submit.alt:hover, 
body.minimal_layout .woocommerce a.button.alt:hover, 
body.minimal_layout .woocommerce button.button.alt:hover, 
body.minimal_layout .woocommerce input.button.alt:hover,
body.minimal_layout .woocommerce a.button:hover,
body.minimal_layout .woocommerce a.add_to_cart_button:hover,
body.minimal_layout .woocommerce .woocommerce-message a.button:hover ,
body.minimal_layout .woocommerce #respond input#submit:hover, 
body.minimal_layout .woocommerce a.button:hover, 
body.minimal_layout .woocommerce button.button:hover, 
body.minimal_layout .woocommerce input.button:hover,
body.minimal_layout .woocommerce input.button#place_order:hover,
body.minimal_layout .woocommerce .wc-proceed-to-checkout input:hover,
body.minimal_layout #sidebar .tagcloud a:hover, 
body.minimal_layout #footer .tagcloud a:hover,
body.minimal_layout #footer .socials a:hover,
body.minimal_layout .post-container .link a:hover,
body.minimal_layout .post-container .quote:hover,
body.minimal_layout #back-to-top i:hover{
	background-color: #3aa694 ; 
}

body.minimal_layout .post-article blockquote,
body.minimal_layout .header-cart-widget .woocommerce.widget_shopping_cart a.button,
body.minimal_layout .header-cart-widget .woocommerce.widget_shopping_cart a.button:hover,
body.minimal_layout .widget_shopping_cart li, .product_list_widget li,
body.minimal_layout .header-cart a.remove,
body.minimal_layout.sneak_button .wpcf7-form input[type=submit]:hover,
body.minimal_layout .button.sneak:hover,
body.minimal_layout .post-article span.button.sneak:hover,
body.minimal_layout .contact-form input.sneak[type=submit]:hover  {
	border-color: #3aa694 ; 
}

body.minimal_layout .header-cart-widget .woocommerce.widget_shopping_cart a.button:hover {
    border: solid 1px #3aa694 !important;
}