.site .wide .widget.aladdin_widget_button {
	padding: 20px;
	bsackground: #123;
}

.aladdin-button {	
	text-align: center;
}

.aladdin-link {
	border: 1px solid #eee;
	display: inline-block;
	font-size: 24px;
	margin: 0 20px;
	padding: 20px;
}
.aladdin-link:hover {
	box-shadow: 0 0 4px 4px #999;
	text-decoration: none;
}