.accordion-section-content {
    box-sizing: border-box;
    background: #f6f7f9 !important;
}

.customize-control select,
.customize-control input[type=tel],
.customize-control input[type=url],
.customize-control input[type=text],
.customize-control input[type=password],
.customize-control input[type=email],
.customize-control input[type=number],
.customize-control input[type=search] {
    min-height: 32px;
    border: 1px solid #c9c9c9;
    transition: all .2s;
}

.customize-control select:focus,
textarea:focus,
.customize-control input[type=tel]:focus,
.customize-control input[type=url]:focus,
.customize-control input[type=text]:focus,
.customize-control input[type=password]:focus,
.customize-control input[type=email]:focus,
.customize-control input[type=number]:focus,
.customize-control input[type=search]:focus {
    border-color: #a4baca;
}

.wp-core-ui .button-secondary {
    border-color: #ccc;
    color: #555;
    background: #d0d4d3;
    box-shadow: 0 1px 0 #ccc;
}

.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
    text-transform: capitalize;
}

.wp-core-ui .button-secondary:hover {
    color: #333;
    background-color: #d3d3d3;
}

.accordion-section-title:hover:after,
.control-section .accordion-section-title:hover:after,
.nav-menus-php .item-edit:hover:before,
.widget-top a.widget-action:hover:after {
    transition: all .3s ease-in-out;
}

.accordion-section-title:hover:after,
.control-section .accordion-section-title:hover:after,
.nav-menus-php .item-edit:hover:before,
.widget-top a.widget-action:hover:after {
    -webkit-transform: translateX(.2em);
    transform: translateX(.2em);
}

.accordion-section h3:before,
#accordion-panel-bellini_frontpage_panel h3:before,
#accordion-section-title_tagline h3:before,
#accordion-panel-bellini_colors_panel h3:before,
#accordion-panel-bellini_show_hide_components h3:before,
#accordion-panel-bellini_placeholder_layout_panel h3:before,
#accordion-section-homepage_control h3:before,
#accordion-panel-bellini_misc_panel h3:before,
#accordion-panel-nav_menus h3:before,
#accordion-panel-widgets h3:before,
#accordion-section-bellini_social_accounts h3:before,
#accordion-section-wpseo_breadcrumbs_customizer_section h3:before {
    position: relative;
    padding-right: 4%;
    text-align: center;
    text-indent: 0;
    font: 400 18px/1 dashicons;
    vertical-align: top;
    opacity: .3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#accordion-panel-bellini_show_hide_components h3:before{
    content: "\f530";
}

#accordion-panel-bellini_frontpage_panel h3:before {
    content: '\f102';
}

#accordion-section-title_tagline h3:before {
    content: '\f488';
}

#accordion-panel-bellini_colors_panel h3:before {
    content: '\f100';
}

#accordion-panel-bellini_placeholder_layout_panel h3:before {
    content: '\f108';
}

#accordion-panel-bellini_misc_panel h3:before {
    content: '\f322';
}

#accordion-panel-nav_menus h3:before {
    content: '\f333';
}

#accordion-panel-widgets h3:before {
    content: '\f479';
}

#accordion-section-bellini_social_accounts h3:before{
    content: "\f325";
}

.accordion-section h3:before {
    content: '\f106';
}

#accordion-section-bellini_typography h3:before {
    content: '\f210';
}

#accordion-section-bellini_default_image h3:before {
    content: '\f161';
}

#accordion-section-bellini_default_text h3:before {
    content: '\f217';
}

#accordion-section-static_front_page h3:before {
    content: '\f107';
}

#accordion-section-bellini_frontpage_section_slider h3:before {
    content: '\f232';
}

#accordion-section-bellini_frontpage_section_category h3:before {
    content: '\f323';
}

#accordion-section-bellini_frontpage_section_product h3:before {
    content: '\f174';
}

#accordion-section-bellini_frontpage_section_featured h3:before {
    content: '\f174';
}

#accordion-section-bellini_frontpage_section_blog h3:before {
    content: '\f464';
}

.customize-section-description-container .customize-section-title h3:before {
    display: none;
}

.customize-controls-close {
    border: none !important;
    color: #e91e63 !important;
    opacity: .3;
    transition: all .2s;
}

.customize-controls-close:hover {
    color: #fff !important;
    opacity: 1;
    background-color: #e91e63 !important;
}

.customize-panel-back,
.customize-section-back {
    box-sizing: border-box !important;
    border-color: #E3EDEF;
    color: #ACE0E6 !important;
    background-color: #E7F7F9 !important;
    transition: all .3s;
}

.customize-panel-back:hover,
.customize-section-back:hover {
    box-sizing: border-box !important;
    border: none;
    color: #fff !important;
    background-color: #00BCD4 !important;
}

.customize-section-title {
    margin: -14px -15px 0;
}

#customize-header-actions {
    background: #fff;
}

#customize-controls .customize-info {
    border: none !important;
}

/*
.wp-core-ui .button-primary {
    border: none !important;
    text-shadow: none;
    box-shadow:none;
    background-color: #8BC34A;
    background-image: linear-gradient(to bottom,#8BC34A,#7CB342);
    background-repeat: repeat-x;
}

.wp-core-ui .button-primary:hover{
    background-color: #7CB342;
}


.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
    color: #9CCC65 !important;
    background: #689F38 !important;
    border: none !important;
    text-shadow: none;
    box-shadow:none;
    cursor: default;
}
*/



.prefix-upsell-link {
    display: inline-block;
    clear: both;
    margin-top: 6px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #fff;
    background-color: #f44336;
    transition: all .2s;
}

.prefix-upsell-link:before {
    content: '\f160';
    font: 400 12px/1 dashicons;
}

.prefix-upsell-link:hover {
    color: #fff;
    background-color: #e53935;
}

.prefix-upsell-link:hover:before {
    content: '\f112';
    font: 400 12px/1 dashicons;
}

.bellini-ui__title {
    color:#2D2C2C;
    margin-top: .7rem;
    padding: .8em .8em .8em .5em;
    text-transform: uppercase;
    border-bottom: 1px solid #dcdee0;
}

.customize-control-image .remove-button,
.customize-control-image .upload-button{
    width: 100%;
    margin-bottom: .5em;
}

li#customize-control-bellini_social_account_icon_one,
li#customize-control-bellini_social_account_icon_two,
li#customize-control-bellini_social_account_icon_three,
li#customize-control-bellini_social_account_icon_four,
li#customize-control-bellini_social_account_icon_five,
li#customize-control-bellini_social_account_icon_six {
    width:30%;
    float:left;
    clear:left;
    height:32px;
}


li#customize-control-bellini_social_account_link_one,
li#customize-control-bellini_social_account_link_two,
li#customize-control-bellini_social_account_link_three,
li#customize-control-bellini_social_account_link_four,
li#customize-control-bellini_social_account_link_five,
li#customize-control-bellini_social_account_link_six{
    width:65%;
    float:right;
    clear:right;
}

/*
#accordion-panel-bellini_placeholder_layout_panel,
#accordion-panel-bellini_frontpage_panel {
    margin-bottom: .7rem;
}
*/

#customize-theme-controls .accordion-section-content {
    color: #606163;
}

input[type=checkbox]:checked:before {
    color: #fff;
}

input[type=checkbox]:checked:before {
    background-color:#00BCD4;
    width: auto;
}

.bellini_pro_section {
    background-color: #e7f7f9;
    padding: 1em;
    border-radius: 2px;
}

.bellini__pro__button {
    display: block;
    margin-top: 1em;
}