$textColor: #707070;
$brandColor: #ef953e;
$brandColorSecond:#753249;
$brandColorThird:#ea5455;
$brandColorFourth:#2e3f59;
$brandColorBlack:#171717;
$grey: #f6f6f6;

$fontFamilyRoboto: 'Roboto', sans-serif;
$fontSizeBase: 16px;
$lineHieghtBase:1.6;
$fontSizeH1:52px;
$fontSizeH2:42px;
$fontSizeH3:30px;
$fontSizeH4:30px;
$fontSizeH5:24px;
$fontSizeH6:20px;

$margin: 22px; 
$borderColor:rgba(17,17,17,0.15);

$headerColor:#676767;

$menuBg: #444444;
$menuBgHover:#2d2d2d;

