// Your custom SCSS should be written here...

/* Header */
.site-header {
    background: #fafafa;
    border-bottom: 1px solid #eee;
	padding: 1em 0;
	
	@include respond(all-phones) {
		display: none;
	}
	 
	.site-title {
		font-family: "Dancing Script", cursive;
		text-align: center;
		padding-bottom: 0;
		line-height: 1.2324em;
		padding-top: 0.2912em;
		margin-bottom:0;
		font-weight: $font-weight-bold;
		@include font-size($xxxlarge);
		a{
			color: $primary-color;
			font-weight: $font-weight-bold;
			&:hover{text-decoration: none;}
		}
		
	}
	.site-description {
		text-align: center;
	}
	
}
/* Footer */
.site-footer {
    background: #fff;
    padding: 3em 0;
	
	.site-info {
		text-align: center;
		
		a{color:$default-color;}
	}
}


/* Sidebar */
.widget {
    padding: 2.2em 2.2em 1.6em;
    background: #fff;
    margin-bottom: 3em;
	position: relative;
	a{
		color:$default-color;
		&:hover{color:$secondary-color;text-decoration:none;}
	} 
	
	&.widget_beautytemple_ads {
		padding: 0;
		background: rgba(0,0,0,0);
		
		img {
			display: table;
		}
	}
}

/* Posts and Pages */
article.post {
    background: #fff;
	margin-bottom: 3em;
	
	.entry-thumbnail {
		img {
			display: table;
			width: 100%;
		}	
	}
	
	.entry-header {
		padding: 2em 2.2em 0;
		
		.posted-on .icon-calendar {
			margin-left: -2px;
		}
	}
	
	.entry-content, .entry-summary {
		padding: 0 2.2em 0;
		
		.more-link {
			font-weight: bold;
		}
	}
	.entry-footer {
		padding: 0 2.2em 2.2em;
		
		.cat-links .icon-folder {
			margin-left: -2px;
		}
		.edit-link .icon-pencil {
			margin-left: -2px;
		}
	}

	
}
.single-post {

	article.post{
		margin-bottom:0em;
	}

}
.navigation.post-navigation {
	background: #fafafa;
	padding: 2em 2.2em 2.2em;
	border-bottom: 1px solid #eee;
}
	
article.page {
    background: #fff;
	margin-bottom: 3em;
	
	.entry-thumbnail {
		img {
			display: table;
			width: 100%;
		}	
	}
	
	.entry-header {
		padding: 2em 2.2em 0;
		
		.posted-on .icon-calendar {
			margin-left: -2px;
		}
	}
	
	.entry-content, .entry-summary {
		padding: 0 2.2em 0;
	}
	.entry-footer {
		padding: 0 2.2em 2.2em;
		
		.cat-links .icon-folder {
			margin-left: -2px;
		}
		.edit-link .icon-pencil {
			margin-left: -2px;
		}
	}

	
}

/* Search Form */
.search-form .screen-reader-text {
    display: none;
}

/* Comments */

.comments-area {
    background: #fafafa;
    padding: 2em 2.2em 2.2em;
	
	.comment-body {
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 1px dotted $default-color;
	}
	.comment-metadata time {
		font-size: 0.8rem;
	}
	
	.avatar {border-radius: 32px;display: block;}	
	


}
.bypostauthor {
	display: block;
}


/* Captions */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	
	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}	
	
	.wp-caption-text {
		margin: 0.8075em 0;
		text-align: center;
	}
}


/* Alignments */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.sticky {
	display: block;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.bypostauthor{}


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}