.site-footer{
    background: $brandColorBlack;
    a{
        color:#ffffff;
        &:hover,
            &:focus {
            color:$brandColor;
        }
    }
    .copyright{
        text-align: center;
		font-size: 14px;
        border-top:1px solid rgba(255,255,255,0.15); 
        padding: 34px 0 16px;
        margin: 64px 0 0;
		a {
			color: #aaa;
		}
    }
    .site-logo{
        margin: 64px 0 0;
    }
    .site-title{
        color:#ffffff;
        font-size: 40px;
        text-transform: uppercase;   
        margin:0;
        line-height: 1;
    }
    .header-logo{
        max-width:400px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .site-description{
        margin: $margin 0 0;
        display: inline-block;
        vertical-align: middle;
    }
    .site-tagline{
        font-size: 16px;
        text-transform: uppercase;
        color:$textColor;
        margin: 0;
    }
}
.social-profile{
    .fa{
        font-size: 22px;
    }
    a{
        display: inline-block;
        margin: 0 25px 22px 0;
    }

}
.footer-widget{
    margin: 67px 0 0 8.33333333%;
    padding-left:15px;
    .footer-title{
        font-size: 16px;
        position:relative;
        margin:0 0 16px;
        &:before{
            content:'';
            position: absolute;
            left: -60px;
            top: 7px;
            width:44px;
            height: 3px;
            background: rgba(255,255,255,0.15);
        }   
    }
    .info-list{
        font-size: 20px;
        color:#ffffff;
    }
}