.navbar {
    float: right;
    margin: 0;
    padding: 53px 0 0 200px ;
    border: 0px solid;
    &.navbar-full-width{
        padding-left: 0;
    }
}
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu>li>ul{
    &:before{
        content:'';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $menuBg transparent;
        position: absolute;
        top:-10px;
        left:34px;
    }
}
.sf-menu ul {
    display: none;
    position: absolute;    
    top: 100%;
    left: -26px;
    z-index: 99;
    text-align:left;
    width:200px;

    &.toleft{ 
        left: auto;
        right: -26px;
        &:before{
            left:auto;  
            right:34px;
        }
    }
    ul.toleft {
        left:auto;
        right:100%;
    }
    a{
        padding: 12px 24px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        font-size: 16px;
        background: $menuBg;
        color:#ffffff;
        &:hover{
            background: $menuBgHover;
        }
    }
}
.sf-menu > li {
    float: left;
    margin-left:44px;
    &>a{
        color:$headerColor;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 0 15px 0;
    }
    &>a:hover,
        &>a:focus,
        &.current_page_item>a,
        &.current-menu-item>a{
        color:$brandColorBlack;
    }
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}


.mobile-menu{
    display: none;
}
@media (max-width: 991px){ 

    .sf-menu{
        display: block;
        &>li{
            float: none;
            margin: 0;
            text-align: left;
            border-bottom: 1px solid #cecdcd;
            &:first-child{                
                border-top: 1px solid #cecdcd;
            }
        }
    }
    .sf-menu > li > a {
        font-size: 14px;
        padding: 10px 0;
    }
    .sf-menu ul{
        display: block!important;  
        opacity:1!important;
        position:relative;
        width: 100%;
        left: inherit;
    }
    .sf-menu > li > ul:before{
        display: none;
    }
    .sf-menu ul.toleft{
        right: inherit;
    }
    .sf-menu ul a {
        padding: 10px ;
        border-top: 1px solid #cecdcd;
        font-size: 14px;
        background: transparent;
        color: inherit;
        &:before{
            content:'- ';
        }
    }
    .sf-menu ul ul a{
        padding: 10px 20px;
    }
    .sf-menu ul ul,
    .sf-menu ul ul.toleft {
        left: inherit;
        right: inherit;
    }
    .sf-menu ul a:hover{
        background: transparent;
    }

}


@media (max-width: 480px){
    .mobile-menu .select-wrapper {
        max-width: 100%;
    }
}