@import "relatedposts";
.comment-respond,
.comment-description{
    background: $grey;
    padding: 33px 30px 37px;
    margin: 0 0 15px;
}
.comment-description{
    .fn{
        margin-bottom: 13px;
    }
    .comment-meta{
        margin: 0 0 18px;
        font-style: italic;
    }
    .comment-author{
        float:left;
        margin-right: $margin;
    }
    .comment-content{
        overflow: hidden;
    }
    .reply{        
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        margin: 35px 0 0;
    }

}
.comment-list ol{
    margin: 0 0 0 40px;
}
.comments-area{
    margin: 0 0 110px;
    .comment-reply-title{
        font-size: $fontSizeH5;
        line-height: 26px;
        text-transform: none;
    }
    .form-submit  input[type="submit"]{
        padding: 13px 35px;
    }
    .form-submit{
        padding-top: $margin; 
        margin: 0;
    }
}
.single{
    .main-container {
        padding-bottom: 0;
    }
    .entry-footer{
        border: 0px solid;
        margin: 48px 0 0;
        padding: 0;
    }
}

@media (max-width: 767px){ 
    .single .entry-footer {
        margin: 20px 0 0;
    }
    .comments-area {
        margin: 0 0 50px;
    }
    .posts-related .posts-related-header {
        padding: 34px 0 10px;
    }
    .posts-related .two-col-works .work-content .work-header {
    padding: 35px 15px;
}
}