.posts-related{
    background:$grey;
    .posts-related-header{
        text-align: center;
        padding: 109px 0 34px;
        span{
            display: block;
        }
    }
    .two-col-works .work-content .work-header {
        background: rgba(23,23,23,0.5);
        width:410px;
        padding: 65px;
        h5{
            color:#ffffff;
        }
    }
    .two-col-works .work-content {
        bottom: auto;
        top: 50%;
        @include transform(translate(00%, -50%));
    }
}