body {
    color: $textColor;
    font-family: $fontFamilyRoboto;
    font-size: $fontSizeBase;
    line-height: $lineHieghtBase;
    font-weight: 400;
}
h1,
.h1,
h2, 
.h2,
h3, 
.h3,
h4, 
.h4,
h5, 
.h5,
h6, 
.h6{

    color:$brandColorBlack;
    font-family: $fontFamilyRoboto;    
    margin: 34px 0 12px;
    line-height: 1.35;
}
h1{
    margin: 0 0 30px;
}
h1, 
h3, 
h4,
.h1, 
.h3,
.h4{

    font-weight: 700;
}
h5, 
h3,
.h5, 
.h3{
    text-transform: uppercase;
}
h1,
.h1 {    
    font-size: $fontSizeH1;
    line-height: 1.2;
}
h2, 
.h2 {
    font-size: $fontSizeH2;
    line-height: 1.2;
}
h3, 
.h3{
    font-size: $fontSizeH3;
}
h4, 
.h4 {
    font-size: $fontSizeH4;
}
h5, 
.h5 {  
    font-size: $fontSizeH5;
    line-height: 26px;
}
h6, 
.h6{
    line-height: 22px;
    font-size: $fontSizeH6;
}
p ,
table,
dl,
dd{
    margin: 0 0 $margin;
}

hr {
    margin: $margin 0;
}
ul,
ol{
    list-style: none;
    &,
    li{
        margin: 0;
        padding: 0;
    }
}
.site-main{ 
    ul,
    ol{
        margin-bottom: $margin;
    }
}
*:focus, 
a:focus{
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    &{
        color:$brandColorBlack;
    }
    &:hover,
        &:focus{ 
        color:$brandColor;
        text-decoration: none;
    }
}
.brand-color{
    color:$brandColor;
}

.entry-content,
.comment-content{
    ol{ 
        list-style: decimal;
        list-style-position: inside;
        li{
            margin: 0 0 10px;
        }
    }
    ul{
        &>li{
            margin: 0 0 10px;
        }
    }
    ul{
        list-style-type: disc;
        list-style-position: inside;
    }
    ul,
    ol{     
        line-height: 1.9;
        ul,
        ol{
            margin:10px 0 0 $margin;
        }
    }
}
.page-wrapper.format-link .entry-content a,  
.button,
button, 
input[type="button"],
input[type="submit"]{ 
    padding:7px 21px;
    background: $brandColorBlack;
    color: #ffffff;
    font-family: $fontFamilyRoboto;
    font-size: 14px;
    line-height: $lineHieghtBase;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0px;
    border: 0px solid;
    min-height:36px;
    text-shadow:none;
    display:inline-block;
    &:hover,
        &:focus{
        background:$brandColor;
        color: #ffffff;
        text-decoration: none;
    }
    &.button-md{
        padding: 13px 35px;
    }

}
blockquote {
    position:relative;
    padding: 38px 0px 15px 63px;
    margin: 0 0 $margin;
    font-size: inherit;
    border-left: 7px solid $brandColor;
    min-height:120px;
    &:before{
        color: $brandColor;
        content: '\0022';
        font-size: 96px;
        line-height: 1;
        position: absolute;
        top: 2px;
        left: 20px;
    }
}

.form-control ,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
select,
textarea{   
    /* padding: 20px 24px;*/
    padding: 6px 14px 6px;
    font-size: inherit;
    line-height: inherit;
    color: $textColor;
    border: 0px solid ;
    border-bottom: 3px solid $textColor;
    border-radius: 0;
    background: transparent;
    @include box-shadow( none);

}
textarea{
    width:100%;
}
.form-control:focus {
    border-color: $textColor;
    @include box-shadow(none);
}
.form-control ,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
select{
    height: 38px;
}
.form-group{
    margin: 0 0 42px;
}
dt {
    font-weight: 400;
    font-size: 20px;
    color:$brandColorBlack;
    margin: 0 0 12px;
}
dt, dd {
    line-height: inherit;
}
table{
    width:100%;

    thead{
        background: #f2f2f2;
        font-size: 16px;
        color:$brandColorBlack;
        td,th{
            padding: 23px 27px 18px;
        }

    }
    tbody, tfoot{
        td,th{
            padding: 22px 29px 21px;
            vertical-align: top;
        } 
    }
    th,td{
        border:1px solid #d4d4d4;
    }
    th{
        font-weight: 400;
    }
}

select{
    z-index: 100;
    background:transparent;
    border:1px solid #cecdcd;
    position: relative;
    padding: 8px 48px 5px 16px;
    height: 39px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url(../images/select-bg.png);
    background-position: 100%;
    background-repeat: no-repeat;
}
.radio-labelauty:checked + label > span.labelauty-unchecked-image ,
input.labelauty:checked + label > span.labelauty-unchecked-image {
    display: none;
}
.radio-labelauty:not(:checked) + label > span.labelauty-checked-image ,
input.labelauty:not(:checked) + label > span.labelauty-checked-image {
    display: none;
}
input.labelauty+ label > span.labelauty-checked-image{
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    color:$textColor;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:center;    
    padding: 7px 0 0;
    &:before{
        content: "\f00c";
    }
}
.radio-labelauty+ label > span.labelauty-unchecked-image, .radio-labelauty + label > span.labelauty-checked-image ,
input.labelauty + label > span.labelauty-unchecked-image, input.labelauty + label > span.labelauty-checked-image {
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: bottom;
    background: $grey;
    border:1px solid #cecdcd;    
    margin-right: 12px;
}
.radio-labelauty+ label > span.labelauty-unchecked-image, .radio-labelauty + label > span.labelauty-checked-image {
    border-radius: 100%;
}
.radio-labelauty+ label > span.labelauty-checked-image{
    position:relative;
    &:before{
        width:8px;
        background: $textColor;
        height: 8px;
        border-radius: 100%;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -4px;
    }
}
label{
    font-weight: 400;
    margin:0;
}
.color-black{
    color:$brandColorBlack;
}
video{
    max-width: 100%;
}