.home .page-wrapper{
    .entry-header{
        a:hover, a:focus{
            color:$brandColorBlack;
        }
    }
}
.page-wrapper{
    min-height: 100vh;
    background:$brandColorSecond center no-repeat;
    .page-content{
        position: absolute;
        bottom: 0;
        right:0;
        width:335px;
        max-width: 100%;
        text-align:right;
        padding: 0 50px 50px;
        word-wrap: break-word;
    }
    .work-wrapper{        
        overflow: hidden;
    }
    .category-wrapper{
        background-color: $brandColor;
    }
    &:nth-child(4n+2){       
        background-color: $brandColor;
        .category-wrapper{
            background: $brandColorSecond
        }
    }
    &:nth-child(4n+3){
        background-color: $brandColorThird;
        .category-wrapper{
            background: $brandColorSecond
        }
    }
    &:nth-child(4n+4){
        background-color: $brandColorFourth;
    }
    .work-wrapper{
        &.work-wrapper-cover{
            background-attachment:fixed; 
        }
    }
        &.format-video {
        .entry-media {
            margin: 0;                         
        }
        .entry-media iframe,
        .mejs-container{
            height: auto!important;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: auto!important;
            z-index: 0;
        }
        video{
            height: auto!important;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            bottom: 0%;
            left: 50%;
            @include transform(translate(-50%, 0%));
            width: auto!important;
            z-index: 0;
        }
        .page-content {
            bottom: 30px;
            padding: 0 50px 20px;
            z-index: 100;
        }
    }
    &.format-gallery{
        .gallery-wrapper{
            height: 100vh;
            display:table;
            width:100%;
            table-layout: fixed;
        }
        .gallery-content{    
            padding: 40px 0;
            max-width: 100%;
            width: 100%;
            display: table-cell;
            table-layout: fixed;
            vertical-align: middle;
            .entry-thumbnail{
                margin: 0;
            }

        }
    }

}

.two-col-works{
    .work-element{
        &:nth-child(4n+2){       
            background-color: $brandColor;
        }
        &:nth-child(4n+3){
            background-color: $brandColorThird;
        }
        &:nth-child(4n+4){
            background-color: $brandColorFourth;
        }
    }
}
.work-wrapper{
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    &.work-wrapper-cover{
        @include background-size(cover); 
    }
    &.work-wrapper-light{
        .h4 a,.h4,
        p{
            color:#ffffff;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
        .h4 a{
            &:hover, &:focus{
                color:#ffffff;
            }
        }
    }

}
.page-wrapper .work-wrapper{
    min-height: 100vh;
}
.two-col-works{
    .work-element{
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 50%;
        height: auto;
        min-height: 100px;
        float: left;
        background:$brandColorSecond  center no-repeat;
        &.default-elemet{
            .work-content {   
                opacity: 1;
            }
        }
        &:hover {
            .work-wrapper{
                @include transform(scale(1.1,1.1));
            }
            .work-content {   
                opacity: 1;
            }
        }
    }
    .work-wrapper{
        @include transition(transform 1s);
        height:100%;
        width:100%;
        padding-bottom: 75%;
    }
    .work-content {    
        opacity:0;
        position:absolute;
        bottom:80px;
        left:0;
        right:0;
        text-align:center;
        padding:0 15px;
        @include transition(opacity 0.5s);
        .work-header{
            display: inline-block;
            background: #ffffff;
            padding: 19px;
            width: 400px;
            max-width:100%;         
            h5{
                margin: 0;
                font-size:18px;
            }
        }
    }
}
.work-header{
    word-wrap: break-word;
}
.work-blog{
    .page-wrapper{      
        display:table;
        width:100%;
        table-layout: fixed;
        background-image: none;
        height: 100vh;
    }
    &.home-work-blog{
        .page-wrapper:after{
            display: none;
        }
        .entry-title{
            line-height: 1;
        }
        .entry-content{
            line-height: 1.2;
        }
    }

}
.work-wrapper-default{
    opacity: 1!important;
}
iframe{
    display: block;
}
.gallery-row{
    width: auto;
    display: inline-block;
    img{
        display: block;
    }
}
.work-post.format-gallery .entry-thumbnail.entry-thumbnail-gallery{
    min-height: 0px;  
    margin: 0 -4px -95px;
    @include box-shadow(none);
    .gallery-row{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top:0;            
            bottom: 0px;
            right: 4px;
            left: 4px;
            @include box-shadow(10px 10px 0 rgba(31,31,31,0.4));
        }
    }
}

.gallery-12,
.gallery-6,
.gallery-4{
    display: inline-block;
    vertical-align: middle;
    a{
        padding: 0 4px 0;
        display: block;
    }
}
.gallery-12 + .gallery-6+ .gallery-6 a,
.gallery-12+ .gallery-6 a{
    padding-top: 8px;
}
.gallery-4{
    max-width:33.333333%; 
}
.gallery-6{
    max-width:50%;
}
.gallery-12{
    width:100%;
}
/*.gallery-row+.gallery-row .gallery-6{
    padding-top: 8px;
}*/

.work-post{
    max-width: 100%;
    width: 100%;
    display: table-cell;
    table-layout: fixed;
    font-size: 14px;
    vertical-align: middle;
    padding:40px 0;
    text-align:center;
    .entry-thumbnail, .entry-media{
        @include box-shadow(10px 10px 0 rgba(31,31,31,0.4));
        margin: 0 auto -95px;
        display: inline-block;
        min-height: 200px;
        max-width: 100%;
    }
    .entry-wrapper{
        text-align: center;
        background: #ffffff;
        padding: 22px 25px 13px;
        .h4{
            margin:0px;
        }
        .entry-footer {
            margin: 0 0 $margin;
            padding: 0;
            border-top: 0px solid ;
        }
        .entry-media{
            @include box-shadow(none);
            margin: 0;
            display: block;
            min-height: 0;
        }
    }
    .entry-header{
        margin: 0 0 10px;
    }
    .category-wrapper{
        display: table;
        margin: 0 auto;
        background: $brandColor;
        color:#ffffff;
        min-width:130px;
        padding: 15px 15px 13px;

        &:hover {
            background: #202020;
        }
    }

    &.format-gallery .entry-thumbnail{
        display: block;
    }
    &.format-link{
        .entry-header{
            a:after {
                display: inline-block;
                font-family:FontAwesome;
                font-size: 18px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
                content: "\f178";
                color:$textColor;
                margin-left:18px;
                vertical-align: middle;
            }
        }
    }
    &.format-video{
        .entry-media{
            display: block;
            margin: 0px 0 0 0;
            position: relative;
            z-index: 1;
        }
        .entry-wrapper{
            position: relative;
            z-index: 2;
            margin-bottom: -90px;
        }
    }
    &.format-quote{
        blockquote{
            border: 0 solid;
            padding: 46px $margin 0px;
            min-height: 0;
            &:before {
                top: 0px;
                left: 50%;
                margin-left: -15px;
            }
        }
    }
}
.work-wrapper1{
    background-image: url(../images/works/bg1.jpg);
}
.work-wrapper2{
    background-image: url(../images/works/bg2.jpg);
}
.work-wrapper3{
    background-image: url(../images/works/bg3.jpg);
}
.work-wrapper4{
    background-image: url(../images/works/bg4.jpg);
}
.work-wrapper5{
    background-image: url(../images/works/bg5.jpg);
}
.work-wrapper6{
    background-image: url(../images/works/bg6.jpg);
}
@media (max-width: 991px){ 
    .two-col-works .work-content {   
        bottom: auto;
        top: 0;
        padding: 0;
        opacity:1;
        h5{
            text-transform: none;
        }
    }
    .two-col-works{
        .work-wrapper-light+.work-content h5{
            color:#ffffff;
        }
    }
    .two-col-works .work-content .work-header {
        display: block;
        text-align: left;
        background: transparent;
        width:100%;
    }
}
@media (max-width: 767px){ 
    .page-wrapper .page-content {
        padding: 0 15px 15px;
    }
    .two-col-works .work-element {
        width: 100%;
    }
    .work-post .entry-thumbnail, .work-post .entry-media{
        margin: 0 auto 22px;
    }
    .work-post.format-video .entry-wrapper {
        margin-bottom: $margin;
    }
    .work-post .entry-thumbnail, .work-post .entry-media {
        min-height:  0;
    }
    .work-post .entry-thumbnail, .work-post .entry-media {
        @include box-shadow(none);
        margin: 0;
    }
    .work-post .entry-thumbnail+ .row .category-wrapper {
        margin-top: -50px;
    }
    .work-post.format-video .entry-wrapper {
        margin-bottom: 0;
    }
    .work-blog.home-work-blog .entry-content p {
        height: 20px; 
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .work-blog.home-work-blog .entry-title{
        display: none;
    }
    .page-wrapper.format-video .page-content {
        padding: 0 15px 20px;
    }
    .work-post.format-gallery .entry-thumbnail.entry-thumbnail-gallery{
        margin: 0;
    }
    .gallery-row {
        display: block;
        margin: 0 -4px;
    }
    .work-post.format-gallery .entry-thumbnail.entry-thumbnail-gallery .gallery-row:before{
        display: none;
    }
}