.single-article article {
	margin-top: 15px;
}
.single-article aside {
	margin-top: 25px;
}
.single-article article .postfeat {
	padding-top: 10px;
}
.single-article .post header {
padding: 10px 0;
}
.single-article .post-single-img {
	text-align: center;
	-webkit-transform: translateZ(0);
}


.single-footer {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
	border-bottom-color: rgba(0,0,0,0.05); 
}
// Staff 
 .staff-img {
 	margin:10px 20px 10px 0px;
 }
