input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__gray;
	@include border-radius(3px);
	padding: $small__spacing/2 $small__spacing;
	&:focus {
		color: darken($color__text-input,10);
        outline-color: transparent;
        outline-style: none;
	}
}

select {
	border: 1px solid $color__gray;
    height: 36px;
}

textarea {
    overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding: 1em;
    vertical-align: top; /* Improves readability and alignment in all browsers */
    width: 100%;
    line-height:1.5em;
}
legend {
    @extend h2;
}
input[type="search"] {
    -webkit-appearance: none;
}
label {
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 12px;
    color: $color__headings;
    font-weight: $font__bold;
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
}