body#tinymce.wp-editor { 
    margin:15px; 
}

body#tinymce p {
  margin-bottom: 15px;           
} 

body#tinymce.wp-editor a {
    color: #0099CC;
    text-decoration: none;
}

body#tinymce.wp-editor a:active,
body#tinymce.wp-editor a:hover {
	color: #003366;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
    color: #0099CC;
    margin: 20px 0 12px;
}