a {
	transition: .18s all cubic-bezier(.8,.1,.1,.5);
}

/* Override regular elements that are still in the markup. Note: widget area is still visible, by design. */
.site-content {
	z-index: 2;
	top: 0 !important;
}
.site-header {
	display: none;
}
.site-info {
	position: fixed;
	bottom: 0;
}
.site-info a:hover,
.site-info a:focus,
.site-info a:active {
	color: #903;
}

.content-expanded, .content-collapsed {
	max-width: 384px;
	width: 100%;
	margin: 64px;
	float: left;
}

h3.icon-link {
	padding: 0;
	margin: 0;
}
h3.icon-link a {
	display: block;
	line-height: 48px;
	font-size: 36px;
	font-weight: 600;
	padding: 14px 18px;
	margin: 0;
	width: 100%;
	height: 128px;
	vertical-align: middle;
	text-align: left;
	color: #f7f7ec;
	background: #222;
	border-left: 128px solid #f7f7ec;
	position: relative;
}
h3.icon-link a:before {
	display: block;
	position: absolute;
	top: 32px;
	left: -96px;
	
	color: #222;
	
	font-family: Dashicons;
	font-size: 64px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 64px;
	vertical-align: middle;
}
.content-area .content-expanded:nth-child(even) h3.icon-link a,
.content-area .content-collapsed:nth-child(even) h3.icon-link a {
	background: #f7f7ec;
	border-color: #222;
	color: #222;
}
.content-area .content-expanded:nth-child(even) h3.icon-link a:before,
.content-area .content-collapsed:nth-child(even) h3.icon-link a:before {
	color: #f7f7ec;
}
.content-expanded:hover h3.icon-link a,
.content-collapsed:hover h3.icon-link a {
	border-color: #903;
	background-color: #903;
	color: #222;
}
.content-area .content-expanded:nth-child(even):hover h3.icon-link a,
.content-area .content-collapsed:nth-child(even):hover h3.icon-link a {
	border-color: #309;
	background-color: #309;
	color: #f7f7ec;
}

a.icon-link-music:before {
	content: "\f127";
}
a.icon-link-plugins:before {
	content: "\f106";
}
a.icon-link-blog:before {
	content: "\f110";
}
a.icon-link-random:before {
	content: "\f226";
}
a.icon-link-ts:before {
	content: "\f111";
}
.icon-link-ts {
	letter-spacing: -1px;
}
a.icon-link-dev:before {
	content: "\f319";
}

.content-collapsed h3.icon-link a {
	font-size: 28px;
}

/* Featured details sections */
.featured-list {
    margin-left: 128px;
    background-color: #f7f7ec;
    padding: 12px 18px;
	font-size: 18px;
	font-weight: 400;
}
.featured-list a {
	color: #222;
}
.content-expanded:nth-child(even) .featured-list {
	background-color: #222;
	color: #f7f7ec;
}
.content-expanded:nth-child(even) .featured-list a {
	color: #f7f7ec;
}
.content-expanded a:hover {
	color: #309;
}
.content-expanded:nth-child(even) .featured-list a:hover {
	color: #903;
}
.featured-list ul {
	margin: 0 0 13px 0;
	padding: 0;
	list-style: none;
}
.featured-list li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.featured-list li a:before {
	font-family: Dashicons;
	font-weight: 400;
	font-size: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f139";
	position: relative;
	top: 3px;
	left: 0;
}
a.more-link:after {
	font-family: Dashicons;
	font-size: 20px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 20px;
	vertical-align: middle;
	content: "\f344";
	margin-left: 3px;
	transition: .2s margin ease;
}
a.more-link:hover:after {
	margin-left: 6px;
}


/* Responsivize */
.content-area {
	width: 1536px;
	margin: 0 auto;
}
@media only screen and (max-width:1535px) {
	.content-area {
		width: 1024px;
	}
	
	/* Start to collapse margins. */
	.content-collapsed {
		margin: 0 64px;
	}
	.content-area > div.content-collapsed:first-of-type {
		margin-top: 64px;
	}
	.content-area > div.content-collapsed:last-child {
		margin-bottom: 64px;
	}
}
@media only screen and (max-width:1023px) {
	.content-area {
		width: 384px;
	}
	
	/* Start to collapse margins. */
	.content-expanded, 
	.content-collapsed {
		margin: 0 !important;
	}
	.content-area > section:first-child,
	.content-area > div:first-child {
		margin-top: 64px !important;
	}
	.content-area > section:last-child,
	.content-area > div:last-child {
		margin-bottom: 64px !important;
	}
	
	.site-info {
		position: relative;
	}
	header#celloglobal {
		display: none;
	}
}