body, td, textarea, input, select {
    font-family: Segoe UI, Arial !important;
    font-size: 13px;
}



 .wrap {
display:block;
float:none;
width:730px;
margin:10px auto !important;
border:1px solid #CCC;
background:#F7F7F7;
padding:0px 30px 10px 30px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.wrap h2 {
font-family: Segoe UI, Arial !important;
font-variant: small-caps;
text-transform: uppercase;
}

.form-table th {
font-weight:bold;
}

.form-table small {
font-size:12px;
 color: #444 !important;
}

#accordion h3 {
margin:0;
padding-bottom:10px;
clear:both;
display:block;
float:none;
color:#0D85CC;
border:1px solid #CCC !important;
font-size: 16px !important;
padding:7px; !important;
padding-left:30px !important;
font-weight:normal !important;
}

.form-table th, .form-wrap label {
    color: #555 !important;
font-variant: small-caps;
text-transform: uppercase;
font-size: 13px;
}

input[type="text"] , select {
border:1px solid #AAA !important;
border-radius:5px;
-moz-border-radius:5px;
}

.submit {text-align:right;margin-right:20px;
}

.ui-widget-content {
background:#FFF !important;

/* TABS  */














