{
  "name": "base-wp",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style.scss",
      "imports": [
        "sass/variables-site/_variables-site.scss",
        "sass/mixins/_mixins-master.scss",
        "sass/_normalize.scss",
        "sass/grid/index.scss",
        "sass/layout/_layout.scss",
        "sass/typography/_typography.scss",
        "sass/elements/_elements.scss",
        "sass/forms/_forms.scss",
        "sass/navigation/_navigation.scss",
        "sass/modules/_accessibility.scss",
        "sass/modules/_alignments.scss",
        "sass/modules/_clearings.scss",
        "sass/site/secondary/_widgets.scss",
        "sass/site/_site.scss",
        "sass/modules/_infinite-scroll.scss",
        "sass/media/_media.scss",
        "sass/plugins/_plugins.scss",
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_spacing.scss",
        "sass/grid/_settings.scss",
        "sass/grid/_functions.scss",
        "sass/grid/_grid.scss",
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss",
        "sass/typography/_simple-line-icons.scss",
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss",
        "sass/elements/_icons.scss",
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss",
        "sass/navigation/_links.scss",
        "sass/navigation/_menu.scss",
        "sass/navigation/_pagination.scss",
        "sass/navigation/_breadcrumb.scss",
        "sass/site/header/_header.scss",
        "sass/site/footer/_footer.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss",
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss",
        "sass/plugins/_woocommerce.scss",
        "sass/plugins/_edd.scss",
        "sass/navigation/_center-header.scss",
        "sass/navigation/_inline-header.scss"
      ]
    },
    {
      "path": "sass/elements/_elements.scss",
      "imports": [
        "sass/elements/_lists.scss",
        "sass/elements/_tables.scss",
        "sass/elements/_icons.scss"
      ]
    },
    {
      "path": "sass/forms/_forms.scss",
      "imports": [
        "sass/forms/_buttons.scss",
        "sass/forms/_fields.scss"
      ]
    },
    {
      "path": "sass/grid/index.scss",
      "imports": [
        "sass/grid/_settings.scss",
        "sass/grid/_functions.scss",
        "sass/grid/_grid.scss"
      ]
    },
    {
      "path": "sass/media/_media.scss",
      "imports": [
        "sass/media/_captions.scss",
        "sass/media/_galleries.scss"
      ]
    },
    {
      "path": "sass/navigation/_menu.scss",
      "imports": [
        "sass/navigation/_center-header.scss",
        "sass/navigation/_inline-header.scss"
      ]
    },
    {
      "path": "sass/navigation/_navigation.scss",
      "imports": [
        "sass/navigation/_links.scss",
        "sass/navigation/_menu.scss",
        "sass/navigation/_pagination.scss",
        "sass/navigation/_breadcrumb.scss",
        "sass/navigation/_center-header.scss",
        "sass/navigation/_inline-header.scss"
      ]
    },
    {
      "path": "sass/plugins/_plugins.scss",
      "imports": [
        "sass/plugins/_woocommerce.scss",
        "sass/plugins/_edd.scss"
      ]
    },
    {
      "path": "sass/site/_site.scss",
      "imports": [
        "sass/site/header/_header.scss",
        "sass/site/footer/_footer.scss",
        "sass/site/primary/_posts-and-pages.scss",
        "sass/site/primary/_comments.scss"
      ]
    },
    {
      "path": "sass/typography/_typography.scss",
      "imports": [
        "sass/typography/_headings.scss",
        "sass/typography/_copy.scss",
        "sass/typography/_simple-line-icons.scss"
      ]
    },
    {
      "path": "sass/variables-site/_variables-site.scss",
      "imports": [
        "sass/variables-site/_colors.scss",
        "sass/variables-site/_typography.scss",
        "sass/variables-site/_spacing.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/wp-content/themes/base-wp",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "iograficathemes.com",
      "port": 21,
      "user": "demoigt@iograficathemes.com",
      "password": "3iografit79"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2019-01-03T16:12:15.386Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2062
      },
      {
        "file": "archive.php",
        "ctime": "2019-01-03T16:12:15.383Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1316
      },
      {
        "file": "comments.php",
        "ctime": "2019-01-03T16:12:15.482Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 3227
      },
      {
        "file": "css/custom.css",
        "ctime": "2019-01-03T16:12:16.586Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 0
      },
      {
        "file": "css/dynamic.css",
        "ctime": "2019-01-03T16:12:16.664Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 0
      },
      {
        "file": "footer.php",
        "ctime": "2019-01-03T16:12:15.487Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 864
      },
      {
        "file": "functions.php",
        "ctime": "2019-01-03T16:12:15.579Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 8424
      },
      {
        "file": "header.php",
        "ctime": "2019-01-03T16:12:15.587Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1387
      },
      {
        "file": "inc/render/extras.php",
        "ctime": "2019-01-03T16:12:17.145Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1748
      },
      {
        "file": "inc/render/template-functions.php",
        "ctime": "2019-01-03T16:12:17.220Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 4541
      },
      {
        "file": "inc/render/template-tags.php",
        "ctime": "2019-01-03T16:12:17.248Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 6170
      },
      {
        "file": "inc/admin/options/customizer.php",
        "ctime": "2019-01-03T16:12:19.155Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1582
      },
      {
        "file": "inc/admin/welcome/welcome-screen.php",
        "ctime": "2019-01-03T16:12:19.160Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2924
      },
      {
        "file": "inc/icons/simple-line-icons/Simple-Line-Icons.eot",
        "ctime": "2019-01-03T16:12:19.300Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 54266
      },
      {
        "file": "inc/icons/simple-line-icons/Simple-Line-Icons.svg",
        "ctime": "2019-01-03T16:12:19.347Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 239045
      },
      {
        "file": "inc/icons/simple-line-icons/Simple-Line-Icons.ttf",
        "ctime": "2019-01-03T16:12:19.454Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 54056
      },
      {
        "file": "inc/icons/simple-line-icons/Simple-Line-Icons.woff",
        "ctime": "2019-01-03T16:12:19.512Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 81332
      },
      {
        "file": "inc/icons/simple-line-icons/Simple-Line-Icons.woff2",
        "ctime": "2019-01-03T16:12:19.582Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 30064
      },
      {
        "file": "inc/plugins/beaver-builder/bbuilder-functions.php",
        "ctime": "2019-01-03T16:12:19.611Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 342
      },
      {
        "file": "inc/plugins/edd/download-actions.php",
        "ctime": "2019-01-03T16:12:19.683Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 3473
      },
      {
        "file": "inc/plugins/edd/edd-functions.php",
        "ctime": "2019-01-03T16:12:19.709Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2135
      },
      {
        "file": "inc/plugins/jetpack/jetpack-funtions.php",
        "ctime": "2019-01-03T16:12:19.787Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 963
      },
      {
        "file": "inc/plugins/woocommerce/wc-functions.php",
        "ctime": "2019-01-03T16:12:19.807Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1277
      },
      {
        "file": "inc/render/structure/content-top.php",
        "ctime": "2019-01-03T16:12:19.887Z",
        "mtime": "2019-01-02T11:52:44.000Z",
        "size": 4859
      },
      {
        "file": "inc/render/structure/footer.php",
        "ctime": "2019-01-03T16:12:19.907Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 6014
      },
      {
        "file": "inc/render/structure/header.php",
        "ctime": "2019-01-03T16:12:19.983Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 3265
      },
      {
        "file": "inc/render/structure/loop.php",
        "ctime": "2019-01-03T16:12:20.002Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2882
      },
      {
        "file": "inc/render/structure/page.php",
        "ctime": "2019-01-03T16:12:20.080Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2660
      },
      {
        "file": "inc/render/structure/post.php",
        "ctime": "2019-01-03T16:12:20.097Z",
        "mtime": "2019-01-02T11:24:45.000Z",
        "size": 2617
      },
      {
        "file": "inc/admin/options/assetts/customizer-custom-controls.php",
        "ctime": "2019-01-03T16:12:20.388Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 4943
      },
      {
        "file": "inc/admin/options/assetts/customizer-defaults.php",
        "ctime": "2019-01-03T16:12:20.490Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 645
      },
      {
        "file": "inc/admin/options/assetts/customizer-dynamic-css.php",
        "ctime": "2019-01-21T10:48:44.101Z",
        "mtime": "2019-01-21T10:48:44.101Z",
        "size": 10934
      },
      {
        "file": "inc/admin/options/assetts/customizer-sanitization.php",
        "ctime": "2019-01-22T15:56:40.890Z",
        "mtime": "2019-01-22T15:56:40.890Z",
        "size": 1553
      },
      {
        "file": "inc/admin/options/assetts/customizer-settings.php",
        "ctime": "2019-01-03T16:12:20.616Z",
        "mtime": "2019-01-02T11:51:11.000Z",
        "size": 36328
      },
      {
        "file": "inc/admin/welcome/css/welcome.css",
        "ctime": "2019-01-03T16:12:20.704Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1400
      },
      {
        "file": "inc/admin/welcome/images/beaverbuilder.png",
        "ctime": "2019-01-03T16:12:20.729Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 8299
      },
      {
        "file": "inc/admin/welcome/images/edd.png",
        "ctime": "2019-01-03T16:12:20.805Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 6370
      },
      {
        "file": "inc/admin/welcome/images/elementor.png",
        "ctime": "2019-01-03T16:12:20.825Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 3929
      },
      {
        "file": "inc/admin/welcome/images/shortpixel.png",
        "ctime": "2019-01-03T16:12:20.929Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 21436
      },
      {
        "file": "inc/admin/welcome/images/woocommerce.png",
        "ctime": "2019-01-03T16:12:20.923Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 5957
      },
      {
        "file": "inc/admin/welcome/images/yoastseo.png",
        "ctime": "2019-01-03T16:12:21.020Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 4510
      },
      {
        "file": "inc/admin/welcome/sections/getting-started.php",
        "ctime": "2019-01-21T09:21:54.277Z",
        "mtime": "2019-01-21T09:21:54.277Z",
        "size": 3410
      },
      {
        "file": "inc/plugins/edd/templates/archive-download.php",
        "ctime": "2019-01-03T16:12:21.125Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2416
      },
      {
        "file": "inc/plugins/edd/templates/single-download.php",
        "ctime": "2019-01-03T16:12:21.130Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1134
      },
      {
        "file": "inc/admin/options/assetts/images/3cl.png",
        "ctime": "2019-01-03T16:12:21.221Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1630
      },
      {
        "file": "inc/admin/options/assetts/images/3cr.png",
        "ctime": "2019-01-03T16:12:21.230Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1053
      },
      {
        "file": "inc/admin/options/assetts/images/full.png",
        "ctime": "2019-01-03T16:12:21.320Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 14995
      },
      {
        "file": "inc/admin/options/assetts/images/left.png",
        "ctime": "2019-01-03T16:12:21.333Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 15462
      },
      {
        "file": "inc/admin/options/assetts/images/right.png",
        "ctime": "2019-01-03T16:12:21.418Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 15461
      },
      {
        "file": "inc/admin/options/assetts/js/customizer.js",
        "ctime": "2019-01-03T16:12:21.434Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1139
      },
      {
        "file": "index.php",
        "ctime": "2019-01-03T16:12:15.692Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1559
      },
      {
        "file": "js/ie-fix.js",
        "ctime": "2019-01-03T16:12:16.709Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 25529
      },
      {
        "file": "js/navigation.js",
        "ctime": "2019-01-03T16:12:16.760Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 3784
      },
      {
        "file": "js/skip-link-focus-fix.js",
        "ctime": "2019-01-03T16:12:16.808Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 995
      },
      {
        "file": "js/theme.js",
        "ctime": "2019-01-21T11:47:56.695Z",
        "mtime": "2019-01-21T11:47:56.695Z",
        "size": 1035
      },
      {
        "file": "page-beaver-builder.php",
        "ctime": "2019-01-03T16:12:15.689Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1158
      },
      {
        "file": "page-elementor.php",
        "ctime": "2019-01-03T16:12:15.788Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1093
      },
      {
        "file": "page-focus.php",
        "ctime": "2019-01-03T16:12:15.792Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 752
      },
      {
        "file": "page-fullwidth.php",
        "ctime": "2019-01-03T16:12:15.893Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 748
      },
      {
        "file": "page-sidebarleft.php",
        "ctime": "2019-01-03T16:12:15.895Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 779
      },
      {
        "file": "page.php",
        "ctime": "2019-01-03T16:12:15.992Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 989
      },
      {
        "file": "readme.txt",
        "ctime": "2019-01-03T16:13:17.205Z",
        "mtime": "2019-01-03T16:13:17.205Z",
        "size": 7875
      },
      {
        "file": "rtl.css",
        "ctime": "2019-01-03T16:12:16.091Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 374
      },
      {
        "file": "sass/_normalize.scss",
        "ctime": "2019-01-03T16:12:16.911Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2325
      },
      {
        "file": "sass/elements/_elements.scss",
        "ctime": "2019-01-03T16:12:17.320Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1001
      },
      {
        "file": "sass/elements/_icons.scss",
        "ctime": "2019-01-03T16:12:17.343Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2278
      },
      {
        "file": "sass/elements/_lists.scss",
        "ctime": "2019-01-03T16:12:17.419Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 322
      },
      {
        "file": "sass/elements/_tables.scss",
        "ctime": "2019-01-03T16:12:17.444Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 333
      },
      {
        "file": "sass/forms/_buttons.scss",
        "ctime": "2019-01-03T16:12:17.526Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 753
      },
      {
        "file": "sass/forms/_fields.scss",
        "ctime": "2019-01-03T16:12:17.548Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1155
      },
      {
        "file": "sass/forms/_forms.scss",
        "ctime": "2019-01-03T16:12:17.627Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 37
      },
      {
        "file": "sass/grid/index.scss",
        "ctime": "2019-01-21T12:19:01.807Z",
        "mtime": "2019-01-21T09:47:50.934Z",
        "size": 648
      },
      {
        "file": "sass/grid/_functions.scss",
        "ctime": "2019-01-21T09:56:22.112Z",
        "mtime": "2017-09-04T16:24:42.000Z",
        "size": 2303
      },
      {
        "file": "sass/grid/_grid.scss",
        "ctime": "2019-01-21T09:56:22.111Z",
        "mtime": "2017-09-04T16:24:42.000Z",
        "size": 5646
      },
      {
        "file": "sass/grid/_settings.scss",
        "ctime": "2019-01-21T10:33:21.194Z",
        "mtime": "2019-01-21T10:33:21.194Z",
        "size": 107
      },
      {
        "file": "sass/layout/_layout.scss",
        "ctime": "2019-01-22T15:28:10.868Z",
        "mtime": "2019-01-22T15:28:10.868Z",
        "size": 2033
      },
      {
        "file": "sass/media/_captions.scss",
        "ctime": "2019-01-03T16:12:17.744Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 296
      },
      {
        "file": "sass/media/_galleries.scss",
        "ctime": "2019-01-03T16:12:17.827Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 655
      },
      {
        "file": "sass/media/_media.scss",
        "ctime": "2019-01-03T16:12:17.846Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 577
      },
      {
        "file": "sass/mixins/_mixins-master.scss",
        "ctime": "2019-01-03T16:12:17.926Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1387
      },
      {
        "file": "sass/modules/_accessibility.scss",
        "ctime": "2019-01-03T16:12:17.948Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 710
      },
      {
        "file": "sass/modules/_alignments.scss",
        "ctime": "2019-01-03T16:12:18.024Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 216
      },
      {
        "file": "sass/modules/_clearings.scss",
        "ctime": "2019-01-03T16:12:18.045Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 421
      },
      {
        "file": "sass/modules/_infinite-scroll.scss",
        "ctime": "2019-01-03T16:12:18.130Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 453
      },
      {
        "file": "sass/navigation/_breadcrumb.scss",
        "ctime": "2019-01-03T16:12:18.144Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 553
      },
      {
        "file": "sass/navigation/_center-header.scss",
        "ctime": "2019-01-21T10:02:25.246Z",
        "mtime": "2019-01-21T10:02:25.246Z",
        "size": 2878
      },
      {
        "file": "sass/navigation/_inline-header.scss",
        "ctime": "2019-01-21T15:33:46.202Z",
        "mtime": "2019-01-21T15:33:46.202Z",
        "size": 3644
      },
      {
        "file": "sass/navigation/_links.scss",
        "ctime": "2019-01-03T16:12:18.332Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 267
      },
      {
        "file": "sass/navigation/_menu.scss",
        "ctime": "2019-01-21T09:31:40.464Z",
        "mtime": "2019-01-21T09:31:40.464Z",
        "size": 3284
      },
      {
        "file": "sass/navigation/_navigation.scss",
        "ctime": "2019-01-03T16:12:18.431Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 642
      },
      {
        "file": "sass/navigation/_pagination.scss",
        "ctime": "2019-01-03T16:12:18.437Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1828
      },
      {
        "file": "sass/plugins/_edd.scss",
        "ctime": "2019-01-21T09:45:55.864Z",
        "mtime": "2019-01-21T09:45:55.864Z",
        "size": 680
      },
      {
        "file": "sass/plugins/_plugins.scss",
        "ctime": "2019-01-03T16:12:18.535Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 336
      },
      {
        "file": "sass/plugins/_woocommerce.scss",
        "ctime": "2019-01-21T10:03:48.101Z",
        "mtime": "2019-01-21T10:03:48.101Z",
        "size": 8420
      },
      {
        "file": "sass/site/_site.scss",
        "ctime": "2019-01-07T18:15:35.203Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 684
      },
      {
        "file": "sass/typography/_copy.scss",
        "ctime": "2019-01-07T18:15:18.904Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 625
      },
      {
        "file": "sass/typography/_headings.scss",
        "ctime": "2019-01-03T16:12:18.735Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 412
      },
      {
        "file": "sass/typography/_simple-line-icons.scss",
        "ctime": "2019-01-03T16:12:18.858Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 17046
      },
      {
        "file": "sass/typography/_typography.scss",
        "ctime": "2019-01-07T18:15:13.350Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 258
      },
      {
        "file": "sass/variables-site/_colors.scss",
        "ctime": "2019-01-21T12:07:35.935Z",
        "mtime": "2019-01-21T12:07:35.935Z",
        "size": 954
      },
      {
        "file": "sass/variables-site/_spacing.scss",
        "ctime": "2019-01-03T16:12:18.958Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 65
      },
      {
        "file": "sass/variables-site/_typography.scss",
        "ctime": "2019-01-07T18:15:46.204Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 400
      },
      {
        "file": "sass/variables-site/_variables-site.scss",
        "ctime": "2019-01-07T18:15:43.412Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 58
      },
      {
        "file": "sass/site/footer/_footer.scss",
        "ctime": "2019-01-21T10:37:18.333Z",
        "mtime": "2019-01-21T10:37:18.333Z",
        "size": 1334
      },
      {
        "file": "sass/site/header/_header.scss",
        "ctime": "2019-01-21T10:54:45.037Z",
        "mtime": "2019-01-21T10:54:45.037Z",
        "size": 1899
      },
      {
        "file": "sass/site/primary/_comments.scss",
        "ctime": "2019-01-03T16:12:20.279Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 2483
      },
      {
        "file": "sass/site/primary/_posts-and-pages.scss",
        "ctime": "2019-01-21T12:01:18.718Z",
        "mtime": "2019-01-21T12:01:18.718Z",
        "size": 3943
      },
      {
        "file": "sass/site/secondary/_widgets.scss",
        "ctime": "2019-01-03T16:12:20.377Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 4027
      },
      {
        "file": "screenshot.png",
        "ctime": "2019-01-03T16:12:16.230Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 657526
      },
      {
        "file": "search.php",
        "ctime": "2019-01-03T16:12:16.189Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1302
      },
      {
        "file": "sidebar-shop.php",
        "ctime": "2019-01-03T16:12:16.285Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 383
      },
      {
        "file": "sidebar.php",
        "ctime": "2019-01-03T16:12:16.326Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 377
      },
      {
        "file": "single.php",
        "ctime": "2019-01-03T16:12:16.384Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1047
      },
      {
        "file": "style.css",
        "ctime": "2019-01-22T15:28:12.761Z",
        "mtime": "2019-01-22T15:28:12.761Z",
        "size": 81637
      },
      {
        "file": "style.scss",
        "ctime": "2019-01-21T15:31:52.399Z",
        "mtime": "2019-01-21T15:31:52.399Z",
        "size": 4663
      },
      {
        "file": "template-parts/content-none.php",
        "ctime": "2019-01-03T16:12:16.952Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 1134
      },
      {
        "file": "template-parts/content-page.php",
        "ctime": "2019-01-03T16:12:17.008Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 357
      },
      {
        "file": "template-parts/content-search.php",
        "ctime": "2019-01-03T16:12:17.046Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 788
      },
      {
        "file": "template-parts/content.php",
        "ctime": "2019-01-03T16:12:17.105Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 447
      },
      {
        "file": "woocommerce.php",
        "ctime": "2019-01-03T16:12:16.569Z",
        "mtime": "2018-12-19T16:17:00.000Z",
        "size": 432
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"],\"compiler-png\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}