/**
 * @package Babylog
 */

body {
	background-color: #bfa1c6;
	background-image:url('images/background-purple.png');
}
.post_date a,
.tagline {
	color: #e1cfe5;
}
ul.post-categories li a,
.comments-link a,
.comments-link span,
h2.widgettitle,
.tabmenu,
.post_header,
th {
	background-color: #9c6aaa;
}
ul.post-categories li a:hover,
.comments-link a:hover,
ul.menu ul.sub-menu li,
ul.menu li.hover,
ul.menu li:hover {
	background-color: #e1cfe5;
}