/* Responsiveness */
@media screen and (max-width: 1200px) {
    body{
        width: 100%;
    }
    .site-content,.site-header,.container,
    .site-footer .site-info,.site{
        width: 96%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1080px) {
    .post{
        max-width: 96%;
    }
    .tabs-widget .thumbnail {
        float: none;
    }
}
@media screen and (max-width: 768px) {
    .content-area {
        width: 100%;
        padding-right: 0;
    }
    .site-content .widget-area {
        float: left;
        clear: left;
    }
    .site-content::before {
        background: none;
    }
}
@media screen and (max-width: 768px) {
    .post {
        width: 100%;
        margin-right: 0;
        max-width: 360px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
    .post:nth-child(2n+1) {
        margin-right: auto;
    }
    .site-content .widget-area{
        max-width: 264px;
        width: 100%;
    }
    
}