/* Searchlight Theme by D5 Creation, www.d5creation.com
/* =Responsive Design 
-------------------------------------------------------------- */

/* Responsive Styles */

@media screen and (max-width: 1279px) {
	body { min-width: 100%; }
	.box90, #header-content, #container {width: 95%;}
	
	#header-content { display: flex; align-items: center; justify-content:center; flex-direction: column; }
	#logotitlecon { width: auto; max-width: none; text-align: center; position: relative; left: auto; right: auto; flex-direction: column; order: 2; }
	#logotitlecon .logotitle {float: none; margin: 0 auto; max-width: 100%; }
	#logotitlecon .logotitle.site-logo { max-width: 400px; }
	#main-menu-con {position: relative; top: auto; right: auto; max-width: 100%; order: 3; }
	#header.smallheader { position: relative; }
	#topadjust {height: 0px !important;}
	#top-menu-con {justify-content: center; order: 1;}
	#main-menu-con a { font-size: 13px; font-weight: 300; padding: 10px; }
	.fslidertitle { font-size: 23px; }
	.fslidersubtitle { font-size: 19px; }
	.fslidedescription { font-size: 15px;}
	h1, .boxtoptitle, .tesheading, .entrytext h1.page-title {font-size:27px;}
	h3{font-size:19px;}
	h4{font-size:17px;}	
		
	#footer-sidebar{ margin: 0 -10px; }
	#footer-sidebar .footer-widgets{ width: calc(25% - 20px); margin: 0 10px; min-width: 250px; }
}

@media screen and (max-width: 1023px) {
	#resmwdt { width: 9px; }
	#logotitlecon{ padding: 3px 0 3px 70px; max-width: 500px; }	
	#top-menu-con input#s:focus { width: 100px; }	
	.main-slider  .flex-control-nav {width: 100%; position: absolute; bottom: 15px; text-align: right; top: auto;}
	.main-slider  .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1;}
	
	#main-menu-con a { font-size: 13px; font-weight: 300; padding: 10px 10px 15px; }
	#mobile-menu { display: block; }
	#main-menu-con, .headerheight { display: none; }
	#main-menu-con { position: absolute; left: 0; top: 100%; width: 100%; }
	#main-menu-con.gobottom { position: relative; right:auto; }
	#main-menu-con a { margin: 1px auto; border-bottom: 1px solid #f6f6f6; padding: 10px; width: 100%; border-radius:0 !important; }
	#main-menu-con li { float: none; width: 220px; margin: 0 auto; }
	#main-menu-con ul { display: table; background: #ffffff; box-shadow: 0 1px 3px 0 #aaaaaa; padding: 5px; }
	#main-menu-con ul ul a { margin: 0 auto; width: 100%; }
	#main-menu-con ul ul ul { left: 15px;; top: 20px; }
	#content, .d5woocontent { width: 100%; float: none; }
	#right-sidebar { width: 100%; float: none; text-align: center; }
	#right-sidebar .widget {display: inline-block;vertical-align: top;margin: 10px;text-align: left;}	
	.slide-text-container{ width: auto; text-align: left; margin-right: 15px; }
	.fslidertitle{ float: left; margin: 11px 0 7px 15px; font-size: 19px; }
	.fslidersubtitle{ font-size: 17px; }
	.main-slider .fslidelink{ float: left; clear: both; margin: 7px 0 7px 15px; padding: 3px 5px; font-size: 11px; }	
	.main-slider .flex-control-paging li a{ height: 9px; widows: 9px; }
	#footer-sidebar .footer-widgets{ width: calc(40% - 20px); }
}

@media screen and (max-width: 799px) {
	#footer-sidebar .first-footer-widget, #footer-sidebar .footer-widgets {width:calc(50% - 20px);}
	#footer-sidebar .footer-widgets{ width: calc(50% - 20px); }
}

@media screen and (max-width: 599px) {
	#logotitlecon{ max-width: 100%; }
	#logotitlecon .logotitle.site-logo {max-width: 100%; }
	.floatleft, .floatright { width: 100%; }	
	.fslidedescription {display: none;}
	.main-slider .flex-control-paging li a { height: 15px; width: 15px; }
}

@media screen and (max-width: 499px) {
	.fslidersubtitle{display: none;} 
	#footer-sidebar .footer-widgets{ width: calc(100% - 20px); }
}