/**

Theme Name: Sneak Lite
Description: Sneak Lite is a clean, minimal and responsive Sueva child theme, based on Bootstrap framework, with a new menu and buttons style and a different layout for the elements like sidebar and with a new fonts.
Author: ThemeinProgress.
Author URI: https://www.themeinprogress.com
Version: 1.1.1
Template: suevafree
Tags: gray, light, black, orange, blue, white, two-columns, right-sidebar, left-sidebar, custom-background, custom-menu, threaded-comments, full-width-template, theme-options 
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html

*/

@import url("../suevafree/style.css");

/* ===============================================
   GENERAL
   =============================================== */

::selection {
	background: #48c2ae;
	color:#fff; 
}

::-moz-selection {
	background: #48c2ae;
	color:#fff; 
}

a:hover {
	text-decoration:none;
	border-bottom:none;
}

a:hover,
#footer a:hover {
	color:#48c2ae;
}

a.button,
.contact-form input[type=submit] {
	background-color:#fff;
	color:#48c2ae;
	border:solid 1px #48c2ae;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size:14px;
	text-transform:none;
	width:120px;
	padding:14px;
	font-weight:normal
}

a.button:hover,
.contact-form input[type=submit]:hover {
	background-color:#3aa694;
	color:#fff;
	border:solid 1px #3aa694;
}

.contact-form input[type=submit] {
	margin:35px 0 -20px 0;
}

/* ===============================================
   TYPOGRAPHY
   =============================================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget,
a.post-edit-link,
a.button,
#footer a,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget,
#logo a span,
nav#mainmenu ul li a,
nav#mainmenu ul ul li a,
.comment-author .author,
h3#reply-title small, .logged-in-as,
.contact-form input[type=text], .contact-form textarea,
.contact-form input[type=submit],
article blockquote p,
.entry-tags,
.entry-info,
#footer ul.widget-category li,
#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a,
#wp-calendar caption,
#sidebar .tagcloud a, 
#footer .tagcloud a,
.select-menu,
.article-header,
.comment-container,
.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current { 
	font-family:'Roboto Slab',Verdana, Geneva, sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6,
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
h3#reply-title, h3.comments { 
	font-family:'Fjalla One',Verdana, Geneva, sans-serif; 
}

/* ===============================================
   HEADER
   =============================================== */

#logo a:hover { 
	color:#48c2ae;
}

/* ===============================================
   MENU
   =============================================== */

nav#mainmenu {
	margin:0 0 25px 0;
}

nav#mainmenu ul li {
	padding-bottom:15px;
}

nav#mainmenu ul li a {
	margin:0 5px;
	padding:12px 14px;
	text-transform:none;
	background:#fff;
	font-size:14px;
	line-height:1.4em;
	height: inherit !important;
}

nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	background-color:#48c2ae;
	color:#fff !important;
	margin-bottom:0;
	text-decoration:none;
	border:none;
}

nav#mainmenu ul ul {
	left:5px;
	top:53px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border:none !important;
	outline:solid 1px #ddd;
}

nav#mainmenu ul ul li {
	padding-bottom:0;
	border:none;
}

nav#mainmenu ul ul li a {
	border:none;
	font-size:14px;
}

nav#mainmenu ul ul li a:hover, 
nav#mainmenu ul ul li:hover > a,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a, 
nav#mainmenu ul ul li.current-menu-parent > a, 
nav#mainmenu ul ul li.current_post_ancestor > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current-menu-ancestor > a { 
	border:none !important;
	outline:none !important;
	margin:0;
	text-decoration:none;
	background-color:#48c2ae;
}


nav#mainmenu ul ul:before {
	display:none;
}

nav#mainmenu ul ul li ul {
	top: 0;
	left: 190px;
}

/* ===============================================
   SIDEBAR
   =============================================== */

#sidebar .tagcloud a, 
#footer .tagcloud a {
	background-color:#48c2ae;
}

#sidebar .tagcloud a:hover, 
#footer .tagcloud a:hover { 
	background-color: #3aa694;
}

#sidebar .widget-box {
	padding:20px;
}

/* ===============================================
   CONTENTS
   =============================================== */

article blockquote {
	border-color:#48c2ae;
}

.pin-article .title a:hover {
	color:#48c2ae;
}

.pin-container:after {
	display:none;
}

.pin-article {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.wp-post-image:hover { 
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}

.line:before {
  background-color: #ddd;
}

footer.line {
	border:none;
}

footer.line .entry-info,
footer.line .tags {
	margin:0;
	padding:0 15px;
	text-align:left;
}

.categories {
	margin-top:40px;
}

h3#reply-title, h3.comments {
	text-transform:none;
	padding:0;
	background:none;
	font-weight:400
}

.logged-in-as {
	text-transform:none;
}

h3#reply-title, h3.comments {
	margin-bottom:55px;
}

.categories a {
	color:#333;
}

.wp-caption {
	max-width: 100% !important;
}

/* ===============================================
   FOOTER
   =============================================== */
   
.wp-pagenavi a:hover , 
.wp-pagenavi span.current {
	background-color:#48c2ae;
}


.wp-pagenavi {
	margin:25px 0;
}

.wp-pagenavi a, 
.wp-pagenavi a:link, 
.wp-pagenavi span.current {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#footer {
	margin-top:0;
}

#footer,
#footer .widget {
	border:none;
}

@media screen and (min-width : 0px) and (max-width : 768px)  {	
	
	.line:before {
		background:none;
	}
	
}