/* GREEN EYE Theme by D5 Creation, www.d5creation.com
/* =Responsive Design 
-------------------------------------------------------------- */
@media screen and (max-width:900px){
*, *::before, *::after { box-sizing: border-box; margin: 0; outline: medium none; padding: 0; }
body { max-width:100%; min-width:0; }	
#container,
#content-full,
.conwidth,
#footer,
#footer-sidebar,
#footer-content,
#creditline,
#heading,
.heading-desc{max-width:100%;min-width:0; height: auto; padding: 0 15px;}
img.site-logol { float: none; margin: 0 auto; display: block;}
#container { margin: 120px auto 40px; width: 100%; }
#content{ width: 100%; }	
#right-sidebar{ display: flex; justify-content: center; flex-wrap: wrap; width: 100%; }	
#right-sidebar .widget{ width: 250px; margin: 10px;  }	
.small{ position: relative !important; }
#header.large { width:100%; }
.header-content, #header-fpage, #green-main-menu { width:100%; } 
#header-fpage { height: 205px; padding: 0 5px; }
#header.large { padding: 0 5px; }
.header-content{ flex-direction: column; }
#iebcontent { width: 100%; margin: 0 auto; height: auto;}
#iebanner { height: auto; width: 100%; display: block; overflow: hidden; padding: 0 5px; box-sizing: border-box; }
#iebcontent h3.ibcon { margin: 0; padding: 60px 0 10px; }
#iebcontent p.ibcon { position: relative;  }
#iebcontent img.ibcon { float: right;  }
#iefc { width:50%; float: left; }
#iesc { width:50%; float: right; }
a.jms-link {  display: inline-block;  margin-top: 40px;  padding: 10px 20px; }
}

