/* custom header image */
.headerMain {
	background:url(../../uploads/headerImage.jpg);
}

/* make header text white for better contrast with background image */
.headerMain h1 a, .headerMain h1 a:visited, .headerMain h1 a:hover, .headerMain span { 
	color:#fff; 
} 
.headerMain span {
	color:#ccd;
}

/* darken search box initial text */
.headerMain .searchQueryIA {
	color:#666;
}

/* No \\\\\\\"quote\\\\\\\" symbol and colored background for code */
pre {
	background: none;
	background-color: #ccd1dd;
	padding: 10px 25px;
	margin-bottom: 15px;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
}

/* float the sidebar so it\\\\\\\'s always on top regardless of vertical scrolling
	- position sidebar 20px from content (content width + 20) */
/* right sidebar - normal width */
.sidebars {
	position: fixed;
	top: 135px;
	margin-left: 640px;
}

/* right sidebar - large, small width */
.RSLW .sidebars {
	margin-left: 590px;
}
.RSSW .sidebars {
	margin-left: 690px;
}
/* Left sidebar - normal, large, small width */
/* this grouping doesn\\\\\\\'t work - why? */
.LSNW .sidebars, .LSLW .sidebars, .LSSW .sidebars {
	margin-left: 0;
}

/* this works */
/*
.LSNW. sidebars {
	margin-left: 0px;
}
.LSLW .sidebars {
	margin-left: 0px;
}
.LSSW .sidebars {
	margin-left: 0px;
}
*/

/* Fine tuning typography of sidebar nested menu items */
.sidebars li {
	background-position: 0 -226px;
	padding:0 0 0 15px;
	margin-bottom:10px;
	line-height:18px;
	font-size:12px;
}
.sidebars ul ul li {
	margin-top:5px;
}
.sidebars ul ul ul li {
	background-position: 0 -227px;
	margin-bottom:5px;
	line-height:15px;
	font-size:10px;
}