.motopress-cta-style-brand {
    background: $brandColor;
    &,
   .motopress-cta-content-container .motopress-cta-content-heading, 
   .motopress-cta-content-container .motopress-cta-content-subheading{
       color:#ffffff;
   }
}
.wrapper-mce-lite{
    .motopress-cta-obj .motopress-cta.motopress-cta-style-3d {
        background-color: $brandColor;
        color: #ffffff;
        @include box-shadow(none);
    }  
}
