.motopress-table-obj{
    thead{
        background: transparent;
        color:inherit;
    }
    thead tr th:first-child,
        thead tr td:first-child {
        border-left: 0px solid ;
    }
    thead th, 
    thead td {
        padding: 0;
        font-weight: inherit;
        border: 0px solid ; 
    }
    tbody{
        background: transparent;    
    }
    tbody td,  tbody th,  tfoot td,  tfoot th {
        padding: 0;
        border: 0px solid ;
    }
}
.motopress-table-obj .motopress-table.mp-theme-table-brand {
    width:100%;
    vertical-align: middle;    
    thead{
       background: #f2f2f2;
        font-size: 16px;
        color:$brandColorBlack;
        td,th{
            padding: 23px 27px 18px;
        }
    }
    th{ 
        font-weight: 700;
    }
    tbody,
    tfoot {
        td,th{
            padding: 22px 29px 21px;
        } 
    }
    th,td{
        border:1px solid #d4d4d4;
        text-align:center;
    }
    th{
        font-weight: 400;
    }
}

.motopress-table-obj .mp-theme-table-brand.motopress-table-first-col-left td:first-child, 
.motopress-table-obj .mp-theme-table-brand.motopress-table-first-col-left th:first-child {
    text-align: left;
}