.option_wrapper{
	width:740px;
}

#go_pro{
	border:1px solid #ddd;
	background:#d7d7d7;
	color: #333;
	padding: 10px;
	margin-bottom: 35px;
}

div.logo_tz a:link, div.logo_tz a:visited{
	text-indent: -9999em;
	background: url(../images/logo.png) no-repeat top right;
	margin: 20px 0;
	height: 50px;
	width:166px;
	display: block;
}

.tz_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
	overflow: hidden;
}

.tz_options label{
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;	
}

.tz_base {
	padding:20px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.tz_options small{
	display:block;
	float:right;
	width:200px;
	color:#999;
}
.tz_options input[type="text"], .tz_options select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.tz_input input:focus, .tz_input textarea:focus{
		background:#fff;
}
.tz_input textarea{
	width:250px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.tz_title h3 {
	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;
}

.tz_title{
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	}

.tz_title h3 img.inactive{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('../images/button.png') no-repeat 0 0;
	float:left;
	-moz-border-radius:6px;
	border:1px solid #ccc;
}

.tz_title h3 img.active{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('../images/button.png') no-repeat  0 -32px;
	float:left;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #ccc;
}
		
.tz_title h3:hover img{
	border:1px solid #999;
}

.tz_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}

.clearfix{
	clear:both;
}

.box-option{
float:left;
width: 250px;
}

.button{
margin:4px;
}

.tz_table th, .tz_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}

.tz_table th, .tz_table td.feature{
	border-color:#888;
	}
