$background: #ffffff
$text-color: #333333
$link-color: #111111
$link-hover: #ffc80a
$link-decoration: none
$submenu-bg: #000000
$submenu-color: #e8e8e8
$button-color: #000000
$button-bg: #ffc80a
$button-hover-color: #ffc80a
$header-divider-bg: #ffc80a
$button-hover-bg: #000000
$header-nav-color: #9fa3a7

$topbar-bg: #50596C
$topbar-color: #e8e8e8
$top-bar-font-size: 15px

$header-title-color: #222222
$header-btn-bg: #333333
$header-btn-bg-txt: #fefefe
$header-btn-bg-hover: #ffc80a
$blog-item-cat-bg: #50596C
$blog-item-cat-txt: #fefefe
$meta-txt-color: #888888

$single-major-title-bg: #f8f8f8
$breadcrumb-bg: #fafafa
$breadcrumb-border: #f0f0f0
$breadcrumb-sep-color: #c8c8c8

$comment-bg: #f8f8f8
$comment-name-color: #222222

$footer-bg: #fbfbfb
$footer-top-border: #eeeeee

$copyright-bg: #333333
$copyright-txt: #e8e8e8
$copyright-font-family: 'Abel',serif
$copyright-font-size: 14px
$copyright-link: #ffc80a
$copyright-link-hover: #9fa3a7
$copyright-social-size: 14px

$widget-list-border: rgba(40,40,40,0.3)
$widget-input-border: #d8d8d8

/* Sections in home */
$services-bg: #222222
$services-color: #f8f8f8
$service-item-bg: #ffffff
$service-item-txt: #222222
$gallery-bg: #222222
$gallery-color: #f8f8f8

$team-bg: #f5f5f5
$single-team-title: #adadad



$blog-link-color: #a0a0a0
/* Fonts */
$base-font-family: 'Source Sans Pro',sans-serif
$header-font-family: 'Abel',serif

/* Sizes */
$base-font: 16px
$hero-font-size: 8em

/* Forms */
$submit-bg: #50596C
$submit-color: #fff

/* Front page */
$section-title-size: 50px
$section-subtitle-size: 24px

/* Plugin CSS */
/*
/* Contact Form 7
/*
$wpcf7-font: 'Abel',serif
$wpcf7-error-area-bg: #ffc80a
$wpcf7-error-area-border: #ffc80a
$wpcf7-error-area-color: #000000




.box-shadow-bottom
  -webkit-box-shadow: 0 1px 10px 0 rgba(235,235,235,1)
  -moz-box-shadow: 0 1px 10px 0 rgba(235,235,235,1)
  box-shadow: 0 1px 10px 0 rgba(235,235,235,1)

.link-transition
  -webkit-transition: all 400ms ease-out
  -moz-transition: all 400ms ease-out
  -o-transition: all 400ms ease-out
  transition: all 400ms ease-out

.center-flex
  justify-content: center
  align-items: center

@mixin for-phone-only 
  @media (min-width: 240px) and (max-width: 599px)
    @content

@mixin for-tablet-portrait-up 
  @media (min-width: 600px)
    @content

@mixin for-tablet-portait-only 
  @media (min-width: 600px) and (max-width: 899px)
    @content

@mixin for-tablet-landscape-up 
  @media (min-width: 900px)
    @content

@mixin for-tablet-landscape-only 
  @media (min-width: 900px) and (max-width: 1199px)
    @content

@mixin for-desktop-up 
  @media (min-width: 1200px)
    @content

@mixin for-desktop-only 
  @media (min-width: 1201px) and (max-width: 1799px)
    @content

@mixin for-big-desktop-up 
  @media (min-width: 1800px)
    @content



/*= Helpers */
.container-960
  margin: 0 auto
  max-width: 960px
.container-1080
  margin: 0 auto
  max-width: 1080px
.container-1200
  margin: 0 auto
  max-width: 1200px
.mb-20
  margin-bottom: 20px
.mb-40
  margin-bottom: 40px
.mb-60
  margin-bottom: 60px
.mb-100
  margin-bottom: 100px
.mtb-100
  margin: 100px 0
.mtb-80
  margin: 80px 0
.pad-all-10
  padding: 10px
.pad-tb-5
  padding: 5px 0
.pad-tb-10
  padding: 10px 0
.pad-tb-15
  padding: 15px 0
.pad-tb-20
  padding: 20px 0
.pad-tb-30
  padding: 30px 0
.pad-tb-60
  padding: 60px 0
  @include for-phone-only
    padding: 30px 0
.pad-tb-80
  padding: 80px 0
  @include for-phone-only
    padding: 30px 0
.pad-lr-15
  padding: 0 15px
  @include  for-phone-only
    padding: 0 0.4rem
.closed
  display: none !important
.border-radius-3
  border-radius: 3px
.border-radius-5
  border-radius: 5px

