/* ===============================================
   NOTICE SECTION
   =============================================== */
   
#setting-error-tgmpa {
	width:100;
	display:block;
	padding-left:20px;
	padding-right:30px
}

.looki_lite-notice {
	width:100;
	display:block;
	border-color:#ec7063;
	padding:25px
}

.looki_lite-notice .dismiss-notice {
	margin-top:5px;
	font-size:12px;
}

.looki_lite-notice .looki_lite-noticedescription {
	float:left;
	font-size:14px;
}

.looki_lite-notice .button {
	background: #ec7063;
	border:solid 2px #ec7063;
	color:#fff !important;
	padding: 8px 16px;
	height:auto;
	line-height:normal;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	float:right;
	text-transform:uppercase;
	font-weight:bold
}

.looki_lite-notice .button:hover ,
.looki_lite-notice .button:active ,
.looki_lite-notice .button:focus {
	border-color: #e74c3c;
	background-color:#e74c3c;
}