
.nav-tab-wrapper {
    margin-bottom: 15px
}

.nav-tab-wrapper #submit{
    float: right;
    margin-top: 5px
}

.origin-options-list{
    min-height: 250px;
    background: #FCFCFC;
    border-color: #DFDFDF; 
    border-width: 0 1px 1px;
    border-style: none solid solid;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.origin-options .field-error{
    background: #FFEBE8;
}

.origin-options .type-taxonomy_select select,
.origin-options .type-post_select select,
.origin-options .type-select select{
    width:420px;
}

.origin-options .type-taxonomy_select .order,
.origin-options .type-post_select .order{
    width: 420px;
    list-style: none;
    padding:0;
    margin:0;
    margin-top: 5px;
    margin-bottom:10px;
}

.origin-options .type-taxonomy_select .order li,
.origin-options .type-post_select .order li{
    cursor: move;
    background: #EFEFEF;
    border-bottom: 1px dashed #C0C0C0;
    padding:4px 6px;
    margin-bottom: 0;
}

.options-page-container{display: none; margin-top:10px}