.alignwide img {
	display: block;
	width: 100%;
}

.alignfull {
	width: calc( 100% + 40px);
	max-width: none;
	margin-right: calc( -20px);
	margin-left: calc( -20px);
}

.alignfull img {
	display: block;
	width: 100%;
}

.wp-block-gallery,
.wp-block-image,
.wp-block-embed {
	margin-bottom: 1.75rem;
}

.wp-block-audio {
	margin-bottom: 1.75rem;
}

.wp-block-audio audio {
	display: block;
	width: 100%;
}

.wp-block-audio:empty {
	display: none;
}

.wp-block-quote > p {
	margin-bottom: 0.875rem;
}

ul.wp-block-gallery > li,
ul.wp-block-gallery > li:first-child {
	margin: 3px;
	padding-top: 0;
	border-top-width: 0;
}

.widget ul.wp-block-gallery {
	margin-bottom: 1.75rem;
}

.wp-block-gallery.is-cropped .blocks-gallery-item {
	position: relative;
	margin: 3px;
}

.wp-block-gallery.is-cropped .blocks-gallery-item figure {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.wp-block-gallery.is-cropped .blocks-gallery-item:after {
	display: block;
	width: 100%;
	padding-top: 66.66%;
	content: "";
}

@media only screen and (min-width: 768px) {

	.alignfull {
		width: calc( 100% + 80px);
		margin-right: calc( -40px);
		margin-left: calc( -40px);
	}
}

@media only screen and (min-width: 1200px) {

	.alignwide {
		width: 120%;
		max-width: none;
		margin-right: calc( -10%);
		margin-left: calc( -10%);
	}

	.alignfull {
		width: calc( 120% + 80px);
		margin-right: calc( -10% - 40px);
		margin-left: calc( -10% - 40px);
	}

	.no-sidebar .alignfull {
		width: 100vw;
		margin-right: inherit;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 1366px) {

	.alignfull {
		width: calc( 120% + 120px);
		margin-right: calc( -10% - 60px);
		margin-left: calc( -10% - 60px);
	}
}
