#customize-theme-controls #accordion-panel-conica-panel-website .accordion-section-title:hover,
#customize-theme-controls #accordion-panel-conica-panel-text .accordion-section-title:hover,
#customize-theme-controls #accordion-panel-conica-panel-font-options .accordion-section-title:hover,
#customize-theme-controls #accordion-section-colors .accordion-section-title:hover,
#customize-theme-controls #accordion-section-conica-section-social .accordion-section-title:hover {
    background-color: #006CC9;
    color: #FFF;
}

#customize-theme-controls #accordion-panel-conica-panel-website li.accordion-section div.accordion-section-title,
#customize-theme-controls #accordion-panel-conica-panel-text li.accordion-section div.accordion-section-title,
#customize-theme-controls #accordion-panel-conica-panel-font-options li.accordion-section div.accordion-section-title,
#customize-theme-controls #accordion-section-colors li.accordion-section div.accordion-section-title,
#customize-theme-controls #accordion-section-conica-section-social li.accordion-section div.accordion-section-title {
    background-color: #006CC9 !important;
    color: #FFF !important;
}

#customize-controls .control-section .customize-section-title h3 {
	color: inherit;
}

#customize-control-conica-website-error-msg,
#customize-control-conica-website-txt-copy {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 0 25px;
    margin-bottom: 20px;
}


