/*
Admin Style -------------------------------------------------------------- */

.appearance_page_custom-header #headimg {
    background-repeat: no-repeat;
}

#redux-header {
    display: none;
}

.redux-normal.redux-info-field {
    border: 0;
    border-bottom: 1px solid #A5A5A5;
    border-radius: 0;
    background-color: #FFF;
    margin: 30px 0 10px;
    padding: 0 0 5px;
}
.redux-normal.redux-info-field p {
    margin: 0;
    padding: 0 0 0 2px;
    font-size: 18px;
}

.cx-options-custom-button {
    display: inline-block;
    background-color: #F0F0F0;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    font-size: 13px;
    color: #333;
    border: 1px solid #CCC;
    margin: 0 0 5px;
    padding: 6px 14px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFF;
}

.redux-group-tab-link-li.cx-upsell-section a {
    background-color: #2376e6 !important;
    color: #FFF !important;
}
.redux-group-tab.cx-upsell-section .form-table th {
    display: none;
}

.redux-main #cx_framework_options-cx-options-header-bg-color .color-transparency-check,
.redux-main #cx_framework_options-cx-options-primary-color .color-transparency-check,
.redux-main #cx_framework_options-cx-options-primary-hover-color .color-transparency-check,

.redux-main #cx_framework_options-cx-options-styling-font-head .typography-style,
.redux-main #cx_framework_options-cx-options-styling-font-head .typography-align,
.redux-main #cx_framework_options-cx-options-styling-font-body .typography-style,
.redux-main #cx_framework_options-cx-options-styling-font-body .typography-align {
    display: none;
}

.widgets-desc {
    font-size: 11px;
    color: #999;
}
.widgets-desc a {
    color: #0074a2;
    text-decoration: none;
}

.cx-upsell-heading {
    border-bottom: 1px solid #A5A5A5;
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 2px;
}
.cx-upsell-desc {
    font-size: 13px;
    padding: 10px 0 25px;
}
.cx-upsell-section-plugins {
    
}
.cx-upsell-plugin-block {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin: 0 8px 25px 0;
    padding: 6px;
    background-color: #F7F7F7;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    text-decoration: none;
}
.cx-upsell-plugin-block-desc {
    font-size: 12px;
    padding: 4px 2px;
    color: #858585;
}

.cx-upgrade-button {
    background-color: #2376e6;
    color: #FFF;
    text-shadow: none;
}