.widget {
	margin: 0 0 2.5em;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
    
}
.main-widget-area {
    
    //margin-left: 10px;
    
    ul {
        list-style: none;
        margin: 0;
    
        li {
            margin: 0.4em 0;
            padding: 0 1.2em;
        
            a {
                color: $color__main-widget-area-link;
                &:hover {
                    text-decoration: none;
                    color: $color__main-widget-area-link-hover;
                }
            }
        }
    }
    .widget-title {
        background: $color__widget-title-background;
        color: $color__widget-title;
        display: inline-block;
        font-family: $font__widget-title;
        @include font-size(1.5);
        font-weight: 500;
        height: 32px;
        line-height: 32px;
        margin: 0 0 0.1em 0;
        padding: 0 1.2em;
        text-transform: uppercase;
    }
}
.widget-title-container {
    border-bottom: 2px solid $color__widget-title-background;
    margin-bottom: 20px;
}
.awt-container {
    border-bottom: 2px solid $color__widget-title-background;
    margin-bottom: 20px; 
}
.awt-title {
    background: $color__widget-title-background;
    color: $color__widget-title;
    display: inline-block;
    font-family: $font__widget-title;
    @include font-size(1.5);
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    margin: 0 0 0.1em 0;
    padding: 0 1.2em;
    text-transform: uppercase;    
}
.amt-area {
    margin: 40px 0;
}
.ams-post {
    display: block;
    clear: both;
    margin-bottom: 23px;
    overflow: hidden;
}
.ams-thumb {
    width: 120px;
    height: 85px;
    float: left;
    
    img {
        float: left;  
    }
}
.ams-title {
    @include font-size(1.6);
    display: inline-block;
    margin: 0 0 1em 0;
    font-weight: 600;
    line-height: 1.2;
    
    a {
        color: #353434;
        text-decoration: none;
        &:hover {
            color: #fa5742;
        }
    }
}
.ams-meta {
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 10px;
}
.ams-details {
    margin-left: 140px;
}
/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* 300x250 Ad widget */
.awaken-medium-rectangle-widget {
    text-align: center;
    
    img {
        margin-top: 15px;
        max-width: 100%;
    }
}
/* Video Widget */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.awaken-featured-container {
    clear: both;
    overflow: hidden;
}
.awaken-slider-container {
    position: relative;
    width: 100%;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
    @include transition(all, 0.3s, ease-in-out);
    
    &:hover {
        box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
        .awaken-slider-title {
            background: #fa5742;
        }
    }
    
    img {
        z-index: -2;
        max-width: 100%;  
        position: relative;
    }
}
.flex-control-nav { 
    display: none;
}
/* Home page featured slider */
.awaken-featured-slider {
    float: left;
    width: 65.964912280701754385964912280702%;
}
.awaken-slider-details-container {
    color: #f5f5f5;
    position: absolute;
    bottom: 0;
    margin: 30px;
    h1 {
       margin: 0;
    }
    a {
        text-decoration: none;
    }
}
.awaken-slider-title{
    color: #f5f5f5;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    @include font-size(2.0);
    line-height: 1.5;
    padding: 5px 10px;
    @include transition(all, 0.3s, ease-in-out);
    
    &:hover {
        color: #fff;
    }

}

.awaken-featured-posts {
    float: right;
    width: 34.035087719298245614035087719298%;
}
.afp {
    position: relative;
    width: 100%;  
    height: auto;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
    @include transition(all, 0.3s, ease-in-out);
    
    &:hover {
        .afp-title {
            background: #fa5742;
        }
        
    }
}
.afp img {
    max-width: 100%;  
    position: relative;
    z-index: -2;
}
.afp-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    @include font-size(1.6);
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 8px 10px;
    background: rgba(0,0,0,0.7);
    color: #f5f5f5;
    @include transition(all, 0.3s, ease-in-out);
    
    a{
        color: #f5f5f5;
        text-decoration: none;
        
        &:hover {
            color: #fff;
        }
    }
}
.afp:hover {
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
    .afp-title {
        padding-right: 30px;
    }
}


/* Popular, Comments, Tags Tabs */
#awt-widget {
    background: #fa5742;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
    @include font-size(1.5);
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid #fa5742;
    
    li {
        padding: 0;
        margin: 0;
        width: 33.33333%;
        text-align: center;
        border-bottom: 1px solid #fff;
        a {
            color: #fff;
            border: none;
            &:hover {
                background: #222;
            }
        }
    }
}
#awt-widget > li.active > a, .nav-tabs > li.active > a:hover, 
#awt-widget > li.active > a:focus {
    border: none;
    background: #333;
}
.nav-tabs > li > a {
    border-radius: 0;
    margin-right: 0;
}
.awaken_avatar {
    float: left;
    postion: relative;
    margin: 0 20px 20px 0;
}
.acmmnt-body {
    @include font-size(1.6);
    margin: 0;
}
.awc-container {
    margin-bottom: 20px;
}
.awaken_comment_author,
.awaken_comment_post {
    font-family: 'Roboto', sans-serif;
    @include font-size(1.5);
    font-weight: 600;
}
#awaken-tags a {
    padding: 2px 5px;
    background: #444;
    color: #ddd;
    line-height: 27px;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
    
    &:hover {
        background: #fa5742;
        color: #fff;
    }
}
.site-footer {
    color: $color_footer_text;
    a {    
        color: $color_footer-links;    
        text-decoration: none;
        &:hover{
            color: $color__main-theme-color;
        }
    }
}
.footer-site-info {
    background: #222;
    @include font-size(1.4);
    padding: 1em 0;
}
.footer-widget-area {
    ul {
        list-style: none;
        margin: 0;
    
        li {
            margin: 0.4em 0;
            padding: 0;
        }
    }
    .widget {
        margin: 40px 0;
    }
}
.footer-widget-title {
    color: $color_footer-widget-title;
    font-family: $font__widget-title;
    @include font-size(1.5);
    font-weight: 500;
    margin: 0 0 25px 0;
    text-transform: uppercase;
}