#chip_life_tabs h3 { display:none; }
.margin10tb { margin:10px 0px 10px 0px; }
.padding10 { padding: 10px; }
a.chiplifeadmin:link, a.chiplifeadmin:visited { color:#21759b; text-decoration:none; }
a.chiplifeadmin:hover { text-decoration:underline; }