/* Options Framework Admin Styles */
.a1-themes{
	background-color:#FFF;
	border:1px solid #e5e5e5;
	position:relative;
	float:left;
	width:98.5%;
}
.a1-header{
	background-color: #334d5c;
	background-image:url(../images/header-bg.png);
	background-repeat:no-repeat;
	background-size:cover;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
}
.logo{
	float:left;
	width:19%;
	text-align:center;
	padding:10px 0px;
}
.header-right{
	float:left;
	width:79%;
}
.header-right h1{
	color:#FFF;
	padding:20px 0 0 25px;
	width:80%;
	float:left;
	text-align:center;
}
.header-right .btn-save{
	float: right;
    margin-top: 30px;
	margin-right:20px;
}
.a1-themes .btn-save input{
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 16px;
    height: auto;
    padding: 5px 10px;
	
	transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
}
.a1-themes .btn-save input:hover,
.a1-themes .btn-save input:focus{
	background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: none;
    color: #334d5c;
}
.left-box {	
    border: medium none;
    box-shadow: none;
    float: left;
    margin-top: 9px;
    padding-left: 15px;
    position: relative;
    width: 74.5%;
    z-index: 0;
}
.a1-themes .metabox-holder{
	float:left;
	width:100%;
}
.a1-options{
	position:relative;
	float:left;
	width:100%;
	min-height:370px;
}
.right-box{
    float: left;
    position: relative;
    width: 23.9%;
    z-index: 9;
    margin-top: 9px;
    padding-bottom:20px;
}
.right-box-bg{
    background-color: #f1f1f1;
    bottom: 0;
    position: absolute;
    left: 0;
    top: 9px;
    width: 23.9%;
    z-index: 0;
}
.right-box .nav-tab-wrapper ul,
.right-box .nav-tab-wrapper ul li{
	float: left;
    margin: 0;
    width: 100%;
}
.right-box .nav-tab-wrapper ul li a{
	background-color: #f1f1f1;
    border-color: #eae5e5;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #334d5c;
    display: block;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 14px 10px;
    width: 92.7%;
	outline:none;
	position:relative;
}
.right-box .nav-tab-wrapper ul li:first-child a{
	border-top:1px solid #eae5e5;
}
.right-box .nav-tab-wrapper ul li .nav-tab-active{
	background-color:#fff;
	
}
.right-box .nav-tab-wrapper ul li .nav-tab-active:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid #d3d2d2;
}
.a1-themes .heading {
    border: 1px solid #dfdfdf;	
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);	
    color: #334d5c;
    float: left;
    font-weight: bold;
    padding: 12px 3px 12px 10px;
    text-decoration: none;
    width: 97%;
	outline:none;
}
.a1-inner-tab{
	transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	position:relative;
}
.a1-inner-tab:after{
	content: "+";
	position: absolute;
	right: 18px;
	font-size: 18px;
	top: 8px;
	font-weight: bold;
	transition:all 0.8s ease-in-out;
	-webkit-transition:all 0.8s ease-in-out;
	
}
.a1-inner-tab.active:after{
	content:"-";
}
.theme-tabs{
	float: left;
    margin-bottom: 15px;
    width: 100%;
}
.a1-inner-tab-group{
	border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    float: left;
    
    padding-left: 15px;
    padding-top: 15px;
    width: 96.7%;
}
.a1-themes input[type='text'],
.a1-themes input[type='email'],
.a1-themes textarea{
	box-shadow: none;
    height: auto;
    line-height: normal;
    padding: 8px 10px;
	max-width:95%;
}
.a1-themes textarea{
	resize: vertical;
    width: 40%;
}
.auto-width .ft-control {
    margin-right: 30px;
    width: auto;
}
/*****/
/*  Theme options style
/*****/
.a1-details{
	float:left;
	padding-top:10px;
	width:100%;	
}
.a1-details .explain {	
	color: #777777;
    float: left;
    font-size: 12px;
    margin-bottom: 15px;
    width: 100%;
}
.a1-inner-tab-group .sub-heading{
	font-size: 16px;
    margin: 8px 0;
}
.theme-tabs .ft-control {
	float: left;
    margin: 10px 3px;    
	width: 100%;
}
/*****/
/* Image Uploader
/*****/
.theme-tabs .upload{
	float:left;
	width:50%;
}
.theme-tabs .button{
	float:left;
	margin-left:15px;
	margin-top:2px;
}
.a1-themes .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:100%;
	margin-top:3px;
}
.a1-themes .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
.a1-themes .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	cursor:pointer;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
/* Bottom Section */
.a1-footer{
	background-color: #334d5c;
    background-image: url("../images/footer_bg.png");
    color: #ffffff;
    float: left;
    padding: 7px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.a1-footer ul{
	margin:0px;
}
.a1-footer .btn-save{
	float: right;
    margin: 3px 0;
}
.a1-footer .btn-save .button-primary{
	margin-right:20px;
}
.save-options{
	background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
	display:none;
}
.save-options h2{
	border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    float: left;
    font-size: 22px;
    left: 38%;
    padding: 20px;
    position: absolute;
    top: 40%;
    width: auto;
}
.a1_confirmation {
    background-color: rgb(55, 76, 89);
    border: 3px solid #ccc;
    border-radius: 10px;
    color: #fff;
    display: none;
    font-size: 18px;
    font-weight: bold;
    left: 30%;
    padding: 20px;
    position: fixed;
    top: 40%;
    z-index: 9999;
}
.a1_confirmation > input {
    border: medium none;
    border-radius: 4px;
    float: right;
    margin: 10px 5px 0;
    padding: 5px 10px;
    cursor:pointer;
}
.demo_six_img {
    float: left;
    padding: 10px;
    text-align: center;
    width: 221px;
    cursor: pointer;
}
/**theme multi color css**/
.theme-colors .ft-control .default-theme-color {
    background-color: #568c11;
	border:1px solid rgba(0,0,0,0.4);
}
.theme-colors .default-theme-color:before{
	color:#000;
}
.theme-colors .orange-theme-color {
    background-color:#e04028;
}
.theme-colors .coffee-theme-color {
    background-color: #f19748;
}
.theme-colors .blue-theme-color {
    clear:both;
	background-color: #3498db;
}
.theme-colors .light-blue-theme-color {
    background-color: #55d0d1;
}
.theme-colors .dark-pink-theme-color {
    background-color: #de0039;
}
.a1-inner-tabs h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding-bottom: 10px;
    width: 100%;
    clear:both;
}
.theme-fonts .three-column-layout:after {
	content:"Check for three column layout";
}
.theme-fonts .four-column-layout:after {
	content:"Check for four column layout";
}
/************/
/*
** Color option 
*/
.option-group{
	float:left;
	width:100%;
	padding-bottom:10px;
}
.ft-control > label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.ft-control input[type=radio],
.ft-control input[type=checkbox] {
 display: none; 
}
.theme-tabs .ft-control {
	float: left;
    margin: 10px 3px;    
	width: 99%;
}
.theme-tabs .ft-control input[type=checkbox] + label:before{	
	border-radius: 10%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);   
}
.theme-tabs .ft-control input[type=checkbox]:checked + label:before{
	background-image: url("../images/checkbox.png");
	border-radius: 10%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);   
}
.theme-colors .ft-control {
	width: 75px;	
}
.theme-colors .ft-control label{	
	height:52px;
    width: 52px;
	border-radius: 10%;
	border:1px solid transparent;
	transition:all 0.5s ease-in-out 0s;
	-webkit-transition:all 0.5s ease-in-out 0s;
}
.theme-colors .ft-control label:before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 54px;
    left: 1px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    width: 53px;
	
	transition:all 0.3s ease-in-out 0s;
	-webkit-transition:all 0.3s ease-in-out 0s;
}

.theme-background .ft-control{
	height:120px;
	width:120px;
}
.theme-background .ft-control label{
	height:100px;
	width:100px;
	background-size:100% 100%;
	border:1px solid #fff;
}
.theme-background .ft-control label:before{
	background-image:none;
	height:100%;
	width:100%;
	background-size:auto;
}
.theme-background .ft-control input[type="radio"]:checked + label{
	opacity:0.7;
}
.theme-fonts .ft-control{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px 3px;
    padding: 2px 0 9px;
    width: 99%;
}
.theme-fonts .ft-control:last-child{
	border:none;
}
.theme-fonts .ft-control label{
	height: auto;
    padding-left: 35px;
    padding-top: 5px;
    width: 80%;
}
.theme-fonts .ft-control label:before{
	border-radius:50%;	
	height:20px;
	width:20px;
	background-size:initial;
	box-shadow:1px 2px 3px rgba(0, 0, 0, 0.5);
}
.theme-fonts .ft-control input[type="radio"]:checked + label:before{
	border-radius:50%;	
}
.theme-colors .ft-control label:after{
	width:97%;
	padding:10px;
	font-size:16px;
	color:#000;	
}
.import_dummy_data {
    background-color: rgb(57, 79, 91);
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 10px 15px;
    padding: 6px 12px;
}
p.mail-condition{
	font-size:11px;
}

@media (max-width:992px){
	.logo{
		width:100%;
		text-align:center;
	}
	.header-right{
		padding-bottom: 20px;
    	width: 100%;
	}
	.header-right h1{
		padding-top: 0;
		text-align: left;
		width: auto;
	}
	.header-right .btn-save{
		margin-top: 5px;
	}
	.right-box{
		width:100%;
	}
	.right-box-bg{
		display:none;
	}	
	.right-box .nav-tab-wrapper ul li a{
		width:95%;
	}
	.a1-inner-tab-group,
	.a1-themes .heading{
		width:90%;
	}
	.left-box,
	.a1-themes textarea{
		width:95.5%;
	}
	.right-box .nav-tab-wrapper ul li .nav-tab-active:after{
		border:none;
	}
	.theme-colors .ft-control label:after{
		line-height:20px;
	}
}