/* Scss Document */
@media screen and (max-width: 782px) {
  /*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
  /* site-wrapper
-----------------------------------------*/
  #site-wrapper {
    margin: 12px;
    padding: 12px;
    width: auto; } }
