/*--------------------------------------------------------------
# EDD
--------------------------------------------------------------*/
.archive{
    .type-download {
        @include span(4 of 12);
        &:nth-child(3n+3) {
            @include last;
        }
        .edd_download_title {
            a {
                text-decoration: none;
            }
        }
    }
 }
//downloads shortcode
.edd_downloads_list {
    .edd_download_inner {
        .edd_download_title {
            @include padding(10px 0 0 0);
            a {
                text-decoration: none;
            }
            
        }
        .edd_price_options {
            font-size: .95em;
        }
    }
}
//download button
.edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit {
            cursor: pointer;
            background: $primary-color!important;
            border: none!important;
            display: inline-block;
            color: #FFFFFF!important;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
            @include padding(8px 15px);
            @include border-radius(2px);
            margin: 0;
            text-decoration: none;
            font-weight: $normal;
            @include font-size(14,22);
            @include transition(background-color .2s, color .2s);
            &:hover,
            &:focus {
                 background: $secondary-color!important;
                 color: #FFFFFF!important;
            }
        }
//pagination
#edd_download_pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    clear: both;
    border-left: 1px solid $border_color;
    .page-numbers {
        display: inline-block;
        float: left;
        @include margin(0);
        @include padding(5px 14px);
        border-top:1px solid $border_color;
        border-bottom:1px solid $border_color;
        border-right:1px solid $border_color;
        text-decoration: none;
    }
}
//checkout page
#edd_checkout_wrap {
    fieldset,
    #edd_show_discount,
    #edd_final_total_wrap {
        border-color: $border_color; 
    }
    #edd_show_terms,
    .edd-terms-agreement {
        text-decoration:none;
        margin: 8px 0;
        a {
            text-decoration: none;
        }
    }
    #edd-purchase-button {
        background-color: #77cc6d!important;
        font-size: 1.3em;
        padding: .8em 2em;
        &:hover {
            background-color: lighten(#77cc6d, 5%)!important;             
        }
    }
    #edd_checkout_cart {
        border: 1px solid $border_color;
        border-left: none;
        border-top:none;
        th, td{
            border-color: $border_color;
            border-right: none;
            border-bottom: none;
        }
        td.edd_cart_actions {
            text-transform: lowercase;
        }
    }
}
//widgets
.widget_edd_cart_widget {
    .cart_item.edd_checkout a {
        background-color: #77cc6d;
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px 15px;
        color: #fff;
        &:hover {
            background-color: lighten(#77cc6d, 5%);
            color: #fff;
        }
    }
    .edd-cart-number-of-items {
        margin-bottom: 5px;
        background: #f9f9f9;
        padding: 5px 0;
        text-align: center;
        font-style: normal;
        font-size: .9em;
    }
    .edd-cart-item-title {
        font-weight: $bold;
        color: $heading_color;
    }
    .edd-cart-item {
        font-size: .9em;
        background: rgba(255,255,255,.25);
        padding: 5px 10px;
    }
    .edd-cart-item-price {
        color: #77cc6d;
    }
    .edd_total {
        padding: 5px;
        text-align: center;
    }
}
.widget_edd_categories_tags_widget {
    ul { 
        margin: 0;
        padding: 0;
        li {
            &:before {
                font-family: 'FontAwesome';
                content:'\f114';
                @include margin(0 5px 0 2px);            }
        }
        ul {
            margin-left: 20px;
        }
    }
}