/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.site-footer {
    background: #313131;
    border-top: 1px solid $border_color;
    ul {
        list-style: none;
        @include margin(0);
        @include padding(0);
    }
    a {
        text-decoration: none;
        @include link-colors(lighten($text_color,40%), $secondary-color);    
    }
    .site-info{
        display: inline-block;
        @include padding ($base_spacing 0);
    }
    .social {
        background: rgba(0,0,0, .2);
        height: 44px;
        width: 44px;
        margin: $base_spacing 4px $base_spacing 0;
        line-height: 42px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        @include border-radius(3px);
    }
    .scrolltotop{
        margin: 0 0 0 4px;
        font-size: 1.2em;
    }
}

