/*--------------------------------------------------------------
# FORMS
--------------------------------------------------------------*/
#{$all-buttons} {
	cursor: pointer;
	background: $primary-color;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	@include padding(8px 15px);
	@include border-radius(2px);
	margin: 3px 0;
	text-decoration: none;
	font-weight: $normal;
    @include font-size(14,22);
    @include transition(background-color .2s, color .2s);
}
#{$all-buttons-focus},
#{$all-buttons-hover} {
    background: $secondary-color;
}
#{$all-buttons-active} {
	background: $primary-color;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
    @include padding(5px 10px 5px 10px);
    &:focus {
        color: #111;
    }
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}