/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.site-header {
    background: $secondary_color;
    h1.site-title,
    .site-title,
    p.site-title {
        font-family: $font-text;
        font-weight: $bold!important;
        font-size: 28px!important;
        line-height: 1!important;
        color: $heading_color;
        @include padding( .8em 0!important);
        @include margin(0!important);
        display: inline-block;
        a {
            text-decoration: none;
            color: $heading_color;
            &:hover,
            &:focus {
                color: $heading_color;
            }
        }
    }
    p.site-description {
        color: lighten($secondary_color, 30%);
        @include padding(1em 0);
        @include margin(0);
    }
}
