/*--------------------------------------------------------------
# TYPOGRAPHY
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $text_color;
	font-family: $font_text;
	@include font-size(16,24);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
    font-family: $font_heading;
    color: $heading_color;
    font-weight: $bold;
    @include margin(0);
    @include padding(0);
}
h1 {
    @include font-size(28,26);
    margin-bottom: 10px;
	a {
		@include font-size(28,26);
        text-decoration: none;
	}
}

h2 {
	@include font-size(24,26);
    margin-bottom: 10px;
}

h3 {
	@include font-size(22,22);
    margin-bottom: 10px;
}

h4 {
	@include font-size(20,20);
    margin-bottom: 8px;
}
h5 {
	@include font-size(18,20);
    margin-bottom: 8px;
}
h6 {
	@include font-size(16,20);
    margin-bottom: 8px;
}
p {
	@include margin(0 0 1.5em 0);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	@include padding(1em 1em 1em 2em);
    @include margin(1em 0);
    border-left: 2px solid $secondary-color;
    font-style: italic;
    color: lighten($text_color, 15%)
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: $monaco;
	@include font-size(15,23);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $monaco;
	@include font-size(15,23);
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
/*--------------------------------------------------------------
# LINKS
--------------------------------------------------------------*/
a {
    @include link-colors($primary_color,$secondary_color);
}