/*--------------------------------------------------------------
# WOOCOMMERCE
--------------------------------------------------------------*/
.cart-menu {
    a {
        &:before {
            font-family: 'FontAwesome';
            content:'\f07a';
            margin-right: 5px;
            
        }
    }
}
.woocommerce {
    //Links
    a {
        text-decoration: none;
    }    
//Products grid
@include susy-breakpoint($tablet) {
    
    ul.products li.product, .woocommerce-page ul.products li.product {
            @include span(4 of 12);
    }
    ul.products li.product.last, 
    .woocommerce-page ul.products li.product.last {
            @include span(4 of 12 last);
    }
    .upsells,
    .related {
        .products {
            .product {
                @include span(3 of 12);
            }
            .product.last {
                @include span(3 of 12 last);
            }
        }
    }
    .cart-collaterals {
        .cross-sells {
			ul.products {
				li.product.first {
                    @include span(6 of 12 first);
                    border: 1px solid $border_color;
                    @include padding(20px);
                    @include border-radius(2px);
                }
                li.product.last {
                    @include span(6 of 12 last);
                    border: 1px solid $border_color;
                    @include padding(20px);
                    @include border-radius(2px);
                }
			}
		}
    }
}

//Buttons
    #respond input#submit.alt, 
    a.button.alt, 
    button.button.alt, 
    input.button.alt {
    background-color: #77cc6d;
        &:hover {
            background-color: lighten(#77cc6d, 5%);            
        }
        &:disabled {
            background-color: lighten($primary-color, 50%)!important;            
        }
    }

	a.button,
	button.button,
	input.button,
    button.button.alt,
	#respond input#submit {
            cursor: pointer;
            background: $primary-color;
            border: none;
            display: inline-block;
            color: #FFFFFF;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
            @include padding(8px 15px);
            @include border-radius(2px);
            margin: 0;
            text-decoration: none;
            font-weight: $normal;
            @include font-size(14,22);
            @include transition(background-color .2s, color .2s);
            &:hover,
            &:focus {
                 background: $secondary-color;
                 color: #FFFFFF;
            }
        }

    // Tables
	table.shop_attributes,
    table.shop_table,
    table.my_account_orders {
		@extend table;
    }
    //Tab
    .woocommerce-tabs {
        ul.tabs {
            list-style: none;
            padding:  0!important;
            margin: 0!important;
            overflow: hidden;
            position: relative;
            border-bottom: 1px solid $border_color!important;

            li {
                border: none!important;
                background:none!important;
                display: inline-block;
                position: relative;
                z-index: 0;
                border-radius: 0!important;
                margin:0!important;
                padding: 0 1em;

                a {
                    display: inline-block;
                    padding: .5em 0;
                    font-weight: $bold!important;
                    color: lighten( $primary_color, 30% )!important;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                        color: lighten( $primary_color, 10% )!important;
                    }
                }

                &.active {
                    border-bottom: 2px solid $secondary-color!important;

                    a {
                        color: $primary_color!important;
                        text-shadow: inherit!important;
                    }

                    &:before {
                        display: none!important;
                    }

                    &:after {
                        display: none!important;
                    }
                }

                &:before,
                &:after {
                    display: none!important;
                }

                &:before {
                    display: none!important;
                }

                &:after {
                    display: none!important;
                }
            }

            &:before {
                display: none!important;
            }
        }

        .panel {
            margin: 2em 0 2em 0!important;
        }
    }
    //reviews
    #reviews {
        #comments {
            ol.commentlist {
                .comment {
                    margin: $base_spacing 0;
                    .comment_container {
                        .comment-text {
                            border: 1px solid $border_color!important;
                            background: rgba(255, 255, 255, 0.1)!important;
                            @include border-radius(0!important);
                            &:before {
                                border-color: transparent $border_color transparent transparent;
                                border-style: solid;
                                border-width: 0 12px 12px 0;
                                content: "";
                                height: 0;
                                margin-left: -30px;
                                width: 0;
                            }
                        }
                        .avatar {
                            padding: 0!important;
                            background: #fff!important;
                            border-color: #fff!important;
                        }
                    }
                }
            }
        }
    }
    //Sale
	span.onsale {
		min-height: 1.2em;
		min-width: 1.2em;
		padding: .2em .5em;
		@include font-size(16, 24);
		font-weight: $bold;
		position: absolute;
		text-align: center;
		top: -.5em;
		left: -.5em;
		margin: 0;
		@include border-radius(2px);
        border:2px solid $secondary-color;
		background-color: #fff;
		color: $secondary-color;
	}
    //Info message
    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
		background-color: $light-gray;
	}
    //Cart
    table.shop_table.shop_table_responsive.cart { 
        margin-bottom: 4em;
        #coupon_code {
            width: 120px!important;
        }
    }
    //Checkout
    form.login,
	form.checkout_coupon,
	form.register {
        background: $light-gray;
		border: none;
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align: left;
		border-radius: 5px;
	}
    form.checkout_coupon {
        #coupon_code {
            width: 100%;
            @include margin(5px null null null);
        }
    }
    table #coupon_code {
            width: 150px;
            line-height: 1.4;
            padding: 3px 5px;
        }
    .woocommerce-checkout, 
    #add_payment_method {
        #place_order {
            font-weight: $bold;
            font-size: 1.25em;
            padding: .8em 2em
        }
        #payment {
		background: lighten($light-gray,2%);
		@include border-radius(4px);
		  ul.payment_methods {
              div.payment_box {
                  background-color:darken( $light-gray, 2% );
                  &:before {
				    border-bottom-color:darken( $light-gray, 2% ); /* arrow size / color */
                      top: -1em;
                  }
			  }
		  }
       }
    }

    //upsells products
    .upsells,
    .related {
        h2 {
            border-top: 1px solid $border_color;
            padding: $base_spacing 0;
            font-weight: $normal;
        }
        del {
            display: inline-block!important;
        }
    }
    //products
    .product {
        .added_to_cart {
            color: $secondary-color;
            text-transform: lowercase;
            &:after {
                font-family: 'FontAwesome';
                content: '\f178';
                margin-left: 5px;
            }
        }
        .price {
            color: $secondary-color!important;
            font-size: 1em!important;
        }
        .entry-summary {
            .price {
                font-size: 1.2em!important;
                del {
                    color: $text_color;
                }
            } 
        }
        .variations {
                .reset_variations {
                    color: #ea6153;
                }
        }
        .woocommerce-variation-price {
            margin-bottom: 1.5em;
            .price {
                color: $text_color!important;
            }
        }
    }
}
//widgets
.widget_shopping_cart_content {
    .button {
        width: 100%;
        display: block;
        margin-bottom: 10px!important;
    }
    .total {
        background: $light-gray;
        padding: 10px!important;
    }
}
//widget product categories
.widget_product_categories{
    ul { 
        margin: 0;
        padding: 0;
        li {
            &:before {
                font-family: 'FontAwesome';
                content:'\f114';
                @include margin(0 5px 0 2px);            }
        }
        ul {
            margin-left: 20px;
        }
    }
}