/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.entry-content .aligncenter, .main .aligncenter {display: block; margin-left:auto; margin-right:auto; clear: both; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; clear: both; }

/* Required */
.wp-caption {
text-align: center;
padding: 15px;
}
.wp-caption-text {
font-size: 12px;
margin-top: 3px;
font-style: italic;
}
.sticky {
	//empty
}
.bypostauthor {
opacity: 1;
}
.gallery-caption {
font-size: 11px;
}
