#customize-controls .control-section-wptrt-button .accordion-section-title:hover,
#customize-controls .control-section-wptrt-button .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-wptrt-button .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	font-size: 80%;
    padding: 0 5px;
	line-height: 26px;
}
#accordion-section-manager_attesa_buy_pro .accordion-section-title .button:first-child {
	background: #689e5b;
    color: #fff;
    box-shadow: none;
    border: none;
}
#accordion-section-manager_attesa_locked_pro .accordion-section-title .button:after {
	font-family: dashicons;
	content: "\f160";
	padding-left: 3px;
    float: right;
	font-size: 150%;
}
#customize-controls .current-panel .control-section-wptrt-button>h3.accordion-section-title {
    padding-right: 10px;
}
#accordion-section-manager_attesa_buy_pro h3 {
	background-color: #000000 !important;
	color: #ffffff !important;
}
#accordion-section-attesa_pro_locked .accordion-section-title .button:after {
	font-family: dashicons;
	content: "\f160";
	padding-left: 3px;
    float: right;
	font-size: 150%;
}
#accordion-section-manager_attesa_license_button_expired h3{
	color: #ffffff !important;
    background-color: #ff6a64 !important;
}
