@media (min-width: 780px) {
  .panel .item {
    width: 32.20339%;
    float: left;
  }
  .panel .item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .panel .item:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .panel .item:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
  .panel .theme_link {
    width: 49.15254%;
    float: left;
  }
  .panel .theme_link:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .panel .theme_link:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none;
  }
}

.evidence {
  background: #fff;
  border: 1px solid #dedede;
  margin-top: 1em;
  padding: 15px;
}

.evidence h3 {
  margin-top: 0;
}

.evidence .button-upgrade {
  background: #fc3;
  border: 1px solid #e6ac00;
  border-bottom: 2px solid #e6ac00;
  color: #5d4b16;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  background: #fc3;
  color: #5d4b16;
}

.evidence .button-upgrade:hover, .evidence .button-upgrade:focus {
  background: #fd3;
  color: #5d4b16;
  border-color: #ffc61a;
}

.theme-name {
  font-weight: bold;
}

.theme-name .version {
  font-size: 14px;
  background: #fff;
  padding: 5px 10px;
  margin-left: 5px;
}
