.row {width: 95%;margin: 0 auto;overflow: hidden;}
.dua{width:14.583333333333334%}
.empat{width:31.25%}
.tiga{  width:22.916666666666664%}
.enam{  width:47.91666666666667%}
.sembilan{  width:72.91666666666666%}
.dua, .tiga, .empat, .enam, .sembilan
{display:inline; float:left; margin:1% 1.0416666666666665%}
@media screen and (max-width: 767px) {
.tiga, .enam, .sembilan
{width:97.91666666666666%;
display:inline; float:left;margin:0 1%}}
.clear{clear:both;display:block;overflow:hidden;margin-bottom:20px;}
h2.rwd-toggle {	
	padding: 0 0 0 10px;
	margin: 20px 0 0 0;
	box-shadow:1px 2px 2px #999;
	background-color: #F1F1F1;	
	height: 34px;
	line-height: 34px;
	width:50%;
	font-size:35px;
	font-weight: normal;
	float: left;}
h2.rwd-toggle a {
	color: #464646;
	font-family:Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	text-decoration: none;
	display: block;
	text-shadow:#fff 0 1px 0;}
h2.rwd-toggle a:hover {color: #444;}
h2.active {background-position: left bottom;}
.tengah{text-align:center;}
.submit{float:left;}