/**
 * Homepage style control
 */
@include susy-media($desktop) {
	.azb-hmp-container {
		.azb-hmp-row{
			@include clearfix;
			padding-top: ms(7);
		}
	}
	.azb-box {
		ul {
			margin: 1em 0 1em 1em;

			li {
				list-style: none;
				a {
				 color: #0000EE;
				 &:hover {
				 	color: #f90;
				 }

				}

				&::before {
					font-family: "FontAwesome";
				    margin-right: 0;
				    display: block;
				    float: left;
				    opacity: 0.35;
				    margin-left: -1em;
				    width: 1em;
				    content: "\f105";
				}
			}
		}
	}
	.cat-summary {
		.cat-desc {
			font-style: italic;
		}
	}
	.azb-hmp-box-2 {
		.azb-box {

			@include span(6 of 12);

			&.azb-box-2 {
				@include last;
			}
		}
	}
	.azb-hmp-box-3 {
		.azb-box {

			@include span(4 of 12);

			&.azb-box-3 {
				@include last;
			}
		}
	}
	.azb-hmp-box-4 {
		.azb-box {

			@include span(3 of 12);

			&.azb-box-4 {
				@include last;
			}
		}
	}
}