.wc-block-featured-product {
  .wc-block-featured-product__price {
    ins {
      background: none;
      font-weight: 600;
    }
  }
  .wc-block-featured-product__description p {
    color: #fff;
  }
}