.site-content {
	margin-top: 50px;
    margin-bottom: 50px;
}
.home .site-content {
	margin-top: 0px;
    margin-bottom: 0px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 40px;
}
.entry-meta {
    margin-bottom: 1em;
}
.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title h2 {
    font-size: 2rem;
}