body.custombody {
    background: url(../images/background/patterns/pattern2.jpg);
    background-repeat: repeat;
    background-color: #f3f3f3;
}
header.header {
    background-image: none;
    background-color: #ffffff;
}
footer#footer {
    background-image: none;
    background-color: #ffffff;
}
p,
dl,
ul,
ol {
    color: #616161;
}
::-moz-selection {
    background-color: #9b59b6;
}
::selection {
    background-color: #9b59b6;
}
.button,
#searchform input[type=submit], 
#commentform input[type=submit], 
.comment-form input[type=submit],
.skills .views.active,
.skills .views:hover,
.filter li:hover,
.filter li.active,
.contact-form input[type=submit],
.comment-form input[type=submit],
.button:hover,
#header-box .tagcloud a,
#bottom-box .tagcloud a,
#top-box .tagcloud a,
#footer-box .tagcloud a,
#sidebar .tagcloud a,
#slogan,
.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover,
.rev_slider_wrapper .tp-bullets.simplebullets.round .bullet.selected,
.ei-slider-thumbs li.ei-slider-element {
    background-color: #9b59b6;
}
a,
.works a.link:hover {
    color: #9b59b6;
}
nav#mainmenu ul li a {
    color: #333333;
}
nav#mainmenu ul ul li a {
    color: #ffffff;
}
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a,
nav#mainmenu ul li.current_page_item > a,
nav#mainmenu ul li.current-menu-parent > a,
nav#mainmenu ul li.current_page_ancestor > a,
nav#mainmenu ul li.current-menu-ancestor > a,
nav#mainmenu ul ul li a:hover,
nav#mainmenu ul ul li a:hover,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current-menu-ancestor > a,
#logo a.logo,
#logo a.logo:hover {
    color: #9b59b6;
}
nav#mainmenu ul ul {
    background-color: #474747;
}
nav#mainmenu ul ul:before {
    border-bottom: 8px solid #474747;
}
a:hover,
#footer a:hover,
#footer .copyright a:hover,
#footer ul.widget-category li:hover,
#footer ul.widget-category li a:hover,
.pin-article .title h1 a:hover,
blockquote h4.title a:hover {
    color: #8e44ad;
}
.button:hover,
#searchform input[type=submit]:hover, 
#commentform input[type=submit]:hover, 
.comment-form input[type=submit]:hover,
.pin-article .quote:hover,
.pin-article .link a:hover,
.contact-form input[type=submit]:hover,
.comment-form input[type=submit]:hover,
.jcarousel-skin-wip .circle,
.jcarousel-skin-wip .pin-article > .text .button:hover,
.jcarousel-skin-wip .pin-article:hover,
#header-box .tagcloud a:hover,
#top-box .tagcloud a:hover,
#bottom-box .tagcloud a:hover,
#footer-box .tagcloud a:hover,
#sidebar .tagcloud a:hover,
.wp-pagenavi a:hover,
.wp-pagenavi span.current,
.theme-default .nivo-directionNav a:hover,
.flexslider .flex-next:hover,
.flexslider .flex-prev:hover,
.flex-caption .description,
.jcarousel-skin-wip .jcarousel-next-horizontal,
.jcarousel-skin-wip .jcarousel-prev-horizontal,
.flex-caption .url:hover {
    background-color: #8e44ad;
}
.jcarousel-skin-wip .pin-article:hover {
    border-color: #8e44ad !important;
}
#searchform input[type=submit], 
#searchform input[type=submit]:hover, 
#commentform input[type=submit], 
#commentform input[type=submit]:hover, 
.contact-form input[type=submit],
.contact-form input[type=submit]:hover,
.comment-form input[type=submit],
.comment-form input[type=submit]:hover,
.jcarousel-skin-wip .pin-article > .text,
.button,
.button:hover {
    border-color: #8e44ad !important;
}
#footer,
#footer .widget,
article blockquote {
    border-color: #8e44ad;
}
#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget,
#footer a,
#footer ul,
#footer p,
#footer .copyright p,
#footer .copyright a {
    color: #333333;
}