.::-moz-selection {
    background-color: #f97c8a;
}
::selection {
    background-color: #f97c8a;
}

nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a, 
pin-article .link:hover,
.pin-article .quote:hover,
.pin-article .link a:hover,
.button,
.wp-pagenavi a:hover,
.wp-pagenavi span.current,
.wip-pagination span,
.wip-pagination a span:hover,
.skills .views.active,
.skills .views:hover,
.filter li:hover,
.filter li.active {
    background-color: #f97c8a;
}

.copyright a,
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a,
nav#mainmenu ul li.current_page_item > a,
nav#mainmenu ul li.current-menu-parent > a,
nav#mainmenu ul li.current_page_ancestor > a,
nav#mainmenu ul li.current-menu-ancestor > a ,
a.button,
.contact-form input[type=submit] {
    color: #f97c8a;
}

nav#mainmenu ul ul {
    border-top-color: #f97c8a;
}

nav#mainmenu ul ul:before {
    border-bottom-color: #f97c8a;
}

nav#mainmenu ul ul li ul {
    border-top-color: #f97c8a;
}


nav#mainmenu ul ul li a:hover, 
nav#mainmenu ul ul li:hover > a,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a, 
nav#mainmenu ul ul li.current-menu-parent > a, 
nav#mainmenu ul ul li.current_post_ancestor > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current-menu-ancestor > a,
#sidebar .tagcloud a,
#footer .tagcloud a {
    background-color: #f97c8a;
}

nav#mainmenu ul ul li a:hover,
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current_page_ancestor > a,
nav#mainmenu ul ul li.current-menu-ancestor > a {
    border-top-color: #f97c8a;
}

.button:hover,
#sidebar .tagcloud a:hover,
#footer .tagcloud a:hover,
a.button:hover,
.contact-form input[type=submit]:hover {
    background-color: #f07381;
}

a.button:hover,
.contact-form input[type=submit]:hover {
    border-color: #f07381;
}

a:hover,
#footer .copyright a:hover,
.pin-article .title a:hover,
#footer a:hover,
#footer ul.widget-category li:hover,
#footer ul.widget-category li a:hover,
.pin-article .title a:hover,
#logo a:hover {
    color: #f97c8a;
}

#footer,
#footer .widget,
article blockquote,
a.button,
.contact-form input[type=submit] {
    border-color: #f97c8a;
}

#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget,
#footer a,
#footer ul,
#footer p,
#footer .copyright p,
#footer .copyright a {
    color: #ffffff;
}