.customize-control-radio-image .image.ui-buttonset input[type=radio] {
		height: auto; 
	}
	.customize-control-radio-image .image.ui-buttonset label {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 5px; 
	}
	.customize-control-radio-image .image.ui-buttonset label.ui-state-active {
		background: none;
	}
	.customize-control-radio-image .customize-control-radio-buttonset label {
		padding: 5px 10px;
		background: #f7f7f7;
		border-left: 1px solid #dedede;
		line-height: 35px; 
	}
	#customize-controls .customize-control-radio-image label img {
		max-width: 75px;
		height: auto;
		border: 3px solid #dedede;
	}
	.customize-control-radio-image label.ui-state-active img {
		background: #dedede; 
		border: 3px solid #008ec2 !important;
		opacity: 1;
	}
	.customize-control-radio-image label.ui-state-hover img {
		opacity: 0.9;
		border: 3px solid #008ec2 !important;
	}
	.customize-control-radio-buttonset label.ui-corner-left {
		border-radius: 3px 0 0 3px;
		border-left: 0; 
	}
	.customize-control-radio-buttonset label.ui-corner-right {
		border-radius: 0 3px 3px 0; 
	}
	.bignews-accordion-section-title {color: #0073aa;border-bottom: 1px solid #eee;border-top: 1px solid #eee;padding: 10px 10px 11px 14px;line-height: 21px;
    background: #FFF;margin: 0 -12px 0;border-left: 4px solid #0073aa;}
	
