/*theme css*/
h1, h2, h3, h4, h5, h6, p, a {
    word-break: break-word!important;
}
a,li,p{
    font-weight: 300;
}
dt {
    font-weight: 500;
}
.alignnone {
 margin: 5px 20px 20px 0; }

.aligncenter {
 display: block;
 margin: 5px auto 5px auto; }

div.aligncenter {
 display: block;
 margin: 5px auto 5px auto; }

.alignright {
 margin: 5px 0 20px 20px; }

.alignleft {
 margin: 5px 20px 20px 0; }

a img.alignright {
 float: right;
 margin: 5px 0 20px 20px; }
a img.alignnone {
 margin: 5px 20px 20px 0; }
a img.alignleft {
 float: left;
 margin: 5px 20px 20px 0; }
a img.aligncenter {
 display: block;
 margin-left: auto;
 margin-right: auto; }

.wp-caption {
 background: #fff;
 border: 1px solid #f0f0f0;
 max-width: 96%;
 padding: 5px 3px 10px;
 text-align: center; }
 .wp-caption img {
   border: 0 none;
   height: auto;
   margin: 0;
   max-width: 98.5%;
   padding: 0;
   width: auto; }
 .wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   margin: 0;
   padding: 0 4px 5px; }
figcaption {
    padding: 5px 0px 0px;
    line-height: 1.4;
   
}
.wp-caption-text.gallery-caption {
     margin-top: -5px!important;
    font-weight: 300;
    padding-bottom: 15px!important;
}
.format-gallery .single-content > h2 {
    display: inline-block;
    width: 100%;
}
.format-gallery .single-content >p {
    display: inline-block;
}

.wp-caption.alignnone {
 margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
 margin: 5px 20px 20px 0; }

.wp-caption.alignright {
 margin: 5px 0 20px 20px; }

.screen-reader-text {
 border: 0;
 clip: rect(1px, 1px, 1px, 1px);
 clip-path: inset(50%);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute !important;
 width: 1px;
 word-wrap: normal !important; }
 .screen-reader-text:focus {
   background-color: #eee;
   clip: auto !important;
   clip-path: none;
   color: #444;
   display: block;
   font-size: 1em;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000; }

.gallery-caption {
 display: block;
 font-size: 0.71111em;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 line-height: 1.6;
 margin: 0;
 padding: 0.5rem; }

.bypostauthor {
 display: block; }
 /*End core Css*/

/*####################*/
Breadcrumb Start
/*####################*/

.crumb {
    color: #fff!important;
}
.crumb a {
    color: #e1d5ff!important;
}
span.current {
    color: #fff;
}
.breadcrumb-item+.breadcrumb-item{
     padding-left:0px;   
}
.post-title-breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    margin: 0px 0px 0px 6px;
}
/*####################*/
Breadcrumb End
/*####################*/
.post-title-content h1 {
    line-height: 1.5;
}

.cart-popup img{
    cursor:pointer;
}
.search-popup-icon img{
     cursor:pointer;   
}
h1.site-title a {
    color: #fff;
}
p.site-description {
    color: #fff;
}
/*superfish menu style */


/*end*/


.navigation-wrapper .navigation-brand{
     max-width:300px;   
}
.navigation-wrapper .navigation-main {
    max-width: calc(100% - 300px);
}
.screen-reader-text {
    display: none;
}
nav.navigation.pagination {
    padding-bottom: 85px;
}
nav.pagination .nav-links .page-numbers {
    font-size: 16px;
    line-height: 2.8;
    color: #8d8992;
    border-radius: 20px !important;
    border: 1px solid rgba(25, 38, 127, 0.12);
    padding: 5px 30px;
}
nav.pagination .nav-links .page-numbers:hover,nav.pagination .nav-links .page-numbers:active,span.page-numbers.current,.prev,.next {
    background-color: #8066dc;
    color: #fff!important;
}
.page-numbers {
    margin-right: 10px;
}
article.sticky {
    padding: 30px;
    background: #f6f5fa;
}
.blog-grid .blog-img img {
    max-height: 250px;
}
.blog-list .blog-img img {
    height: auto;
}


.blog-post .overlay-icon{
    text-align: center;
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #F8F8FC;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}
.single-post .single-img img{
     height: auto;   
}
nav.page-pagination {
    margin-bottom: 48px;
}
li.page-item a {
    padding: 8px 20px;
    color: #8d8992;
    border-radius: 50px;
    border: 1px solid #f5ebeb;
}
li.page-item a:hover,.single-post .single-tags-share .single-tags a:hover {
    background: #8066dc;
    color: white;
    border-color: #8066dc;
}

span.page-links-title {
    margin-right: 5px;
}
.single-page-numbers a, .single-page-numbers .current {
    padding: 5px 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #8d8992;
}
.single-page-numbers a:hover {
    background: #8066dc;
    color: #fff;
    border: 1px solid #8066dc;
}
.single-page-numbers .current {
    background: #8066dc;
    color: #fff;
    border: 1px solid #8066dc;
}
.single-admin {
    margin-bottom: 48px;
}

.single-admin .admin-avatar{
     width: 80px;   
}
h6.author {
    margin-bottom: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #8d8992;
}
h6.author a{
    color: #8d8992;
}
h6.author a:hover{
     color:inherit;   
}
.author-img {
    float: left;
    width: 75px;
}
.author-img img {
    border-radius: 50%;
}
.comment-meta {
    float: left;
    width: calc(100% - 75px);
    background: #f8fafd;
    padding: 12px 20px 0px 12px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #f1eeee;
    position: relative;
}
.comment-meta:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5ebeb  transparent transparent;
    left: -15px;
    top: 10px;
}
span.reply-link {
    float: right;
    font-size: 14px;
}
a.comment-reply-link:before {
    content: "\f122";
    font-family: FontAwesome;
    margin-right: 5px;
    transition:0.3s;
}
a.comment-reply-link:hover:before {
    margin-right: 10px;
}
.date-and-edit {
    font-size: 12px;
    display: inherit;
    margin-bottom: 5px;
}
.comment-text p {
    color: #76707d;
    font-weight: 100;
}
.comment{
     list-style: none;   
}
.single-admin .admin-comment {
    width: calc(100% - 160px)!important;
    padding-left: 10px;
}
.single-admin .admin-comment p {
    margin-bottom: 10px;
}

.single-post .single-tags-share {
    border-radius: 0;
    background: none;
}
ul.single-tags.list-inline.float-left {
    max-width: 510px;
    padding-left:0px;
    margin-top:5px;
}
ul.single-share li{
     padding: 0px;   
}
.single-post .single-tags-share .single-share {
    margin-top: 10px;
}

ul.single-tags.list-inline a {
    padding: 6px 20px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
}

li.facebook a{
    color: #3b5998!important;
}
li.facebook:hover {
    color: #fff!important;
    background: #3b5998!important;
}
li.twitter a{
    color: #55acee!important;
}
.single-post .single-tags-share .single-share a .fa:hover{
     color: #fff!important;   
}
li.twitter:hover {
    color: #fff!important;
    background: #55acee!important;
}

li.linkedin a{
    color: #0077b5!important;
}
li.linkedin:hover {
    color: #fff!important;
    background: #0077b5!important;
}
li.googleplus a{
    color:#dd5144!important;
}
li.googleplus:hover {
    color:#fff!important;
    background : #dd5144!important;
}

.comment-form input, .comment-form textarea {
    margin-bottom: 20px;
     padding: 10px 20px;
}
.comment-form input[type="submit"] {
    border-radius: 30px;
    border: 1px solid rgba(0, 1, 1, 0.1);
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    background-color: #8066dc;
    padding: 10px 30px;
    display: inline-block;
}
.comment-form input[type="submit"]:hover{
     background-color: #fff;
     color: #8d8992;
     border: 1px solid #8d8992;
}

.single-comment {
  display: table;
  width: 100%;
  margin-bottom: 35px;
}

.comment-wrapper {
  padding-left: 50px;
}

.single-comment-img {
  width: 68px;
  float: left;
}

.single-comment-desc {
  width: calc(100% - 68px);
  float: left;
  padding-left: 15px;
}

.single-comment-desc h6 .single-priod {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #777777;
  margin-left: 10px;
}

.single-comment-desc p {
  margin-bottom: 8px;
}

.single-comment-desc .single-comment-btn {
  color: #216BBC;
  font-size: 16px;
  line-height: 30px;
}
h4.sub-title {
    position: relative;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 100;
}

h4.sub-title:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    bottom: -10px;
    left: 0;
    background: #8066dc;
    transition: 0.3s;
}
h4.sub-title span {
    position: absolute;
    bottom: -17.5px;
    font-size: 6px;
    color: #8066dc;
    right: 0;
    left: 36px;
}
div#respond {
  float: left;
  width: 100%;
}
#commentform input[type="submit"] {
  font-weight: 300;
  padding: 10px 15px;
}

h3#reply-title {
  position:relative;
  margin-bottom: 40px;
}
h3#reply-title:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #8066dc;
  bottom: -10px;
  left: 0;
  transition: 0.3s;
}
input#submit:hover {
  background: #fff;
  border: 1px solid;
  transition: .3s;
}
span.says {
  display: none;
}
.comments_template .comment-author img {
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
}
b.fn {
  float: left;
  width: calc(100% - 60px);
  padding-left: 5px;
  color: #8d8992;
}
b.fn a{
   color: #8d8992;   
}
.comment-content {
  float: left;
  padding-left: 5px;
  width: calc(100% - 60px);
}
.comment-content p {
    font-size: 14px;
    font-weight: 300;
}
.comment-content a:hover {
    text-decoration: underline;
}
.comment-content > h6 {
  margin-bottom: 20px;
}
.comment-content table a {
  color: #216bbc;
}
.comment-content table a:hover {
  text-decoration:underline!important;
}
.says {
display: none; }

.comment-meta.commentmetadata {
display: none; }


.comment-body {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    position: relative;
}

.comment-author.vcard {
  position: relative;
}
blockquote {
  border-left: 4px solid #000;
  padding-left: 1em;
}
.trackback,.pingback {
  list-style: none;
}
.trackback b.fn,.pingback b.fn{
  padding:0px!important;
}
.trackback .comment-content > p, .pingback .comment-content > p {
  display: none;
}
.comments-closed{
   margin-top:20px;   
}
.trackback .comment-content, .pingback .comment-content {
  margin: 0;
}
.page-content {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.page-content p>a, .page-content li>a {
  color: #216bbc;
}
.reply {
    margin-left: 65px;
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.reply a {
    font-size: 14px;
    margin-right: 10px;
    color: #323232;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    padding: 2px 8px;
    background: #8f8f8f;
    color: #fff;
    border-radius: 2px;
}

p.comment-form-cookies-consent label {
  margin-left: 5px;
  cursor: pointer;
  /* margin-top: -8px; */
}
input#wp-comment-cookies-consent {
  cursor: pointer;
  float: left;
  margin-top: 6px;
}

h3#reply-title {
    font-size: 22px;
    font-weight: 100;
}
h3#reply-title a {
  text-transform: capitalize;
  font-weight: bold;
  color: #111;
  letter-spacing: .02em; }

.comment-metadata {
display: none; }

.comment-content strong {
  border-bottom: 1px solid #ddd;
}
a#cancel-comment-reply-link {
text-transform: uppercase !important;
font-size: 10px; }

a#cancel-comment-reply-link:before {
content: "| "; }

li.recentcomments > a {
  color: #8066dc;
  display:inline-block!important;
}
span.comment-author-link a {
    text-transform: uppercase;
    font-size: 12px!important;
}
.sidebar-widget {
    margin-bottom: 30px;
    padding: 20px 15px;
}
.sidebar-widget ul,.footer-widget ul{
     padding:0px!important; 
     
}
.sidebar-widget ul.sub-menu li:last-child, .footer-widget ul.sub-menu li:last-child{
    border-bottom: none;
}
ul.children li:last-child {
    border-bottom: 0;
}
.sidebar-widget ul li,.footer-widget ul li {
    list-style: none;
}
.sidebar-title, .footer-title {
    font-size: 22px;
    position: relative;
    font-weight: 300;
    margin-bottom: 45px;
}
.widget_categories ul li:before,.widget_pages ul li:before, .widget_archive ul li:before, .widget_meta ul li:before,.widget_nav_menu ul li:before{
    font-family: FontAwesome;
    content: '\f0da';
    margin-right: 10px;
    font-size: 14px;
}
.sidebar-title:after, .footer-title:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 50px;
    bottom: -15px;
    left: 0;
    background:#8066dc;
    transition: 0.3s;
}

.sidebar-title span, .footer-title span {
    position: absolute;
    bottom: -17px;
    font-size: 4px;
    color:#8066dc;
    right: 0;
    left: 55px;
}

.sidebar-title span .fa,.footer-title span .fa {
    margin-right: 3px;
}
.footer-widget .footer-title {
    margin-bottom: 45px;
}
.widget li a {
    padding: 10px 0;
    display: inline-block;
    color: #8d8992;
    font-size: 16px;
}
span.post-date {
    font-size: 10px;
    margin-top: -8px;
    text-transform: uppercase;
    display: inherit;
    padding-bottom: 10px;
    color: #866;
}
.widget li a:hover {
    color: #8066dc;
}
.widget li {
    border-bottom: 1px solid #f6f5fa;
}
.widget ul li:first-child {
    border-top: 1px solid #f6f5fa;
}

.widget ul li:hover .widget ul li:before{
     color: #8066dc;   
}
.widget select {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
.widget_rss ul li cite{
    margin-bottom: 10px;
    display: inherit;
    font-weight: bold;
    margin-top: 8px;
}
.widget_rss .sidebar-title:before,.widget_rss .footer-title:before {
    top: 22px;
}
.widget li.recentcomments {
    padding: 8px 0;
}

.textwidget img {
  margin: 25px 0px;
  display: inline-block;
  margin-top: 15px;
  width:100%;
  height: auto;
}
.textwidget .wp-caption.alignnone a img {
  margin: 0;
}
form.search-form label {
    float: left;
    width: 80%;
}

.widget [type=search] {
    height: 55px;
    width: 100%;
    padding: 0 45px 0 20px;
    border-radius: 50px!important;
    background: #ffffff;
}


form.search-form-widget.sidebar-widget {
    padding-bottom: 0;
}
.search-form-widget button[type="submit"] {
    background-color: transparent;
    color: #8c8080;
    padding: 0px;
    border-radius: 0 2px 2px 0;
    font-size: 16px;
}
.search-form-widget .btn-primary:not(:disabled):not(.disabled).active,.search-form-widget .btn-primary:not(:disabled):not(.disabled):active,.search-form-widget .show>.btn-primary.dropdown-toggle {
    color:#a595df;
    background-color: #fff;
    border-color: none;
}

.archive-count, .cat-count {
    float: right;
    padding: 0px 5px;
    display: block;
    margin-top: 10px;
    background: #ffffff;
    color: #967a7a;
    font-size: 14px;
    border-radius: 1px;
    min-width: 22px;
    border: 1px solid #ddd;
    text-align: center;
}
/*Calenadr CSS*/
#wp-calendar {
	width: 100%;
	max-width: 37.5rem;
	background: #ccc;
	margin-left: auto;
	margin-right: auto;
}

#wp-calendar caption {
	background: #8066dc;
	color: #fff;
	padding: 0.25rem;
	text-align: center;
}

#wp-calendar thead tr {
	border-right: 1px solid #ccc;
}

#wp-calendar thead th {
	font-size: 90%;
	font-weight: bold;
	padding: 0.25rem;
	background: #ccc;
	text-transform: uppercase;
	text-align: center;
}

#wp-calendar tbody td {
	position: relative;
	padding: 0px;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 2.5;
}

#wp-calendar tbody td.pad {
	opacity: 0.7;
}

#wp-calendar tbody td#today {
	font-weight: bold;
}

#wp-calendar tbody td#today:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 10px solid #8066dc;
	border-left: 10px solid transparent;
}

#wp-calendar tbody td a {
	display: block;
	background: rgba(50, 153, 187, 0.2);
}

#wp-calendar tbody td a:hover {
	background: #3299bb;
	color: #fff;
}

#wp-calendar tfoot tr {
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #ccc;
}

#wp-calendar tfoot tr td {
	border: 0;
	padding: 0;
}

#wp-calendar tfoot tr a {
	display: block;
	padding: 0.25rem 0.75rem;
}

#wp-calendar tfoot tr a:hover {
	background: #fff;
}

#wp-calendar tfoot tr #prev {
	text-align: left;
}

#wp-calendar tfoot tr #next {
	text-align: right;
}


.widget_rss .sidebar-title {
  margin-bottom: 45px;
  margin-top: -20px;
}

a.rsswidget {
  color: #8066dc;
  display: inline-block;
  font-size: 18px;
  line-height: 1.4;
}
span.rss-date {
  font-size: 12px;
      display: block;
}
.rssSummary {
  font-size: 14px;
  line-height: 1.7;
}
a.rsswidget:hover {
  text-decoration: underline!important;
}
img.rss-widget-icon {
  width: 15px;
  height: 15px;
  margin-top: -3px;
}
.tagcloud a {
    font-size: 18px !important;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 8px;
    padding: 8px 30px;
    border-radius: 25px;
    margin-right: 5px;
    color: #8d8992;
}
.tagcloud a:hover {
    background: #8066dc;
    color: #fff;
    text-decoration: none;
}

/* Comment Pagination */
.comment-pagination {
    float: left;
    width: 100%;
}

.comment-pagination .prev, .comment-pagination .next {
    background-color: #8066dc;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 2 !important;
    border: 1px solid #8066dc;
    padding: 4px 12px;
}
.comment-pagination .page-numbers {
    color: #8d8992;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 2px !important;
    border: 1px solid rgba(0, 1, 1, 0.01);
    padding: 4px 12px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 40px;
}
table {
    width: 100%;
    margin-bottom: 30px!important;
    table-layout: fixed;
    border: 1px solid #ddd;
    margin-top: 15px;
}
table tr {
    border-bottom: 1px solid #ddd!important;
    line-height: 1.6!important;
}
table tr th {
    padding: 15px 12px;
    border: 1px solid #ddd;
}
table tr td {
    border: 1px solid #ddd;
    padding-left: 10px;
}

/*fixing superfish design*/
  .sf-menu a {
    color: #13a;
    border: none;
    color: #fff;
}
.navigation-main .sf-menu >li >a {
    color: #fff;
}
.navigation-main ul.sub-menu li a {
    border-bottom: 1px solid #eceff3;
    color: #8d8992;
}
.navigation-main ul.sub-menu li a:hover {
    color: #226cbc;
}
.navigation-main .sf-menu li:hover,.sf-menu li,.sf-menu ul li{
     background: transparent!important;   
}
.navigation-main .sf-menu li a,.sf-menu ul li a{
     border:none;   
}
.navigation-main ul.sub-menu {
    background: #fff!important;
}
.navigation-main .sf-arrows ul .sf-with-ul:after {
    border-left-color: rgba(51, 46, 46, 0.5)!important;
}
.navigation-main .sf-arrows .sf-with-ul:after {
    border-top-color: #ffffff!important;
}
.navigation-main .sf-menu ul.sub-menu li a {
    border-bottom: 1px solid #eceff3;
}
.navigation-main span.sub-toggle.expanded i:before {
    transform: rotate(180deg);
    transition: .3s;
}
.header-navigation .navigation-box #example > li > ul.sub-menu:before {
    content: "";
    position: absolute;
    left: 24px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #ffffff;
    transition: all 0.5s ease 0s;
}
.collapse-button.navigation-close-icon .icon-bar{
     transition: 0.3s;   
}
.collapse-button.navigation-close-icon .icon-bar:nth-child(2) {
    display: none!important;
}
.collapse-button.navigation-close-icon .icon-bar:nth-child(1) {
    transform: rotate(45deg);
}
.collapse-button.navigation-close-icon .icon-bar:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -7px!important;
    display: block;
}
a.search-popup-icon {
    float: right;
    width: 20px;
    text-align: right;
    margin-top: 10px;
}
ul#example {
    float: right;
    width: calc(100% - 20px);
}
.service-logo .fa{
     margin-top:-5px;   
}
/* Elementor Editor Fix */
#elementor-add-new-section {
    margin: 160px auto!important;
}

.elementor-editor-preview .header-area.top32px, .elementor-editor-active .header-area.top32px {
    margin-top: 0;
}


figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 300;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.testimonial-img img{
     height:100%;   
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
     padding:0!important;   
}

.feature_icon1{
    background-size: 29px 30px;
    background-repeat: no-repeat;
}
.section-title .elementor-text-editor {
    width: 70%;
    margin: 0px auto;
}
.feature-box2:hover span.elementor-icon {
    background: #8066dc;
    transition: .5s;
}
.feature-box2:hover span.elementor-icon .fa{
    color: #fff;
}

.testimonial-slider .slick-dots li button {
    background: #f9f6f6;
}
.transfer-domain-form input[type="text"] {
    padding: 12px 20px;
    width:100%;
}
span.wpcf7-not-valid-tip {
    margin-top: 5px;
    font-family: poppins;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #ffffff;
    color: #ffffff;
}
span.wpcf7-form-control-wrap.domain-name {
    width: 80%;
}
.domain-transfer span.input-group-btn {
    width: 20%;
}
table.pricing-plan-table.table{
     table-layout: inherit;   
}
.contact-form div.wpcf7-mail-sent-ok {
    border: 2px solid #8066dc;
    color: #8066dc;
    
}

#wdc-style .small #Search {
    padding: 35px 20px;
    padding-left: 45px;
}
#wdc-style #Search{
    border-top-left-radius:55px!important;
    border-bottom-left-radius:55px!important;
}
#wdc-style .small button#Submit {
    font-size: 20px !important;
    background: white;
    color: #8066dc;
    box-shadow: none;
}
#wdc-style .input-group{
     margin:0 auto!important;
     box-shadow:none;
}
form#form .input-group.small{
    box-shadow: 0px 0px 49px 8px rgba(30, 41, 137, 0.08)!important;
    border-radius: 50px;
}
#wdc-style .input-group .input-group-btn {
    border-radius: 0 50px 50px 0!important;   
    padding-right: 15px;
}
.axiohost-breadcumb .breadcrumb a {
    color: #efedf1;
}
.axiohost-breadcumb .breadcrumb {
    background: none;
    color: white;
    padding:0;
}
.sidebar-widget.widget.widget_search {
    border: none;
    padding-top: 0px;
}
.sidebar-widget.widget.widget_search .search-form-widget {
    border: none;
    position: relative;
}

.sidebar-widget.widget.widget_search .search-form-widget span.input-group-btn,.nothing-found-search  span.input-group-btn{
    position: absolute;
    right: 20px;
    background: transparent;
    z-index: 5;
    top: 15px;
}
.admin-bar header.header-area {
    margin-top: 60px;
}
.admin-bar .searchBoxTop.active {
    margin-top: 32px;
}
.result-not-found{
     margin:0 auto;   
}
ul.social-share{
  float:left;
  width:100%;
}
ul.single-share li {
    padding: 3px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
    height: 30px;
    margin-right: 5px;
    list-style: none;
    float: left;
    padding: 4px;
}
#wdc-style .callout-danger,#wdc-style .callout-warning {
    background: none!important;
    border: none!important;
}
.check-domain #wdc-style #results div{
     color:#fff;   
}
.footer-copyright {
    border-top: 1px solid #edeaf7;
}
ul#menu-footer-links {
    padding: 0px;
    margin: 0px;
}
.footer-copyright-menu {
    padding: 0px;
    margin: 0px;
}
.footer-copyright-menu li{
     float:left;
     list-style:none;
}
h1.site-title {
    font-size: 28px;
    font-weight: 500;
}
.single-content .cat-count {
    display: none;
}
.single-content select {
    width: 100%;
    padding: 9px;
    height: 45px;
    border-color: #dedaeb;
    border-radius: 2px;
    margin-bottom: 10px;
}
form.post-password-form label{
     width:100%;
}
form.post-password-form label input {
    width: 50%;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #dedbe7;
    margin-top: 10px;
    padding: 15px;
    display: block;
}
form.post-password-form p > input {
    height: 45px;
    width: 100px;
    border: 1px solid #8066dc;
    background: #8066dc;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.trackback .comment-meta, .pingback .comment-meta {
    width: 100%;
}
.single-content iframe {
    width: 100%;
}
.blog-article .blog-post .blog-img img{
    max-height: 220px;
}
.footer-copyright-menu h2.widgettitle {
    display: none;
}
.footer-widget .footer-logo img {
    max-width: 120px;
    margin-bottom: 0px;
}
.footer-widget .footer-share-link a:hover .fa {
    color: white;
}
.space-top{
     padding-top: 100px;   
}
.footer-copyright-menu li a:hover {
    text-decoration: none;
}
.faq-class .elementor-accordion-item {
    margin-bottom: 20px;
        box-shadow: 0px 0px 36px -22px rgba(0,0,0,0.5);
}
.faq-class .elementor-accordion-item span.elementor-accordion-icon {
    font-size: 25px;
    margin-top: -5px;
}
span.comment-author-link {
    font-size: 12px;
    text-transform: uppercase;
}
.result-not-found {
    margin: 0 auto;
    padding-bottom: 100px;
}
@media only screen and (min-width: 991px){
     .slimmenu{
     display:none!important;   
}   

}

@media only screen and (max-width: 991px){
    .single-tags.list-inline{
         width: 100%!important;
         float: left!important;
         display:block!important;
         padding-left:0px!important;
    }
    .single-post .single-tags-share .single-share{
         width: 100%!important;
         float: left!important;
         padding-left: 0px;
    }
    .sf-menu{
       display:none!important;   
  }
  a.search-popup-icon{
     display:none;   
}
#navigation-menu li.has-submenu>ul:before{
     display:none;   
}
ul.slimmenu li>ul>li ul {
    left: 0!important;
    top: 0;
}
.call-to-btn-wrapper:before{
     display:none;   
}
}
@media only screen and (max-width: 520px){
    .comments_template ul.children {
        float: left; 
        width: 100%;
        padding-left: 5px;
    }
}
