#accordion-section-arouse_theme_info .accordion-section-title {
	background: #489498;
	color: #ffffff;
}

#accordion-section-arouse_theme_info .accordion-section-title:after {
	color: #ffffff;
}