/* ===============================================
   NOTICE SECTION
   =============================================== */
   
#setting-error-tgmpa {
	width:100;
	display:block;
	padding-left:20px;
	padding-right:30px
}

.diarjo_lite-notice {
	display:block;
	border-color:#ec7063;
	padding:25px
}

.diarjo_lite-notice .dismiss-notice {
	margin-top:5px;
	font-size:12px;
}

.diarjo_lite-notice .diarjo_lite-noticedescription {
	float:left;
	font-size:14px;
	width:75%;
}

.diarjo_lite-notice .button {
	background: #ec7063;
	border:solid 2px #ec7063;
	color:#fff !important;
	padding: 8px 16px;
	height:auto;
	line-height:normal;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	float:right;
	text-transform:uppercase;
	font-weight:bold
}

.diarjo_lite-notice .button:hover ,
.diarjo_lite-notice .button:active ,
.diarjo_lite-notice .button:focus {
	border-color: #e74c3c;
	background-color:#e74c3c;
}

@media screen and (max-width: 782px) {

	.diarjo_lite-notice {
		margin-top: 15px !important;
	}

	.diarjo_lite-notice .diarjo_lite-noticedescription {
		float:none;
		text-align:center;
		width:100%;
	}

	.diarjo_lite-notice .button {
		float: none;
		margin: 10px 0 0 0;
		width: 100%;
		text-align: center;	
	}

}
