/* Font rendering fix. */
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

/* Add some margin to Jetpack video. */
.jetpack-video-wrapper {
	margin-bottom: 1.5em;
}

/* Selection style. */
::selection {
	color: black;
	background: white;
}

/* Prevent the admin bar from overlapping the menu bar on the slider page. */
body.admin-bar #page {
	position: relative;
}

/*--------------------------------------------------------------
## Back to top.
--------------------------------------------------------------*/

/* Back to top. */
.back-to-top {
	position: fixed;
	right: 2.0%;
	bottom: -7.5%;
	padding: 5px;
	color: white;
	opacity: 0.5;
	visibility: hidden;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	background: $color__background-back-to-top;
	span {
		color: white;
		font-size: 24px;
	}
	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
	}
	&:focus {
		outline: white;
	}
}
.show-back-to-top {
	display: block;
	bottom: 1.0%;
	visibility: visible;
}
