nav#for-mobile {
    background: #222222;
    border-left: .0625em solid #222222;
    font-size: .8em;
    height: 5em;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    right: -3px;
    top: 0;
    width: 25em;
    z-index: 99;
}

.admin-bar nav#for-mobile {
    top: 32px;
}

nav#for-mobile:target {
    height: 100vh;
    overflow-y: scroll;
    right: -20px;
    width: calc( 25em + 17px );
}

.admin-bar nav#for-mobile:target {
    height: calc(100vh - 32px);
}

nav#for-mobile:not(:target) > ul,
nav#for-mobile:not(:target) > h3 {
    display: none;
}

nav#for-mobile a {
    color: #ffffff;
}

nav#for-mobile a:hover {
    color: #c52b30;
}

nav#for-mobile img.nav-logo {
    float: left;
    height: 4em;
    margin: .5em 1em .5em .5em;
}

nav#for-mobile h1 {
    display: block;
    font-family: 'Teko', sans-serif;
    line-height: 2.25em;
    padding: 0em .5em;
    text-align: center;
    text-transform: none;
}

nav#for-mobile h1 a:hover {
    color: #aaaaaa;
}

nav#for-mobile .customizer {
    bottom: 0;
    position: absolute;
    left: 0;
}

nav#for-mobile ul.social {
    background: #eeeeee;
    border-bottom: .0625em solid #cccccc;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 1.5em 1em 1em;
    text-align: center;
    width: calc( 100% - 2.5em );
}

nav#for-mobile ul.social li {
    background: none;
    display: block;
    height: 3.5em;
    position: relative;
}

nav#for-mobile ul.social li a {
    background: #c52b30;
    border-radius: 50%;
    color: #efefef;
    font-family: 'schwarttzy';
    font-size: 1.5em;
    font-weight: normal;
    margin: .1em;
    padding: .5em;
    position: relative;
    text-transform: none;
    top: .7em;
}

nav#for-mobile ul.social li a:hover {
    background: #333333;
}

nav#for-mobile > ul:only-child {
    min-height: calc(100vh - 6.5em);
}

nav#for-mobile ul.navigation {
    background: #ffffff;
    display: grid;
}

nav#for-mobile ul.navigation li {
    display: inline-block;
    float: none;
    text-align: left;
}

nav#for-mobile ul.navigation li a {
    border-bottom: .0625em solid #cccccc;
    color: #333333;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    padding: 1em 1.5em;
    text-transform: uppercase;
    width: calc(100% - 3em);
}

nav#for-mobile > ul.navigation > li:nth-child(2n),
nav#for-mobile > ul.navigation > li:nth-child(2n) li {
    background: #f8f8f8;
}

nav#for-mobile ul.navigation li li a {
    margin-left: 1.5em;
    width: 19.5em;
}

nav#for-mobile ul.navigation.dontrememberwhyihavethis li li:last-of-type a {
    margin: 0;
    padding-left: 3em;
    text-align: center;
}

nav#for-mobile ul.navigation li a:hover {
    color: #c52b30;
}

nav#for-mobile .menu-trick {
    float: right;
    height: 4.5em;
    position: relative;
    width: 5em;
}

nav#for-mobile .enable-drop-down,
nav#for-mobile .disable-drop-down {
    color: #aaaaaa;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.25em;
    padding: 1.25em 1.25em 1.25em 22em;
    position: absolute;
    right: .3em;
    text-align: right;
    top: 0em;
}

nav#for-mobile .enable-drop-down:hover,
nav#for-mobile .disable-drop-down:hover {
    color: #c52b30;
}

nav#for-mobile .disable-drop-down {
    width: auto;
}

nav#for-mobile:target .enable-drop-down,
nav#for-mobile:not(:target) .disable-drop-down {
    display: none;
}

nav#for-mobile h3 {
    color: #ffffff;
    margin-left: .5em;
    text-align: left;
}

nav#for-mobile h3 a {
    color: #ffffff;
}

nav#for-mobile h3 a:hover {
    color: #c52b30;
}

nav#for-mobile ul.navigation-widgets h3 {
    border-top: #ffffff solid .3em;
    margin: .25em 0;
    text-align: center;
}

nav#for-mobile ul.navigation-widgets li {
    border-bottom: #111111 solid .05em;
    color: #ffffff;
    display: block;
    padding: 1em 0;
}

nav#for-mobile ul.navigation-widgets > li {
    padding: 1em 1.5em 1em 1em;
}

nav#for-mobile ul.navigation-widgets > li:last-of-type {
    font-size: .7em;
    text-align: center;
}

nav#for-mobile ul.navigation-widgets a {
    color: #aaaaaa;
}

nav#for-mobile ul.navigation-widgets a:hover {
    color: #c52b30;
}

nav#for-mobile .gallery figcaption.wp-caption-text {
    display: none;
}

nav#for-mobile li.woocommerce-mini-cart-item {
    position: relative;
}

nav#for-mobile .widget_shopping_cart_content a {
    display: block;
}

nav#for-mobile .widget_shopping_cart_content a.remove_from_cart_button {
    color: #ffffff;
    display: block;
    font-size: 2em;
    left: 1em;
    margin: .5em 0;
    position: absolute;
    top: 0;
    width: 1em;
}

nav#for-mobile .widget_shopping_cart_content a.remove_from_cart_button:hover {
    color: #333333;
}

nav#for-mobile .widget_shopping_cart_content a.remove_from_cart_button:before {
    background: #c52b30;
    border-radius: 50%;
    border: .05em solid #eeeeee;
    content: '';
    height: 1em;
    left: -.025em;
    position: absolute;
    top: -0.075em;
    width: 1em;
    z-index: -1;
}

nav#for-mobile .widget_shopping_cart_content li.mini_cart_item img {
    border-radius: 50%;
    border: .3em solid #eeeeee;
    display: block;
    margin: .25em auto;
    text-align: center;
    width: calc( 75% - .5em );
}

nav#for-mobile p.woocommerce-mini-cart__empty-message {
    text-align: center;
}

nav#for-mobile .woocommerce-mini-cart__total {
    font-size: 1.5em;
    padding: 1em 1em 0;
}


nav#for-mobile .woocommerce-mini-cart__buttons {
    font-size: 1.5em;
    padding: 0 1em 1em;
}

@media screen and ( max-width:782px ){
    
    .admin-bar nav#for-mobile {
        
        top: 46px;
        
    }
    
    .admin-bar nav#for-mobile:target {
        
        height: calc( 100vh - 46px );
        
    }
    
}

@media screen and ( max-width:600px ){
    
    .admin-bar nav#for-mobile {
        
        top: 0px;
        
    }
    
    .admin-bar nav#for-mobile:target {
        
        height: 100vh;
        
    }
    
}