ul, ol {
	margin: 0 0 $small__spacing $base__spacing;
    padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__spacing;
}

dt {
	font-weight: $font__bold;
}

dd {
	margin: 0 $base__spacing $base__spacing;
}