table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    th {
        padding: $small__spacing;
        text-align: left;
    }
    td {
        padding: $small__spacing;
    }
}