table, th, td {
   border: 1px solid #ededed;
}

table {
    border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

th {
    font-family: 'Roboto', sans-serif;
    @include font-size(1.4);
    background: #f8f8f8;
	font-weight: bold;
    padding: 8px 15px;
}

td {
    padding: 5px 15px;
}

.site-footer {
    
    table, th, td {
       border: 1px solid #434343;
    }

    th {
        background: #222;
    }

}