.widgetlayer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding: 40px 20px 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.widgetlayer .brick {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
}

.widgetlayer + .site-content {
	border-top: 1px solid #e6e6e6;
}

.widgetlayer .widget a.button + a.button {
	margin-left: 0.4375rem;
}

.rtl .widgetlayer .widget a.button + a.button {
	margin-right: 0.4375rem;
	margin-left: 0;
}

.widgetlayer .only-title .textwidget {
	display: none;
}

.widgetlayer .only-title:not(.has-featured-image) .widget-title {
	margin-bottom: calc( -40px + 1.3125rem);
}

.widgetlayer .has-featured-image .widget-title {
	font-size: 1.25em;
	margin-bottom: 0.4375rem;
}

.widgetlayer-page .breadcrumbs {
	margin: 40px 20px 0;
}

.widgetlayer .widget-thumbnail {
	position: relative;
	margin: 0 auto 1.3125rem;
}

@media only screen and (min-width: 768px) {

	.widgetlayer-page .breadcrumbs {
		margin: 40px 40px 0;
	}

	.widgetlayer {
		padding: 20px 30px;
	}

	.widgetlayer .brick {
		margin: 0;
		padding: 20px 10px;
	}
}

@media only screen and (min-width: 1025px) {

	.widgetlayer {
		padding: 20px;
	}

	.widgetlayer .brick {
		padding: 20px;
	}
}

@media only screen and (min-width: 1366px) {

	.widgetlayer .only-title:not(.has-featured-image) .widget-title {
		margin-bottom: calc( -60px + 1.3125rem);
	}

	.widgetlayer-page .breadcrumbs {
		margin: 60px 60px 0;
	}

	.widgetlayer {
		padding: 30px;
	}

	.widgetlayer .brick {
		padding: 30px;
	}
}
