.site-header {
    background: #fff;
    .site-branding {
        @include outer-container();
        padding: $base__spacing;
        display: block;
        text-align: center;

        h1.site-title {
            margin: 0;
            padding: 0;
            a {
                margin: 0;
                padding: 0;
                display: block;
                font-weight: 400;
            }
        }
        .site-description {
            display: block;
            font-weight: 300;
            margin: 0;
            padding: 0;
            font-size: 1.2em;
        }
        .custom-logo {
            margin: $small__spacing 0;
        }
    }
    .header-image {
        display: block;
        margin: 0 auto;
    }
    //header navigation
    .header-nav {
        text-align: center;
        background: lighten($color__light-gray,20%);
        border-bottom: 1px solid $color__light-gray;
        ul {
            @include outer-container();
            margin-bottom: 0;
            display: block;
            list-style: none;
            li {
                display: inline-block;
                *display: inline;
                padding:$small__spacing $small__spacing/2;
                font-size: .95em;
            }
        }
    }
}
@include media(769px) {
.site-header.inline {
    .header-content {
        @include outer-container();
        display: block;
    }
        .site-branding {
            @include span-columns(6);
            display: block;
            text-align: left;
            padding-left: $base__spacing;
            padding-right: $base__spacing;
            h1.site-title {
                a {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    float: left;
                }
            }
        .site-description {
            margin: $small__spacing 0 $small__spacing $small__spacing;
            padding: 0;
            display: inline-block;
        }
        .custom-logo {
            margin: 25px 0;
        }
    }
    .header-nav {
        text-align: right;
        background: lighten($color__light-gray,20%);
        border-bottom: 1px solid $color__light-gray;
        ul {
            @include span-columns(6);
            @include omega();
            float: right;
            margin-bottom: 0;
            display: block;
            list-style: none;
            li {
                display: inline-block;
                *display: inline;
                padding:$small__spacing + 2 $small__spacing/2;
                font-size: 1em;
            }
        }
    }
}
}