.site-header {
    background: #fff;
    .site-title {
        @include outer-container();
        text-align: center;
        padding: $small__spacing $base__spacing;
        a {
            margin: 0;
            padding: 0;
            display: block;
            font-weight: $font__normal;
        }
    }
    .site-description {
        @include outer-container();
        padding:  0 $base__spacing $base__spacing $base__spacing ;
        display: block;
        text-align: center;
        font-weight: $font__light;
        font-size: 1.2em;
    }
    .custom-logo {
        margin: $small__spacing 0;
    }
    .header-image {
        display: block;
        margin: 0 auto;
    }
    //header navigation
    .header-nav {
        text-align: center;
        background: lighten($color__light-gray,20%);
        border-bottom: 1px solid $color__light-gray;
        ul {
            @include outer-container();
            margin-bottom: 0;
            display: block;
            list-style: none;
            li {
                display: inline-block;
                *display: inline;
                padding:$small__spacing $small__spacing/2;
                font-size: .95em;
            }
        }
    }
}