$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__main-theme-color: #fa5742;

$color__site-link: #fa5742;
$color__post-title: #353434;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: royalblue;
$color__link-hover: #333;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #eee;
$color__border-abbr: #666;

$color__top-nav: #232323;
$color__top-nav-text: #d7d7d7;
$color__top-nav-text-hover: #fff;
$color__top-nav-dropdown-background: #333333;
$color__top-nav-dropdown-background-hover: #222222;
$color__top-nav-dropdown-text: #ccc;
$color__top-nav-dropdown-text-hover: #fff;

$color__main-nav: #232323;
$color__main-nav-text: #CACACA;;
$color__main-nav-text-hover: #f1f1f1;
$color__main-nav-background-hover: #fa5742;
$color__main-nav-dropdown-background: #333;
$color__main-nav-dropdown-background-hover: #222;
$color__main-nav-dropdown-text: #ccc;
$color__main-nav-dropdown-text-hover: #fff;

$color__entry-meta: #9f9f9f;
$color__widget-title-background: #fa5742;
$color__widget-title: #fff;

$color__main-widget-area-link: #383732;
$color__main-widget-area-link-hover: #fa5742;

$color__site-footer: #323232;
$color_footer-widget-title: #f5f5f5;
$color_footer-text: #eee;
$color_footer-links: #fff;
