.main-navigation,
.top-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			//top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: -10px;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item a,
	.current-menu-item a {
	}
    

} 

.top-navigation {
    font-family: $font__top-navigation;
    @include font-size(1.2);
    
    a {
        color: $color__top-nav-text;
        line-height: 16px;
        padding: 9.5px 10px;
        @include transition(all, 0.2s, ease-in-out);
        
        &:hover {
            color: $color__top-nav-text-hover;
        }
    }
    
    ul {

        ul {
            background-color: $color__top-nav-dropdown-background; 
            padding: 10px;
            
            a {
                color: $color__top-nav-dropdown-text;
                line-height: 15px;
                padding: 10px 10px;
                
                &:hover {
                    background: $color__top-nav-dropdown-background-hover;
                }
            }
        
        }    
    
    }
    
    .menu-item-has-children > a:after,
    .page_item_has_children > a:after {
        color: #fff;
        content: "\f0da";
        display: inline-block;
        float: right;
        font-family: FontAwesome;
        font-size: 8px;
        margin: 2px 0 0 10px;	
    }
    
    @media (max-width: 992px) {
        display: none;
    }
}
.top-navigation ul > li > a:before {
    content: '|';
    position: absolute;
    right: -1px;
    color: #555;
}
.top-navigation ul > li > ul > li > a:before,
.top-navigation ul > li > ul > li:first-child > a:before{
    display: none;
}
.main-navigation {
    background: $color__main-nav;
    font-family: $font__navigation;
    @include font-size(1.5);
    font-weight: 500;
    text-transform: uppercase;
    
    a {
        color: $color__main-nav-text;
        line-height: 20px;
        padding: 15px 15px;
        @include transition(all, 0.2s, ease-in-out);
        
        &:hover {
            background: $color__main-nav-background-hover;
            color: $color__main-nav-text-hover;
        }
    }
    
    ul {
        
        ul {
            background-color: $color__main-nav-dropdown-background; 
            //font-family: 'Roboto', sans-serif;
            @include font-size(1.4);
            font-weight: normal; 
            text-transform: none;
            padding: 10px;
            
            a {
                color: $color__main-nav-dropdown-text;
                line-height: 20px;
                padding: 10px 15px;
                
                &:hover {
                    background: $color__main-nav-dropdown-background-hover;
                }
            }
        
        }
    }
    
    li.current-menu-item {
        background-color: #fa5742;
        a {
            color: #fff;
        }
    }
    
    .menu-item-has-children > a:after,
    .page_item_has_children > a:after {
        color: #CACACA;
        content: "\f054";
        display: inline-block;
        float: right;
        font-family: FontAwesome;
        font-size: 10px;
        margin: 2px 0 0 10px;	
    }
    
    @media (max-width: 992px) {
        display: none;
    }
    
}
#fa-custom-menu {
    font-size: 20px;
    line-height: 18px;
}

/* Small menu */
.menu-toggle {
	display: none;
}

.top-nav {
    background: $color__top-nav;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu,
    .top-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul,
    .top-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.post-navigation {
    padding: 1em 0;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    
    a {
        color: #444;
        &:hover {
            color: $color__main-theme-color;
        }
    }
}
.nav-previous,
.nav-next {
    //font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.nav-previous:before {
    content: "\f177";
	display: inline-block;
	font-family: FontAwesome;
    @include font-size(1.6);
	font-weight: normal;
	margin: 0 10px 0 0 ;
}
.nav-next:after {
    content: "\f178";
	display: inline-block;
	font-family: FontAwesome;
    @include font-size(1.6);
	font-weight: normal;
	margin: 0 0 0 10px ;
}
.paging-navigation {
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
    
    li {
        display: inline;
    }
}
.page-numbers {
    list-style: none;
    
    a {
        background-color: #383732;
        color: #fff;
        padding: 10px 15px;
        @include font-size(1.6);
        font-weight: bold;
        &:hover {
            background: $color__main-theme-color;
        }
    }
    
    .current {
        background: $color__main-theme-color;
        color: #fff;
        padding: 10px 15px;
        @include font-size(1.6);
        font-weight: bold;        
    }
}
.meta-nav-prev:before {
    content: "\f177";
	display: inline-block;
	font-family: FontAwesome;
    @include font-size(1.6);
	font-weight: normal;
	margin: 0 5px 0 0 ;   
}
.meta-nav-next:before {
    content: "\f178";
	display: inline-block;
	font-family: FontAwesome;
    @include font-size(1.6);
	font-weight: normal;
	margin: 0 0 0 5px ;   
}
.awaken-navigation-container {
    position: relative;
}
.awaken-search-box-container{
    display: none;
}
.awaken-search-button-icon {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 50px;
    line-height: 50px;
    color: #ddd;
}
.awaken-search-button-icon:before {
	content: '\f002';
	cursor: pointer;
    display: inline-block;
    font-family: 'FontAwesome';
}
.awaken-search-box-container {
	background: #fff;
	border: 3px solid #E3E3E3;
	display: none;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 50px;
	width: 328px;
	z-index: 999;
}
#awaken-search-form {

    input[type="submit"] {
        border-radius: 0;
        box-shadow: none;
        background-color: $color__main-theme-color;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        line-height: 40px;
        padding: 0;
        text-shadow: none;
        text-transform: uppercase;
        width: 92px;    
        @include transition( background, 0.2s, ease-in-out );

        &:hover {
            background: $color__link-hover;
        }

        &:focus {
            outline: none;
        }
    }
    
    input[type="text"] {
        background: #f1f1f1;
        border: none;
        color: #222;
        float: left;
        height: 40px;
        margin: 0;
        padding: 0 11px;
        width: 220px;

        &:focus {
            outline: none;
        }
    }
}

/* Mobile Navigation*/

#main-nav-button,
#top-nav-button {
	background: $color__main-nav;
	color: #fff;
	display: none;
	line-height: 50px;
	margin: 0 0 2px 0;
	text-align: center;
	width: 100%;

    &:hover {
	   color: #ccc;
       text-decoration: none;
    }
    
    @media (max-width: 992px) {
        display: inline-block;
    }
}
#main-nav-button:before,
#top-nav-button:before {
	content: "\f03a";
	display: inline-block;
	font-family: FontAwesome;
	margin: 0 10px ;
}
.responsive-mainnav,
.responsive-topnav {
	background: $color__main-nav;
	display:none;
    
    ul {
	   margin: 0;
	   padding: 5px;
    }
    
    li{
	   list-style: none;
        
        a {
           color: $color__main-nav-text;
	       line-height: 26px;
	       padding: 10px 15px;
           text-decoration: none;
           display: block;
        
            &:hover {
                background: $color__main-theme-color;
            }
        }
        
        ul {
	       margin-left: 2em;
        }
    }
}