//main navigation
@include media(769px) {
.main-navigation {
    clear: both;
    @include margin(null -999em);
    @include padding(null 999em);    
    //first center
    &.center {
        ul {
            text-align: center;
            ul {
                text-align: left;
            }
        }
    }
    //first
	ul {
        display: none;
		list-style: none;
		@include margin(0);
        @include padding(0 $base__spacing);

        li {
            *float: left;
            display: inline-block;
            position: relative;
            &:last-child {
            }
            a {
                display: block;
                @include margin(0);
                @include padding($small__spacing);
                &:hover,
                &.focus {
                }
            }
	    }
        li:hover > a,
        li.focus > a {
        }
        li:hover > ul,
        li.focus > ul {
			left: 0;
            right: auto;
		}
        //second level
        ul {
            @include padding(0);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
            -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
            &:after {
                content: none;
            }
            li {
                border:none;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
                    width: 100%;
				}
                a {
				    width: 200px;
                    &:hover,
                    &.focus {
                    }
                }
			}
			ul {
				left: -999em;
				top: 0;
			}
            //children
            .menu-item-has-children > a:after {
                font-family: 'simple-line-icons';
                content: "\e606";
                position: relative;
                float: right;
                @include opacity(.5);
            }
        }
    }
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
    }
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}
@include media(max-width 768px) {
    .main-navigation {
        clear: both;
        width: 100%;
        @include margin(0);
        @include padding(0 $base__spacing);
        &.center {
            text-align: center;
        }
        //first
        ul {
            display: none;
            list-style: none;
            @include margin(0);
            @include padding(0);
            li {
                border: none;
                @include margin(0);
                @include padding(0);
                a {
                    display: block;
                    @include margin(0);
                    @include padding($small__spacing 0);
                }
            }
            //second level
            ul {
                @include margin(0);
                @include padding(0);
                li {
                    @include margin(0);
                    @include padding(0);
                    a {
                        width: 100%;
                     }
                }
            }
        }
    }
    /* Small menu. */
    .menu-toggle,
    .main-navigation.toggled ul {
        display: block;
    }
    .main-navigation ul {
        display: none;
    }
    .menu-toggle {
        @include border-radius(0);
        font-size: 1em;
        @include margin(0);
        @include padding($small__spacing);
        &:hover {
        }
    }
    &.center {
        .menu-toggle {
            @include margin(0 auto);
        }
    }
}
