.options-container {
padding: 15px;
display:block;
margin-top:2em;
position: relative;
border:3px solid #ccc;
width: 680px;
}
.options-container h1 {
width: 22px;
background: #f7f7f7;
color: #7c7c7c;
text-shadow: 0 1px 2px #c5c5ca;
padding: 5px 5px 6px 5px;
border: thin solid #aaa;
border-radius: 2px;
text-align: center;
}
.options-table {
border: 1px solid #ccc;
padding: 15px;
width: 644px;
background: #fafafa;
margin: auto;
}
.options-table label {
padding:3px;
margin-right: 2em
}
.options-table input[type=text] {
background: #fafaef;
}
.updated {
min-width: 300px;
width: auto;
max-width: 300px;
}
#fade {
     -webkit-animation: fade 5s 3 600ms;
        animation: fade 5s 3 600ms;
}
    @-webkit-keyframes fade {
        50% {
            opacity: 0.02;
        }
    }
 
    @keyframes fade {
        50% {
            opacity: 0.02;
        }
    }