/* ------------------------------------------------------- */
/* CSS RESET --------------------------------------------- */
#theme-options h1,#theme-options h2,#theme-options h3,#theme-options h4,
#theme-options h5,#theme-options h6,#theme-options p,#theme-options a,#theme-options img,
#theme-options ol,#theme-options ul,#theme-options li,#theme-options input {
	border:0;
	font:inherit;
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
/* ------------------------------------------------------- */
/* RESPONSIVE FRAMEWORK STUFF - ROWS --------------------- */
.row:after {
	clear:both;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
/* Fix for IE6 */
* html .row { 
	zoom:1;
}
/* Fix for IE7 */
*:first-child+html .row { 
	zoom:1;
}
/* ------------------------------------------------------- */ 
/* RESPONSIVE FRAMEWORK STUFF - COLS --------------------- */
.col {
	display:block;
	float:left;
	margin-right:2%;
}
.col.last {
	margin:0;
}
/* RESPONSIVE FRAMEWORK STUFF - COL WIDTHS --------------- */
.col.width-100 { width:100%; }
.col.width-90 { width:89.80%; }
.col.width-80 { width:79.60%; }
.col.width-75 { width:74.50%; }
.col.width-70 { width:69.40%; }
.col.width-60 { width:59.20%; }
.col.width-50 { width:49.00%; }
.col.width-40 { width:38.80%; }
.col.width-33 { width:32.00%; }
.col.width-30 { width:28.60%; }
.col.width-25 { width:23.50%; }
.col.width-20 { width:18.40%; }
.col.width-10 { width:8.20%; }
/* ------------------------------------------------------- */ 
/* BOX SIZING -------------------------------------------- */
.box-sizing,input,textarea,.row,.col {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/* ------------------------------------------------------- */
/* GRADIENTS --------------------------------------------- */
.grey-gradient,
#theme-options #menu li.title,
#theme-options .setting .title {
	background:rgb(249,249,249);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  rgb(249,249,249) 0%, rgb(236,236,236) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,249,249)), color-stop(100%,rgb(236,236,236)));
	background:-webkit-linear-gradient(top,  rgb(249,249,249) 0%,rgb(236,236,236) 100%);
	background:-o-linear-gradient(top,  rgb(249,249,249) 0%,rgb(236,236,236) 100%);
	background:-ms-linear-gradient(top,  rgb(249,249,249) 0%,rgb(236,236,236) 100%);
	background:linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(236,236,236) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
}
.blue-gradient,
#theme-options input[type=submit],
#theme-options .upload {
	background:rgb(42,147,195);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhOTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTc2OWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  rgb(42,147,195) 0%, rgb(33,118,156) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(42,147,195)), color-stop(100%,rgb(33,118,156)));
	background:-webkit-linear-gradient(top,  rgb(42,147,195) 0%,rgb(33,118,156) 100%);
	background:-o-linear-gradient(top,  rgb(42,147,195) 0%,rgb(33,118,156) 100%);
	background:-ms-linear-gradient(top,  rgb(42,147,195) 0%,rgb(33,118,156) 100%);
	background:linear-gradient(to bottom,  rgb(42,147,195) 0%,rgb(33,118,156) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a93c3', endColorstr='#21769c',GradientType=0 );
}
.dark-blue-gradient,
#theme-options input[type=submit]:hover,
#theme-options .upload:hover {
	background:rgb(45,157,207);
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkOWRjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTc2OWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  rgb(45,157,207) 0%, rgb(33,118,156) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(45,157,207)), color-stop(100%,rgb(33,118,156)));
	background:-webkit-linear-gradient(top,  rgb(45,157,207) 0%,rgb(33,118,156) 100%);
	background:-o-linear-gradient(top,  rgb(45,157,207) 0%,rgb(33,118,156) 100%);
	background:-ms-linear-gradient(top,  rgb(45,157,207) 0%,rgb(33,118,156) 100%);
	background:linear-gradient(to bottom,  rgb(45,157,207) 0%,rgb(33,118,156) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9dcf', endColorstr='#21769c',GradientType=0 );
}
/* ------------------------------------------------------- */
/* HYPERLINKS -------------------------------------------- */
a:active,a:link,a:visited {
	color:rgb(33,117,155);
}
a:hover {
	color:rgb(213,78,33);
}
/* ------------------------------------------------------- */
/* THEME OPTIONS ---------------------------------------- */
#theme-options {
	color:rgb(85,85,85);
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	margin:4px 15px 0px 0px;
}
#theme-options input[type=submit] {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:solid 1px rgb(33,117,155);
	border-radius:4px;
	box-shadow:0px 1px 0px rgba(120, 200, 230, 0.5) inset;
	color:rgb(255,255,255);
	height:30px;
	line-height:30px;
	text-align:center;
	text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3);
}
#theme-options .upload {
	border:solid 1px rgb(33,117,155);
	box-shadow:0px 1px 0px rgba(120, 200, 230, 0.5) inset;
	color:rgb(255,255,255);
	height:38px;
	line-height:38px;
	margin-left:2%;
	text-align:center;
	text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3);	
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - HEADER -------------------------------- */
#theme-options #header {
	margin-bottom:10px;
}
#theme-options #header .title {
	color:rgb(70,70,70);
	display:block;
	font-size:23px;
	line-height:29px;
	padding:9px 15px 4px 0px;
}
#theme-options #header .version {
	font-weight:700;
	line-height:29px;
	text-align:right;
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - TOOLBAR ------------------------------- */
#theme-options #toolbar {
	margin-bottom:10px;
}
#theme-options #toolbar .notices {
	line-height:30px;
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - MENU ---------------------------------- */
#theme-options #menu {
	background:rgb(252,252,252);
	border:solid 1px rgb(223,223,223);
	margin-right:2%;
}
#theme-options #menu li a {
	background-color:rgb(236,236,236);
	background-position:left;
	background-repeat:no-repeat;
	border-bottom:solid 1px rgb(223,223,223);
	box-shadow:0 1px rgb(255,255,255) inset;
	display:block;
	font-weight:700;
	line-height:30px;
	padding:0 10px 0 35px;
	text-decoration:none;
}
#theme-options #menu li:last-child a {
	border-bottom:none;
}
#theme-options #menu li.general a {
	background-image:url(images/settings/menu-icons/general.png);
}
#theme-options #menu li.general a:hover {
	background-image:url(images/settings/menu-icons/general-hover.png);
}
#theme-options #menu li.header a {
	background-image:url(images/settings/menu-icons/header.png);
}
#theme-options #menu li.header a:hover {
	background-image:url(images/settings/menu-icons/header-hover.png);
}
#theme-options #menu li.homepage a {
	background-image:url(images/settings/menu-icons/homepage.png);
}
#theme-options #menu li.homepage a:hover {
	background-image:url(images/settings/menu-icons/homepage-hover.png);
}
#theme-options #menu li.footer a {
	background-image:url(images/settings/menu-icons/footer.png);
}
#theme-options #menu li.footer a:hover {
	background-image:url(images/settings/menu-icons/footer-hover.png);
}
#theme-options #menu li.slider a {
	background-image:url(images/settings/menu-icons/slider.png);
}
#theme-options #menu li.slider a:hover {
	background-image:url(images/settings/menu-icons/slider-hover.png);
}
#theme-options #menu li.social a {
	background-image:url(images/settings/menu-icons/social.png);
}
#theme-options #menu li.social a:hover {
	background-image:url(images/settings/menu-icons/social-hover.png);
}
#theme-options #menu li a:hover {
	background-color:rgb(228,228,228);
	background-image:url(images/icon-hover.png);
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - BODY ---------------------------------- */
#theme-options #body {
	margin-bottom:10px;
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - SETTING ------------------------------- */
#theme-options .setting,
#theme-options .setting .title {
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	padding:10px;
}
#theme-options .setting {
	background:rgb(252,252,252);
	border:solid 1px rgb(223,223,223);
}
#theme-options .setting .title {
	border-bottom:solid 1px rgb(223,223,223);
	box-shadow:0 1px rgb(255,255,255) inset;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:14px;
	margin:-10px;
	margin-bottom:10px;
}
#theme-options .setting .row {
	margin-top:10px;
}
#theme-options .setting label,
#theme-options .setting input[type=text] {
	height:38px;
	line-height:38px;
}
#theme-options .setting label {
	cursor:default;
	font-weight:700;
}
#theme-options .setting input[type=text],
#theme-options .setting textarea {
	background:rgb(255,255,255);
	border:solid 1px rgb(223,223,223);
	padding:0 10px;
	resize:none;
}
#theme-options .setting input[type=checkbox] {
	margin-left:20px;
}
#theme-options .setting .box {
	background:rgb(249,249,249);
	border:solid 1px rgb(223,223,223);
	margin-top:10px;
	padding:10px;
}

#theme-options .setting .required {
	color:rgb(255,0,0);
	float:right;
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - SOCIAL ICONS -------------------------- */
#theme-options #body #social label {
	background-position:right;
	background-repeat:no-repeat;
	padding-right:38px;
}
#theme-options #body #social #behance label {
	background-image:url(images/settings/social-icons/behance.png);
}
#theme-options #body #social #facebook label {
	background-image:url(images/settings/social-icons/facebook.png);
}
#theme-options #body #social #flickr label {
	background-image:url(images/settings/social-icons/flickr.png);
}
#theme-options #body #social #foursquare label {
	background-image:url(images/settings/social-icons/foursquare.png);
}
#theme-options #body #social #googleplus label {
	background-image:url(images/settings/social-icons/googleplus.png);
}
#theme-options #body #social #instagram label {
	background-image:url(images/settings/social-icons/instagram.png);
}
#theme-options #body #social #linkedin label {
	background-image:url(images/settings/social-icons/linkedin.png);
}
#theme-options #body #social #myspace label {
	background-image:url(images/settings/social-icons/myspace.png);
}
#theme-options #body #social #pintrest label {
	background-image:url(images/settings/social-icons/pintrest.png);
}
#theme-options #body #social #stumbleupon label {
	background-image:url(images/settings/social-icons/stumbleupon.png);
}
#theme-options #body #social #tumblr label {
	background-image:url(images/settings/social-icons/tumblr.png);
}
#theme-options #body #social #twitter label {
	background-image:url(images/settings/social-icons/twitter.png);
}
#theme-options #body #social #vimeo label {
	background-image:url(images/settings/social-icons/vimeo.png);
}
#theme-options #body #social #wordpress label {
	background-image:url(images/settings/social-icons/wordpress.png);
}
#theme-options #body #social #yelp label {
	background-image:url(images/settings/social-icons/yelp.png);
}
#theme-options #body #social #youtube label {
	background-image:url(images/settings/social-icons/youtube.png);
}
/* ------------------------------------------------------- */
/* THEME OPTIONS - FOOTER -------------------------------- */
#theme-options #footer .disclaimer {
	line-height:30px;
}
/* ------------------------------------------------------- */
/* ERRORS ------------------------------------------------ */
.errors {
	background:rgb(255,215,215);
	border:solid 1px rgb(223,148,148);
	color:rgb(189,50,50);
	margin:20px 20px 20px 0;
	padding:10px;
}
.errors h1.title {
	font-size:23px;
	font-weight:bold;
	line-height:23px;
	margin:0 0 10px 0;
}
.errors p {
	margin:0 0 10px 0;
}
.errors li {
	list-style-position:inside;
	margin:0;
	padding:0;
}
/* ------------------------------------------------------- */
/* OPTIONS SAVED ----------------------------------------- */
.settings-saved {
	background:rgb(223,242,191);
	border:solid 5px rgb(79,138,16);
	color:rgb(79,138,16);
	font-size:14px;
	height:100px;
	line-height:100px;
	left:50%;
    margin-top:-50px; /*set to a negative number 1/2 of your height*/
    margin-left:-10px; /*set to a negative number 1/2 of your width*/	
	position:absolute;
	text-align:center;
 	top:50%;
	width:200px;
}