.single-product main#the-article p.stock.in-stock {
    display: none;
}

.woocommerce-page form.cart button[type="submit"] {
	background: #c52b30;
    border: .1em solid #222222;
    border-radius: .1em;
	box-shadow: .1em .1em .25em #777777;
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 .25em;
    padding: .75em;
    text-shadow: .04em .04em .1em #111111;
	transition: background 0.2s ease-in-out;
    width: 9em;
}

.woocommerce-page form.cart button[type="submit"]:hover {
	background: #555555;
}

.single-product a.reset_variations {
	padding-left: 2em;
}

.single-product form.variations_form.cart select {
	margin: 1.2em;
	width: calc(100% - 2.4em);
}

.woocommerce-page form.woocommerce-cart-form dl.variation dt,
.woocommerce-checkout .woocommerce .woocommerce-checkout-review-order-table dl dt {
	float: left;
	padding-right: 1em;
}

.woocommerce-cart form.woocommerce-cart-form div.coupon {
	float: left;
}

.woocommerce .wc-item-meta-label {
	float: left;
	padding-right: 1em;
}

.woocommerce-cart form.woocommerce-cart-form div.coupon label {
	line-height: 5em;
}

.woocommerce .woocommerce-Price-amount {
	float: right;
}

main#the-article .woocommerce .woocommerce-shipping-methods,
main#the-article .woocommerce .wc-item-meta,
main#the-article .woocommerce .woocommerce-order-overview {
	list-style: none;
}

main#the-article .woocommerce .wc_payment_methods {
	margin: 4em 0;
	list-style: none;
}

main#the-article .woocommerce .wc_payment_methods li {
	text-align: center;
}

.woocommerce-order-received .woocommerce {
	margin: 1em auto 2em;
	max-width: 45em;
}

main#the-article .woocommerce .wc_payment_methods li label {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	margin: 1em 0 0;
	padding: 1em;
}

main#the-article .woocommerce .wc_payment_methods li .payment_box p {
	color: #c52b30;
	text-align: center;
}

main#the-article .woocommerce .woocommerce-shipping-methods li {
	margin: 0 0 1em;
}

.woocommerce .cart-collaterals .woocommerce-shipping-totals td,
.woocommerce .cart-collaterals .woocommerce-shipping-totals .woocommerce-shipping-destination {
	text-align: right;
}
.woocommerce .cart-collaterals .woocommerce-shipping-totals td li label {
	margin-right: 2em;
}

.woocommerce .cart-collaterals .woocommerce-shipping-totals .woocommerce-shipping-calculator {
	margin: 1em 0;
	text-align: right;
}

.woocommerce .cart-collaterals .wc-proceed-to-checkout {
	margin: 1em 0;
}

.woocommerce .cart-collaterals .wcppec-checkout-buttons {
	margin: 3em 0 0;
}

.woocommerce .cart-collaterals .wcppec-checkout-buttons .wcppec-checkout-buttons__separator {
	margin: 3em 0;
	text-align: center;
}
.woocommerce-checkout .woocommerce .col-1,
.woocommerce-checkout .woocommerce .col-2 {
    margin-bottom: 4em;
}

.woocommerce-checkout .woocommerce .woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout .woocommerce .woocommerce-shipping-fields__field-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.woocommerce-checkout .woocommerce .woocommerce-billing-fields__field-wrapper p,
.woocommerce-checkout .woocommerce .woocommerce-shipping-fields__field-wrapper p {
    margin: 2em 4em 0 0;
    text-align: left;
    width: calc( 50% - 4em);
}

.woocommerce-checkout .woocommerce .woocommerce-billing-fields__field-wrapper label,
.woocommerce-checkout .woocommerce .woocommerce-shipping-fields__field-wrapper label {
    display: inline-block;
    width: 100%;
}

.woocommerce-checkout .woocommerce .woocommerce-billing-fields__field-wrapper input,
.woocommerce-checkout .woocommerce .woocommerce-shipping-fields__field-wrapper input {
    display: inline-block;
    width: 100%;
}

.woocommerce-checkout .woocommerce .woocommerce-additional-fields {
    margin: 4em 0;
}

.woocommerce-checkout .woocommerce .col-2 .woocommerce-input-wrapper {
    display: grid;
}


main#the-article .woocommerce .cart-collaterals .cart_totals,
main#the-article .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    margin: 5em auto 2em;
    max-width: 60em;
    text-align: right;
}

main#the-article .woocommerce button.button,
main#the-article .woocommerce input.button {
	float: right;
	margin: 1em;
}

.single-product form.cart {
    text-align: center;
}

.woocommerce form.cart div.clear {
	clear: none !important;
}

main#the-article .woocommerce-message,
main#the-article .woocommerce-info {
    border-top-color: #c52b30;
    margin: 0 auto 2em;
    max-width: 40em;
}

.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after {
    clear: none !important;
}

main#the-article form.woocommerce-cart-form,
main#the-article form.checkout {
    margin: 0 auto;
    max-width: 60em;
}

main#the-article .woocommerce table.shop_table {
    border: none;
    border-collapse: separate;
    border-radius: 0em;
    margin: 0;
    text-align: left;
    width: 100%;
}

main#the-article .woocommerce #respond input#submit,
main#the-article .woocommerce a.button,
main#the-article .woocommerce button.button,
main#the-article .woocommerce input.button {
    background-color: #333333;
    border-radius: 0em;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    left: auto;
    line-height: 1;
    overflow: visible;
    padding: 1em;
    position: relative;
}

.woocommerce-cart main#the-article .woocommerce .woocommerce-message a.button {
    display: none;
}

main#the-article .woocommerce #content table.cart td.actions .input-text,
main#the-article .woocommerce table.cart td.actions .input-text,
main#the-article .woocommerce-page #content table.cart td.actions .input-text,
main#the-article .woocommerce-page table.cart td.actions .input-text {
    width: 8em;
}

article #add_payment_method table.cart td.actions .coupon .input-text,
body.woocommerce-cart table.cart td.actions .coupon .input-text,
body.woocommerce-checkout table.cart td.actions .coupon .input-text {
    border: .0625em solid #333333;
    line-height: 1.5em;
    margin: 0 .75em 0;
    outline: 0;
    padding: .45em;
}

main#the-article .woocommerce table.shop_table th {
    font-weight: bold;
    padding: .5em .75em;
}

article #add_payment_method table.cart img,
body.woocommerce-cart table.cart img,
body.woocommerce-checkout table.cart img {
    width: 6em;
}

main#the-article .woocommerce table.shop_table td {
    border-top: .0625em solid rgba(0,0,0,.1);
    padding: .5em .75em;
    vertical-align: middle;
}


main#the-article .woocommerce a.remove {
    border-radius: 100%;
    color: #c52b30 !important;
    display: block;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
    vertical-align: middle;
}

main#the-article .woocommerce a.remove:hover {
    background-color: #c52b30 !important;
}

main#the-article .woocommerce #respond input#submit:hover,
main#the-article .woocommerce a.button:hover,
main#the-article .woocommerce button.button:hover,
main#the-article .woocommerce input.button:hover {
    background-color: #333333;
    color: #777777;
}

main#the-article .woocommerce #respond input#submit.disabled,
main#the-article .woocommerce #respond input#submit:disabled,
main#the-article .woocommerce #respond input#submit[disabled]:disabled,
main#the-article .woocommerce a.button.disabled, .woocommerce a.button:disabled,
main#the-article .woocommerce a.button[disabled]:disabled,
main#the-article .woocommerce button.button.disabled,
main#the-article .woocommerce button.button:disabled,
main#the-article .woocommerce button.button[disabled]:disabled,
main#the-article .woocommerce input.button.disabled,
main#the-article .woocommerce input.button:disabled,
main#the-article .woocommerce input.button[disabled]:disabled {
    color: #444444;
    cursor: not-allowed;
    opacity: 1;
    padding: 1em;
}

main#the-article .woocommerce #respond input#submit.disabled:hover,
main#the-article .woocommerce #respond input#submit:disabled:hover,
main#the-article .woocommerce #respond input#submit[disabled]:disabled:hover,
main#the-article .woocommerce a.button.disabled:hover,
main#the-article .woocommerce a.button:disabled:hover,
main#the-article .woocommerce a.button[disabled]:disabled:hover,
main#the-article .woocommerce button.button.disabled:hover,
main#the-article .woocommerce button.button:disabled:hover,
main#the-article .woocommerce button.button[disabled]:disabled:hover,
main#the-article .woocommerce input.button.disabled:hover,
main#the-article .woocommerce input.button:disabled:hover,
main#the-article .woocommerce input.button[disabled]:disabled:hover {
    color: #222222;
    background-color: #333333;
}

main#the-article .woocommerce-page .form.checkout_coupon{
    float: none;
    margin: 0 auto 2em;
    max-width: 60em;
    text-align: right;
}

main#the-article .woocommerce form.checkout_coupon,
main#the-article .woocommerce form.login,
main#the-article .woocommerce form.register {
    border: .0625em solid #d3ced2;
    padding: 1.5em;
    margin: 2em auto;
    max-width: 40em;
    text-align: center;
}

.woocommerce-account main#the-article .woocommerce-MyAccount-navigation,
.woocommerce-account main#the-article .woocommerce-MyAccount-content {
    float: none;
    width: auto;
}

.woocommerce-account main#the-article .woocommerce-MyAccount-navigation ul {
    list-style: none;
    max-width: 60em;
    text-align: center;
}

.woocommerce-account main#the-article .woocommerce-MyAccount-navigation ul li {
    display: inline-table;
    margin: 2em 0;
}

.woocommerce-account main#the-article .woocommerce-MyAccount-navigation ul li a {
    background: #333333;
    border: #ffffff solid .25em;
    color: #ffffff;
    padding: .75em;
    margin: .25em;
}

.woocommerce-account main#the-article .woocommerce-MyAccount-navigation ul li a:hover {
    color: #cccccc;
}

.woocommerce-account fieldset {
    margin: 1em auto;
}

.woocommerce-account main#the-article .woocommerce input.button {
    float: right;
}

.woocommerce-account main#the-article .woocommerce table.shop_table {
    margin: 2em auto;
}

main#the-article .woocommerce #respond input#submit.alt,
main#the-article .woocommerce a.button.alt,
main#the-article .woocommerce button.button.alt,
main#the-article .woocommerce input.button.alt {
    background-color: #c52b30;
    color: #ffffff;
}

.woocommerce .col2-set,
.woocommerce-page .col2-set,
main#the-article div#order_review {
    margin: 2em auto;
    max-width: 60em;
}

main#the-article .woocommerce #respond input#submit.alt:hover,
main#the-article .woocommerce a.button.alt:hover,
main#the-article .woocommerce button.button.alt:hover,
main#the-article .woocommerce input.button.alt:hover {
    background-color: #b5282c;
}

article #add_payment_method .cart-collaterals .cart_totals table,
body.woocommerce-cart .cart-collaterals .cart_totals table,
body.woocommerce-checkout .cart-collaterals .cart_totals table {
    margin: 0 0 .5em;
}

td.product-remove,
td.product-thumbnail {
    text-align: center;
}

main#the-article .woocommerce-info::before,
main#the-article .woocommerce form .form-row.woocommerce-invalid label,
main#the-article .woocommerce form .form-row .required {
    color: #c52b30;
}


main#the-article .woocommerce form .form-row.woocommerce-validated .select2-container,
main#the-article .woocommerce form .form-row.woocommerce-validated input.input-text,
main#the-article .woocommerce form .form-row.woocommerce-validated select {
    border-color: #333333;
}

main#the-article .woocommerce form .form-row.woocommerce-invalid .select2-container,
main#the-article .woocommerce form .form-row.woocommerce-invalid input.input-text,
main#the-article .woocommerce form .form-row.woocommerce-invalid select {
    border-color: #c52b30;
}

article .select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0em;
}

article .select2-container .select2-selection--single {
    height: 3em;
	width: 105%;
}


article .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
    line-height: 3em;
}

article .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.5em;
    top: .0625em;
    right: .0625em;
    width: 1.5em;
}

article #add_payment_method #payment,
body.woocommerce-cart #payment,
body.woocommerce-checkout #payment {
    border-radius: 0em;
}

body.woocommerce .products ul,
body.woocommerce ul.products {
    margin: 0 auto 2em;
    max-width: 60em;
    padding: 0;
    list-style: none outside;
    clear: both;
}