header#title-and-image,
header#blog-title-and-image {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eeeeee;
    height: 35em;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    text-shadow: .05em -.05em .05em #2c2e32;
}

/* iOS Safari / iPhones don't display background-size: cover; correctly when used with background-attachment: fixed; I hate you Apple */
@media (orientation: portrait) { _::-webkit-full-page-media, _:future, :root header#title-and-image, _::-webkit-full-page-media, _:future, :root header#blog-title-and-image { background-attachment: scroll !important; background-size: 200vh !important; } }
@media (orientation: landscape) { _::-webkit-full-page-media, _:future, :root header#title-and-image, _::-webkit-full-page-media, _:future, :root header#blog-title-and-image { background-attachment: scroll !important; background-size: 200vw !important; } }

header h2.header-text {
    bottom: -.275em;
    font-size: 5em;
    line-height: 1em;
    padding: 0 0 0 5vw;
    position: absolute;
    max-height: 1em;
    overflow: hidden;
    text-align: left;
    width: 95vw;
}

header h2.header-text span.woo-commerce-product-price {
    background: #ffffff;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
    font-size: .6em;
    height: 3.2em;
    margin: .1em .7em .1em .1em;
    position: relative;
    top: 1.3em;
    width: 3.2em;
    z-index: 3;
}

header h2.header-text span.woo-commerce-product-price:before,
header h2.header-text span.woo-commerce-product-price:after {
    background: #ffffff;
    content: "";
    height: 3.2em;
    left: -.1em;
    margin: .1em;
    position: absolute;
    top: -.1em;
    width: 3.2em;
    z-index: -1;
}

header h2.header-text span.woo-commerce-product-price:before,
header h2.header-text span.woo-commerce-product-price:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

header h2.header-text span.woo-commerce-product-price:after,
header h2.header-text span.woo-commerce-product-price:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

header h2.header-text span.woo-commerce-product-price span {
    background: #c52b30;
    color: #ffffff;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: .1em;
    position: absolute;
    text-shadow: .05em .05em .05em #111111;
    width: 3em;
    z-index: 3;
}

header h2.header-text span.woo-commerce-product-price span:before,
header h2.header-text span.woo-commerce-product-price span:after {
    background: #c52b30;
    content: "";
    height: 3em;
    left: 0;
    position: absolute;
    top: 0;
    width: 3em;
    z-index: -1;
}

header h2.header-text span.woo-commerce-product-price span:before,
header h2.header-text span.woo-commerce-product-price span:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

header h2.header-text span.woo-commerce-product-price span:after,
header h2.header-text span.woo-commerce-product-price span:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

header#title-and-image .customizer-title-image,
header#blog-title-and-image .customizer-title-image {
    left: 4em;
    max-width: 12em;
    position: absolute;
    top: 4em;
    z-index: 10;
}

header#title-and-image .customizer-title-image-2,
header#blog-title-and-image .customizer-title-image-2 {
    left: 4em;
    max-width: 12em;
    position: absolute;
    top: 8em;
    z-index: 10;
}

header#title-and-image .customizer-title-image-3,
header#blog-title-and-image .customizer-title-image-3 {
    background: rgba(0,0,0,.6);
    left: 4em;
    max-width: 20em;
    padding: 1em;
    position: absolute;
    top: 12em;
    text-align: justify;
    z-index: 10;
}