/**
 * --------------------------------------------------------------------------------
 * Blurb Apex
 * --------------------------------------------------------------------------------
*/

.ct-blurb-prime {
    display: flex;

    .ct-blurb-prime-icon {
        .fa {
            font-size: $font-size*3;
            margin-right: 2rem;
        }
    }

    .ct-blurb-prime-title {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: normal;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
        font-weight: 300;
    }
}
