/**
 * --------------------------------------------------------------------------------
 * General Style
 * --------------------------------------------------------------------------------
*/

#ct-footer-tag {
    &::before {
        content: '';
        display: block;
        margin-bottom: $font-size*3;

        width: 100%;
        height: .4rem;

        @include gradient(45deg, $primary-color, 0%, $secondary-color, 70%);
    }
}

.ct-bb-right {
    text-align: center;
}

.ct-bottom-bar {
    &::before {
        content: '';
        display: block;
        margin-bottom: $font-size;

        width: 100%;
        height: .1rem;

        @include gradient(45deg, $primary-color, 0%, $secondary-color, 70%);
    }
}
