/**
 * --------------------------------------------------------------------------------
 * Portfolio Gallery
 * --------------------------------------------------------------------------------
*/

.ct-portfolio-gallery {
    .columns {
        width: 25%;
        margin-left: 0;
    }
}

.ct-portfolio{
    position:relative;
    width: 100%;
    .ct-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        @include gradient(45deg, $primary-color, 0%, $secondary-color, 70%);
    }

    .ct-portfolio-content{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        .fa {
            font-size: 1.4rem;
        }

        .ct-rollover-content{
            padding: 20px;
            h2 {
                color: $white-color;
            }

            a {
               color: $primary-color;
            }
        }
    }

    &:hover {
        .ct-overlay {
            opacity: .9;
        }
    }

    .ct-img {
      display: block;
      width: 100%;
      height: auto;
    }
}

.circle-icon {
    background: $white-color;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    padding: 5px;
}




.lightbox-opened {
  background-color: #333;
  background-color: rgba(#333, 0.9);
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;

  &:before {
    background-color: #333;
    background-color: rgba(#333, 0.9);
    color: #eee;
    content: "x";
    right: 0;
    font-family: sans-serif;
    padding: 6px 12px;
    position: fixed;
    text-transform: uppercase;
  }

  img {
    box-shadow: 0 0 6px 3px #333;
  }
}

// No Background Scroll

.no-scroll {
  overflow: hidden;
}
