/**
 * --------------------------------------------------------------------------------
 * Main Stylesheet
 * --------------------------------------------------------------------------------
*/

$primary-color: #e8664a;
$secondary-color: #d4145a;
$white-color: #fff;

$light-white-color: #fafafa;
$hr-divider: #dee0e0;
$dark-color: #303030;

$font-size: 1.6rem;

$base-margin: $font-size*3;

.pre-font-family-1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.pre-font-family-2 {
    font-family: 'Poppins', sans-serif;
}

.pre-shadow {
   box-shadow: 0 2px 21px 3px rgba(0,0,0,.2);
}

@mixin transition( $property ) {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

@mixin gradient( $direction, $start-color, $start-per, $end-color, $end-per ) {
  background: $start-color;
  background: -webkit-linear-gradient($direction, $start-color $start-per, $end-color  $end-per);
  background: -moz-linear-gradient($direction, $start-color $start-per, $end-color  $end-per);
  background: -o-linear-gradient($direction, $start-color $start-per, $end-color  $end-per);
  background: linear-gradient($direction, $start-color $start-per, $end-color  $end-per);
}

.fa {
  -webkit-text-stroke: 0;
}

.ct-text-center {
    text-align: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.ct-padding {
    padding: $font-size*5 0;
}

.ct-sm-b-padding {
    padding: 0 0 $font-size*3 0;
}

.ct-container-img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.ct-divider {
    position: relative;
    border-bottom: 1px solid $hr-divider;
    z-index: 2;
}
img{
  max-width:100%;
}

.fa-gradient {
  &::before{
    @include gradient(45deg, $primary-color, 0%, $secondary-color, 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text-gradient {
  @include gradient(45deg, $primary-color, 0%, $secondary-color, 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
