/*=========================
    16. CONTACT
===========================*/

.contact-section {
    .form-control {
        margin-bottom: 30px;
    }

    .button-container {
        text-align: center;

        .animated-button {
            border-radius: 3px;
            width: 100%;
            @extend .pre-shadow;

            &::before {
                border-radius: 3px;
            }
        }
    }

    .content-detials {
        .left-content {
            margin-bottom: $inner-padding;
        }

        .blurb-content {
            margin-bottom: $inner-padding;

            &:last-child {
                margin-bottom: 0;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 6px;
            }

            .contact-icon {
                width: 10%;
                float: left;

                span {
                    color: $primary-color;

                    font-size: $font-size*1.8;
                    line-height: 40px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                }
            }

            .contact-content {
                width: 90%;
                float: left;
            }
        }
    }
}
