/*=========================
    09. PORTFOLIO SECTION
===========================*/

.filter-controls {
    text-align: center;
}

.portfolio-controls-button {
    position: relative;
    background-color: $white-color;
    display: inline-block;
    padding: $inner-padding/2 $inner-padding;
    border-radius: 50px;
    @extend .pre-shadow;
}

.active {
    color: $primary-color;
}

.filter {
    position: relative;
    padding-right: $inner-padding;
    cursor: pointer;

    &:last-child {
        padding-right: 0;

        &::after {
            content: unset;
        }
    }

    &::after {
        position: absolute;
        top: 0;

        content: '';
        display: inline-block;
        line-height: 1;

        width: 1px;
        height: $inner-padding;
        margin-left: $inner-padding/2;

        background-color: $border-color;
    }
}

.lb-closeContainer {
    position: absolute;
    top: -30px;
    right: 21.8%;
}

.filtr-item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    img {
        border-radius: 3px;
    }

    .item-container {
        position: relative;
        overflow: hidden;
    }

    .overlay-content {
        position: absolute;
        top: 3%;
        left: 3%;
        width: 94%;
        height: 94%;
        border-radius: 3px;

        background-color: $white-color;

        opacity: 0;
        overflow: hidden;
        @include transition( all .3s ease-in-out );
        @include transform( translateY( 30px ) );

        &::after {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;

            content: '';
            display: block;
            border: 2px solid $primary-color;
            border-radius: 3px;

        }

        h6,
        p {
            @extend .pre-font-family-1;
            font-size: 18px;
            line-height: $font-size*1.5;
            letter-spacing: .4px;
            font-weight: 400;

            display: inline-block;
            margin: 30px 0 2px 30px;
        }

        p {
            margin-top: 0;
            font-size: $font-size - 2;
            display: block;
        }

        .fa {
            position: absolute;
            right: 30px;
            bottom: 30px;

            color: $primary-color;
            text-align: center;

            border: 1px solid $primary-color;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            margin: 10px;
            line-height: 30px;

            cursor: pointer;
            z-index: 1;
        }
    }

    &:hover {
        .overlay-content {
            opacity: .9;
            @include transform( translateY( 0 ) );
        }
    }

}

@media only screen and (max-width: 767px){
    .filtr-item {
        width: 100%;
    }
}
