/*=========================
    13. CALL TO ACTION
===========================*/

.cta-section {
    position: relative;
    background-image: url(../images/main-slider-bg1.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .cta-title {
        h3 {
            color: $white-color;
            margin-top: 11px;
        }
    }
}
