/*=========================
    15. CLIENT SECTION
===========================*/

.client-slider-section {
    padding: $inner-section-padding 0;
}

.slider {
    overflow: hidden;
}

.client-logos {
    img {
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
}
