.container-fluid {
    .ct-featured-image {
        width: auto;
        background-position: center;
        background-repeat: no-repeat, repeat;
        background-color: #cccccc;
        background-size: cover;
        height: 540px;
        max-width: 100%;
    }
}

.ct-static-width-blog {
    margin-top: -80px;
}

.ct-static-blog-title {
    width: 100%;
    box-sizing: border-box;

    .ct-post-title{
        width: 78%;
        float: left;
    }
    .ct-post-title{
        h2{
            margin-bottom:0;
        }
    }
}

.ct-gradient-date {
    background: linear-gradient(45deg, #e8664a 0%, #d4145a 70%);
    border-radius: 20px;
    float: right;

    p{
        @extend .pre-font-family-2;
        color: $white-color;
        line-height: 24px;
        margin-bottom: 0;
        text-align: center;
        padding: 2px 12px;
    }
}

.ct-static-blog-bg {
    background-color: #fff;
    @extend .pre-shadow;
    margin-bottom: $base-margin;
}

.ct-static-post-style {
    position: relative;
    padding: 25px;
    background: #fff;
}

.ct-nav-links {
    width: 100%;
    overflow-wrap: break-word;

    .ct-nav-previous {
        width: 50%;
        float: left;
    }

    .ct-nav-next {
        width: 50%;
        float: right;
        text-align: right;
    }
}
.ct-author-bio-box{
    padding: 20px;

    .ct-bio-gravatar{
        float:left;
        margin-right: 10px;
    }
    .ct-bio-gravatar{
        img {
            border-radius: 50%;
            width: 70%;
            height: auto;
        }
    }
    .ct-img-size{
       width: 90px;
    }
    .ct-author-bio-description{
        float: left;

        h4 {
            margin-bottom:0;
        }

        p {
            margin-bottom: 0;
        }
    }
}
