.subfooter {
    overflow: hidden;
	padding: 60px 0;
	background-color: #f3f3f3;
}

.footer {
    position: relative;
    overflow: hidden;
	padding: 20px 0 20px;
    clear: both;
	text-align: center;
	background-color: #333333;
}