body {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    background: #fff;
    color: #919191;
	font-size: 1.05rem;
	line-height: 1.6;
	font-weight: 400;
}

::selection  {
	color:#fff;
	background-color: #22c0e3;
}

/* MAIN THEME COLORS */
.primary-color {
	color: #22c0e3;
}

.primary-color-bg {
	background-color: #22c0e3;
}

.primary-color-border {
	border-color: #22c0e3;
}

.secondary-color {
	color: #424247;
}

.secondary-color-bg {
	background-color: #424247;
}

.secondary-color-border {
	border-color: #424247;
}

.screen-reader-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.clear {
    clear: both;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

html body .outer .hidden {
    display: none;
}

/* PRINTING STYLES */
@media print {
    .header,
    .subfooter,
    .footer {
        display: none;
    }
}

.wp-smiley {
    margin: 0;
}

.sticky {
}

.bypostauthor {
}

/* DARK CONTENT */
body .dark {
    color: #eee;
}

body .dark h1, body .dark h2, body .dark h3, body .dark h4, body .dark h5, body .dark h6,
body .dark .heading,
body .dark a:link,
body .dark a:visited,
body .dark a:hover,
body .dark a:focus {
    color: #fff;
}