.woocommerce, .woocommerce-page, .elementor-page {

  &.single-product {

    .product {
      text-align: left;
      .product_title {
        border-bottom: 0px;
      }
    }
    .upsells.products {
      width: 100%;
      ul.products {
        width: 100%;
      }
    }
    div.product {
      form.cart {
        float: left;
      }
      .entry-summary .yith-wcwl-add-to-wishlist {
        float: left;
        margin-top: 0px;
        .yith-wcwl-add-button a {
          color: $white_color;
        }
        .yith-wcwl-wishlistaddedbrowse a, .yith-wcwl-add-button a, .yith-wcwl-wishlistexistsbrowse a {
          padding: 0.618em 1em;
          line-height: 1;
          font-size: 100%;
          background: $white_color;
          border: 1px solid #dae2e6;
          color: $secondary_color;
          float: left;
          border-radius: 0px;
          &:hover {
            background: $primary_color;
          }
        }
        a i {
          margin-right: 0px;
        }
      }
      p.price, span.price {
        color: $primary_color;
        display: block;
        width: 100%;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 15px;

        del, ins {

          display: inline-block;
          font-weight: normal;

        }
        del, del span {
          font-weight: normal;
          font-size: 16px;
          color: #9d9d9d;
          margin-right: 5px;
        }
      }

      .single_add_to_cart_button {

        padding: 11px;
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        border: 1px solid #dae2e6;
        background:$primary_color;
        &:hover {
          background: $secondary_color;
        }

      }
      .woocommerce-tabs {
        .panel h2 {
          font-weight: 600;
          font-size: 17px;
        }
        ul.tabs {
          li {
            border-radius: 0;
            border-color: $primary_color;
            background: $primary_color;
            a {
              font-weight: 400;
              color:$white_color;
            }
            &.active {
              background:$white_color;
              a {
                font-weight: 600;
                color:$primary_color;
              }
            }
          }
          &:before {
            border-color: $primary_color;
          }
        }
      }
    }

    div.images .flex-control-thumbs {
      margin-left: -5px;
      margin-right: -5px;
      li {
        padding: 0px 5px;
        margin-bottom: 5px;
      }
    }

    .woocommerce-product-details__short-description p {
      color: #8a8a8a;
    }
    .woocommerce-product-details__short-description p {
      color: #8a8a8a;
    }
    .woocommerce-tabs ul.tabs li {
      &::after, &::before, &::after, &::before {
        display: none;
      }
    }
    .comment-form {
      margin: 0;
    }

    .images .woocommerce-product-gallery__wrapper {
      margin: 0px;
      img {
        margin-bottom: 0px;
      }
    }
    .woocommerce-product-gallery--with-images .flex-viewport {
      margin-bottom: 10px;
    }
    .images .woocommerce-product-gallery__image:nth-child(n+2) {
      padding: 0px 5px;
    }

  }
}