.breadcrumb {
    padding: 0;
    margin-bottom: $margin;
    background-color: transparent;
}
.woocommerce { 
    .woocommerce-ordering{
        margin: 6px 0 47px;
        float: right;
        width: 270px;
        max-width:100%;
        span.customSelect{
            width:100%;    
        }
    }
    .woocommerce-result-count{
        margin: 14px 0 24px;
        float: left;
    }

}
.woocommerce-pagination{
    padding: 0;
    margin-bottom: 24px;
    a,
    span{   
        display: block;
        padding: 11px 20px;
        margin: 0 20px 20px 0;
        background: #f5f5f5;
        font-size: 18px;
        font-weight: 400;
        float:left;
        &.dots{
            padding: 11px 17px;
            background: transparent;
        }
    }
    a:hover,
        span,
        a.page-numbers:hover,
        .page-numbers.current{
        background: $brandColor;
        color: #ffffff;

    } 
    a{        
        text-decoration: none; 
    }
}
@media (max-width: 480px){
    .woocommerce .woocommerce-ordering {
        float: none;
        width: 100%;
    }
}