.cross-sells,
.cart_totals { 
    padding: 0 0 0;
    margin:0 0 0 ;
    border: 0px solid;
    h2{
        font-size:$fontSizeH3;
    }
}
.cross-sells+.cart_totals{
    margin: 0 ;
}
.shop_table.cart{
    .quantity .qty{
        max-width: 70px;
    }
    img{
        @include box-shadow(none);
        width:70px;
    }
    .remove{ 
        color:#4d5058;
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
    }
    .coupon{
        display: inline-block;
        label{
            display: none;
        }
        .input-text{ 
            margin-right: 10px;
            width:270px;
        }
    }
    tbody td.actions{
        text-align: left;
    }
    input[name="update_cart"]{
        float:right;
    }

}
.cart-collaterals{
    ul.products { 
        li.product{
            width:25%;
            &:nth-child(3n+1){
                clear: none;
            }
            &:nth-child(4n+1){
                clear: both;
            }
        }
    }
}

.cart_totals{
    overflow:hidden;
    h2,
    table,
    .wc-proceed-to-checkout{
        width:50%;
        float: right;
        clear: both;
    }  
    p{
        margin: 0;
    }
    .shipping-calculator-form p{
        margin: $margin 0 0;
    }

    .wc-proceed-to-checkout .button{ 
        float: left;
    }
    .woocommerce-shipping-calculator{
        margin-top: $margin;
    }
}
.site-main .entry-content .payment_methods.methods{
    li{
        margin: 0;
        padding: 0;
        border:0 solid;
        list-style: none;
    }
}
ul#select2-results-2{
    background: #ffffff;
}
.select2-results .select2-highlighted{
    color:inherit;
    background: #ffffff;
}
.checkout{
    label{
        display: block;
    }
    input[type="text"], input[type="url"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], select, textarea {
        width:100%;    
    }

    .select2-container .select2-choice{
        background:#ffffff;
        border:1px solid #cecdcd;
        position: relative;
        max-width: 100%;   border-radius: 0;
        padding: 0;
    }
    .select2-container .select2-choice>.select2-chosen{
        display: block;
        padding: 7px 34px 7px 14px;
        min-width: 100%;
        height: 35px;
        max-width: 100%;
        text-align: left;
        border-radius: 0;
    }
    .select2-container .select2-choice .select2-arrow{
        border-radius: 0;
        width:29px;
        height: 29px;
        background: $grey;
        color:inherit;
        top: 3px;
        right: 3px;
        text-align: center;
    }

    .select2-container .select2-choice .select2-arrow b:after {
        left: auto;
        margin-left: 10px;
        margin-top: -1px;
        border-top-color:$textColor;
        border-bottom: 0;
    }
    .customSelect{
        display: none!important;
    }
    .payment_methods,
    #shipping_method {
        list-style: none;
        label{
            display: inline-block;
        }
    }
}
.select2-drop.select2-drop-above{
    border-radius: 0;
}
.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active{
    border-color:#cecdcd;
}
h3 label{
    font-weight: 700;
}

@media (max-width: 991px){ 
    .cart_totals h2, .cart_totals table, .cart_totals .wc-proceed-to-checkout {
        width: 100%;
    }
}
@media (max-width: 767px){ 
    .shop_table.cart .coupon{
        display:block;
    }
    .shop_table.cart .coupon .input-text ,
    .shop_table.cart .coupon .button{        
        margin-bottom: 14px;
    }
    .shop_table.cart input[name="update_cart"] {
        float: none;
    }
    .shop_table .product-thumbnail{
        display: none;
    }
    .shop_table tbody td, .shop_table tbody th, .shop_table tfoot td, .shop_table tfoot th {
        padding: 14px 4px;
    }
    .cart-collaterals ul.products li.product {
        width: 270px;
        max-width:100%;
    }

}