.woocommerce .woocommerce-message ,
.woocommerce .woocommerce-info{ 
    border-top:2px solid  $brandColor;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
    float: right;
}
.woocommerce .woocommerce-error:after, .woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:after, .woocommerce .woocommerce-message:before {
    content: " ";
    display: table;
}
.clear, .woocommerce .woocommerce-breadcrumb:after, .woocommerce .woocommerce-error:after, .woocommerce .woocommerce-info:after, .woocommerce .woocommerce-message:after {
    clear: both;
}

.woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
    padding: $margin;
    margin: 0px 0 $margin;
}
.woocommerce .woocommerce-error {
    border-top:2px solid  $error
}