.woocommerce span.onsale {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    color:#ffffff;   
    min-width: 100px;
    padding: 6px;
    text-align: center; 
    background: $brandColor;
}