@import "onsale";
.product img{
    display: block;
    margin: 0 0 10px;
}
td.label {
    display: table-cell;
    color: inherit;
    padding: 22px 29px 21px;;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: top;
    border-radius: none;
}
.woocommerce { 
    ul.products { 
        margin: 0 -15px;
        overflow: hidden;
        clear: both;
        .onsale{
            left:15px;
        }
        li.product{
            list-style: none;
            position: relative;
            float: left;
            padding: 0 15px;
            margin: 0 0 47px;
            width:33.333%;
            border:0px solid;
            &:before{
                display:none;                
            }
            &>a:first-child{
                display: block;
            }
            a:hover,
                a:focus{
                text-decoration: none;
                & h3{
                    text-decoration: underline;
                }
            }
            h3{
                font-size: $fontSizeH5;
                margin: 0 0 9px;
            }
            a img{
                display: block;
                margin: 0 0 $margin;
            }
            &:nth-child(3n+1){
                clear: both;
            }
            .button,
            .added_to_cart{
                width:100%;
                display: block;
                margin: 21px 0 0 ;
            }
            .added_to_cart{
                margin:24px 0 0;
            }
        }
    }
}
@media (max-width: 1229px)and(min-width: 992px){ 

}

@media (max-width: 991px){
    .single-product .quantity {
        margin-bottom: 24px;
    }

}
@media (max-width: 767px){
    .woocommerce { 
        ul.products { 

            li.product{
                width:50%; 
                &:nth-child(3n+1) {
                    clear: none;
                }
                &:nth-child(2n+1){
                    clear: both;
                }
            }
        }
    }
    .woocommerce ul.products li.product > a:first-child{        
        min-height: auto;
    }
    .single-product .images {
        padding:0;
        margin: 0 auto 39px;
        width: 100%;
        max-width: 100%;
        float: none;
        overflow: hidden;
    }
    .woocommerce.single-product .product > span.onsale {

    }
    .site-main .tabs li {
        float: none;
    }
    
}
@media (max-width:480px){
     .woocommerce ul.products .onsale {
     left: 0; 
}
    .woocommerce { 
        margin-left:0;
        ul.products { 
            margin: 0;
            li.product{
                padding: 0;
                margin:0 auto 47px;
                float: none;
                width:270px;
                max-width:100%;
            }
        }
    }
    .woocommerce  span.onsale {

    }
}