.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
//comment
.comments-area {
    margin: 3em 0;
    .comment-reply-title {
        font-weight: 400;
    }
    .comment-list {
        margin-left: 0;
        .children {
            padding: 0;
            margin: 0 0 0 40px;
            position: relative;
            &:before {
                font-family: 'simple-line-icons';
                content: "\e051";
                transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
                -webkit-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
                -moz-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
                -o-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
                -ms-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
                position: absolute;
                left: -30px;
                top: 5px
            }
        }
        .comment {
            list-style: none;
            .comment-content {
                padding: 10px 0 0 0;
            }
            .reply {
                font-size: 0.923em;
                margin-bottom: 30px;
            }
            .comment-meta {
                .comment-author {
                    .avatar {
                        @include padding(0);
                        @include margin(5px 10px 5px 0);
                        float: left
                    }
                }
                .comment-metadata {
                font-size: 0.9em;
                    a {
                        clear: right;
                    }
                }
            }
        }
    }
}
