.site-branding {
    min-height: 135px;
}

.site-title {
    font-family: 'ubuntu', sans-serif;
    font-size: 44px;
    font-weight: 500;
    margin: 30px 0 0 20px;

    a {
        color: #fa5742;
        text-decoration: none;
        
        &:hover {
            color: #333;
        }
    }
}

.site-description {
    color: #7e7e7e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin: 0 0 30px 20px;
}

.site-logo {
    display: inline;
    float: left;
}
.site-title-text {
    float: left;
}

.site-header {
    margin-bottom: 40px;
}


.site-footer {
    background: $color__site-footer;
    margin-top: 40px;
}